DataGovernanceStore/Libraries/MDMLibrarySolution/ServiceManager/MDM.Services.Client/Service References/SecurityServiceClient/SecurityService5.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/MDM.BusinessObjects.DQM" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/MDM.BusinessObjects.DQM" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfNamedKPIValue">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="NamedKPIValue" nillable="true" type="tns:NamedKPIValue" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfNamedKPIValue" nillable="true" type="tns:ArrayOfNamedKPIValue" />
  <xs:complexType name="NamedKPIValue">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:KPIValue">
        <xs:sequence>
          <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="NamedKPIValue" nillable="true" type="tns:NamedKPIValue" />
  <xs:complexType name="KPIValue">
    <xs:sequence>
      <xs:element minOccurs="0" name="KPIid" type="xs:short" />
      <xs:element minOccurs="0" name="MeasurementDate" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Value" nillable="true" type="xs:boolean" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="KPIValue" nillable="true" type="tns:KPIValue" />
</xs:schema>