DataGovernanceStore/Libraries/MDMLibrarySolution/ServiceManager/MDM.Services.InternalClient/Service References/LegacyDataAccessServiceClient/LegacyDataAccessService11.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/System" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/System" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost/Development_WCFServices/LegacyDataAccessService.svc?xsd=xsd12" namespace="http://schemas.datacontract.org/2004/07/MDM.BusinessObjects.Jobs" />
  <xs:import schemaLocation="http://localhost/Development_WCFServices/LegacyDataAccessService.svc?xsd=xsd13" namespace="http://schemas.datacontract.org/2004/07/MDM.BusinessObjects.Exports" />
  <xs:complexType name="TupleOfArrayOfJobArrayOfExportProfileK6YRQvOz">
    <xs:annotation>
      <xs:appinfo>
        <GenericType Name="TupleOf{0}{1}{#}" Namespace="http://schemas.datacontract.org/2004/07/System" xmlns="http://schemas.microsoft.com/2003/10/Serialization/">
          <GenericParameter Name="ArrayOfJob" Namespace="http://schemas.datacontract.org/2004/07/MDM.BusinessObjects.Jobs" />
          <GenericParameter Name="ArrayOfExportProfile" Namespace="http://schemas.datacontract.org/2004/07/MDM.BusinessObjects.Exports" />
        </GenericType>
      </xs:appinfo>
    </xs:annotation>
    <xs:sequence>
      <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/MDM.BusinessObjects.Jobs" name="m_Item1" nillable="true" type="q1:ArrayOfJob" />
      <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/MDM.BusinessObjects.Exports" name="m_Item2" nillable="true" type="q2:ArrayOfExportProfile" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="TupleOfArrayOfJobArrayOfExportProfileK6YRQvOz" nillable="true" type="tns:TupleOfArrayOfJobArrayOfExportProfileK6YRQvOz" />
</xs:schema>