DataGovernanceStore/Libraries/MDMLibrarySolution/ServiceManager/MDM.Services.Client/Service References/AuthenticationServiceClient/AuthenticationService13.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://wcfservices.riversand.com" elementFormDefault="qualified" targetNamespace="http://wcfservices.riversand.com" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost/MDM7.6-SP_WCFServices/AuthenticationService.svc?xsd=xsd2" namespace="http://mdmobjects.riversand.com/" />
  <xs:element name="AuthenticateUser">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="userLoginName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="password" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AuthenticateUserResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="AuthenticateUserResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSecurityPrincipal">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="userLoginName" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSecurityPrincipalResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://mdmobjects.riversand.com/" minOccurs="0" name="GetSecurityPrincipalResult" nillable="true" type="q1:SecurityPrincipal" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ProcessUserCredentialRequest">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://mdmobjects.riversand.com/" minOccurs="0" name="userRequestContext" nillable="true" type="q2:UserCredentialRequestContext" />
        <xs:element xmlns:q3="http://mdmobjects.riversand.com/" minOccurs="0" name="callerContext" nillable="true" type="q3:CallerContext" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ProcessUserCredentialRequestResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://mdmobjects.riversand.com/" minOccurs="0" name="ProcessUserCredentialRequestResult" nillable="true" type="q4:OperationResult" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>