DataGovernanceStore/Libraries/MDMLibrarySolution/ServiceManager/MDM.Services.Client/Service References/DiagnosticServiceClient/MDM.BusinessObjects.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:ser="http://schemas.microsoft.com/2003/10/Serialization/" xmlns:tns="http://schemas.datacontract.org/2004/07/MDM.BusinessObjects" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/MDM.BusinessObjects" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
  <xs:import namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
  <xs:import namespace="http://mdmobjects.riversand.com/" />
  <xs:import namespace="http://schemas.datacontract.org/2004/07/MDM.Core" />
  <xs:complexType name="CallerContext">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q1="http://mdmobjects.riversand.com/" base="q1:ObjectBase">
        <xs:sequence>
          <xs:element minOccurs="0" name="ActivityId" type="ser:guid" />
          <xs:element xmlns:q2="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="AdditionalProperties" nillable="true" type="q2:ArrayOfKeyValueOfstringanyType" />
          <xs:element minOccurs="0" name="Application" type="q1:MDMCenterApplication" />
          <xs:element minOccurs="0" name="JobId" type="xs:int" />
          <xs:element minOccurs="0" name="MDMPublisher" type="q1:MDMPublisher" />
          <xs:element minOccurs="0" name="MDMSource" type="q1:EventSource" />
          <xs:element minOccurs="0" name="MDMSubscriber" type="q1:EventSubscriber" />
          <xs:element minOccurs="0" name="Module" type="q1:MDMCenterModules" />
          <xs:element minOccurs="0" name="OperationId" type="ser:guid" />
          <xs:element minOccurs="0" name="ProfileId" type="xs:int" />
          <xs:element minOccurs="0" name="ProfileName" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="ProgramName" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="ServerId" type="xs:int" />
          <xs:element minOccurs="0" name="ServerName" nillable="true" type="xs:string" />
          <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/MDM.Core" minOccurs="0" name="TraceSettings" nillable="true" type="q3:TraceSettings" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="CallerContext" nillable="true" type="tns:CallerContext" />
  <xs:complexType name="ExecutionContext">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q4="http://mdmobjects.riversand.com/" base="q4:ObjectBase">
        <xs:sequence>
          <xs:element minOccurs="0" name="_additionalContextData" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="_callDataContext" nillable="true" type="tns:CallDataContext" />
          <xs:element minOccurs="0" name="_callerContext" nillable="true" type="tns:CallerContext" />
          <xs:element minOccurs="0" name="_legacyMDMTraceSources" nillable="true" type="q4:ArrayOfMDMTraceSource" />
          <xs:element minOccurs="0" name="_securityContext" nillable="true" type="tns:SecurityContext" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="ExecutionContext" nillable="true" type="tns:ExecutionContext" />
  <xs:complexType name="CallDataContext">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q5="http://mdmobjects.riversand.com/" base="q5:ObjectBase">
        <xs:sequence>
          <xs:element xmlns:q6="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="_attributeIdList" nillable="true" type="q6:ArrayOfint" />
          <xs:element xmlns:q7="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="_categoryIdList" nillable="true" type="q7:ArrayOflong" />
          <xs:element xmlns:q8="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="_containerIdList" nillable="true" type="q8:ArrayOfint" />
          <xs:element xmlns:q9="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="_entityIdList" nillable="true" type="q9:ArrayOflong" />
          <xs:element xmlns:q10="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="_entityTypeIdList" nillable="true" type="q10:ArrayOfint" />
          <xs:element minOccurs="0" name="_localeList" nillable="true" type="q5:ArrayOfLocaleEnum" />
          <xs:element xmlns:q11="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="_lookupTableNameList" nillable="true" type="q11:ArrayOfstring" />
          <xs:element xmlns:q12="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="_organizationIdList" nillable="true" type="q12:ArrayOfint" />
          <xs:element xmlns:q13="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="_relationshipTypeIdList" nillable="true" type="q13:ArrayOfint" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="CallDataContext" nillable="true" type="tns:CallDataContext" />
  <xs:complexType name="SecurityContext">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q14="http://mdmobjects.riversand.com/" base="q14:ObjectBase">
        <xs:sequence>
          <xs:element minOccurs="0" name="_userId" type="xs:int" />
          <xs:element minOccurs="0" name="_userLoginName" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="_userRoleId" type="xs:int" />
          <xs:element minOccurs="0" name="_userRoleName" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="SecurityContext" nillable="true" type="tns:SecurityContext" />
</xs:schema>