DataGovernanceStore/Libraries/MDMLibrarySolution/ServiceManager/MDM.Services.Client/Service References/DiagnosticServiceClient/wcfservices.riversand.com.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://wcfservices.riversand.com" elementFormDefault="qualified" targetNamespace="http://wcfservices.riversand.com" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import namespace="http://schemas.datacontract.org/2004/07/MDM.Core" />
  <xs:import namespace="http://schemas.datacontract.org/2004/07/MDM.BusinessObjects" />
  <xs:import namespace="http://schemas.datacontract.org/2004/07/MDM.BusinessObjects.Diagnostics" />
  <xs:import namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
  <xs:import namespace="http://mdmobjects.riversand.com/" />
  <xs:element name="GetApplicationDiagnostic">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/MDM.Core" minOccurs="0" name="type" type="q1:ApplicationDiagnosticType" />
        <xs:element minOccurs="0" name="startDateTime" type="xs:dateTime" />
        <xs:element minOccurs="0" name="entityId" type="xs:long" />
        <xs:element minOccurs="0" name="count" type="xs:long" />
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/MDM.BusinessObjects" minOccurs="0" name="callerContext" nillable="true" type="q2:CallerContext" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetApplicationDiagnosticResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetApplicationDiagnosticResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSystemDiagnostic">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/MDM.Core" minOccurs="0" name="type" type="q3:SystemDiagnosticType" />
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/MDM.Core" minOccurs="0" name="subType" type="q4:SystemDiagnosticSubType" />
        <xs:element minOccurs="0" name="count" type="xs:long" />
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/MDM.BusinessObjects" minOccurs="0" name="callerContext" nillable="true" type="q5:CallerContext" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSystemDiagnosticResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetSystemDiagnosticResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ProcessDiagnosticData">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/MDM.BusinessObjects.Diagnostics" minOccurs="0" name="diagnosticActivities" nillable="true" type="q6:DiagnosticActivityCollection" />
        <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/MDM.BusinessObjects.Diagnostics" minOccurs="0" name="diagnosticRecords" nillable="true" type="q7:DiagnosticRecordCollection" />
        <xs:element xmlns:q8="http://schemas.datacontract.org/2004/07/MDM.BusinessObjects" minOccurs="0" name="callerContext" nillable="true" type="q8:CallerContext" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ProcessDiagnosticDataResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ProcessDiagnosticDataResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetActivities">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q9="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="operationId" type="q9:guid" />
        <xs:element xmlns:q10="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="activityId" type="q10:guid" />
        <xs:element xmlns:q11="http://schemas.datacontract.org/2004/07/MDM.BusinessObjects.Diagnostics" minOccurs="0" name="diagnosticDataContext" nillable="true" type="q11:DiagnosticDataContext" />
        <xs:element xmlns:q12="http://schemas.datacontract.org/2004/07/MDM.BusinessObjects" minOccurs="0" name="callerContext" nillable="true" type="q12:CallerContext" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetActivitiesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q13="http://schemas.datacontract.org/2004/07/MDM.BusinessObjects.Diagnostics" minOccurs="0" name="GetActivitiesResult" nillable="true" type="q13:DiagnosticActivityCollection" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetRecords">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q14="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="operationId" type="q14:guid" />
        <xs:element xmlns:q15="http://schemas.datacontract.org/2004/07/MDM.BusinessObjects" minOccurs="0" name="callerContext" nillable="true" type="q15:CallerContext" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetRecordsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q16="http://schemas.datacontract.org/2004/07/MDM.BusinessObjects.Diagnostics" minOccurs="0" name="GetRecordsResult" nillable="true" type="q16:DiagnosticRecordCollection" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetRelatedDiagnosticRecordData">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="relativeDataReferanceId" type="xs:long" />
        <xs:element xmlns:q17="http://schemas.datacontract.org/2004/07/MDM.Core" minOccurs="0" name="diagnosticRelativeDataType" type="q17:DiagnosticRelativeDataType" />
        <xs:element xmlns:q18="http://schemas.datacontract.org/2004/07/MDM.BusinessObjects" minOccurs="0" name="callerContext" nillable="true" type="q18:CallerContext" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetRelatedDiagnosticRecordDataResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetRelatedDiagnosticRecordDataResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="StartDiagnosticTraces">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q19="http://schemas.datacontract.org/2004/07/MDM.BusinessObjects" minOccurs="0" name="callerContext" nillable="true" type="q19:CallerContext" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="StartDiagnosticTracesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q20="http://mdmobjects.riversand.com/" minOccurs="0" name="StartDiagnosticTracesResult" nillable="true" type="q20:OperationResult" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="StopDiagnosticTraces">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q21="http://schemas.datacontract.org/2004/07/MDM.BusinessObjects" minOccurs="0" name="callerContext" nillable="true" type="q21:CallerContext" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="StopDiagnosticTracesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q22="http://mdmobjects.riversand.com/" minOccurs="0" name="StopDiagnosticTracesResult" nillable="true" type="q22:OperationResult" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>