DataGovernanceStore/Libraries/MDMLibrarySolution/ServiceManager/MDM.Services.Client/Service References/DenormServiceClient/DenormService17.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/MDM.BusinessObjects.Denorm" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/MDM.BusinessObjects.Denorm" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost/MDM7.6-SP5-HF_WCFServices/DenormService.svc?xsd=xsd3" namespace="http://mdmobjects.riversand.com/" />
  <xs:complexType name="EntityProcessorErrorLogCollection">
    <xs:sequence>
      <xs:element minOccurs="0" name="_entityProcessorErrorLogs" nillable="true" type="tns:ArrayOfEntityProcessorErrorLog" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="EntityProcessorErrorLogCollection" nillable="true" type="tns:EntityProcessorErrorLogCollection" />
  <xs:complexType name="ArrayOfEntityProcessorErrorLog">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="EntityProcessorErrorLog" nillable="true" type="tns:EntityProcessorErrorLog" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfEntityProcessorErrorLog" nillable="true" type="tns:ArrayOfEntityProcessorErrorLog" />
  <xs:complexType name="EntityProcessorErrorLog">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q1="http://mdmobjects.riversand.com/" base="q1:MDMObject">
        <xs:sequence>
          <xs:element minOccurs="0" name="ContainerId" type="xs:int" />
          <xs:element minOccurs="0" name="EntityActivityLogId" type="xs:long" />
          <xs:element minOccurs="0" name="ErrorMessage" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="Id" type="xs:long" />
          <xs:element minOccurs="0" name="ImpactedEntityId" type="xs:long" />
          <xs:element minOccurs="0" name="ImpactedEntityLongName" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="ImpactedEntityName" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="ModifiedDateTime" nillable="true" type="xs:dateTime" />
          <xs:element minOccurs="0" name="ModifiedProgram" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="ModifiedUser" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="PerformedAction" type="q1:EntityActivityList" />
          <xs:element minOccurs="0" name="Priority" type="xs:int" />
          <xs:element minOccurs="0" name="ProcessorName" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="EntityProcessorErrorLog" nillable="true" type="tns:EntityProcessorErrorLog" />
</xs:schema>