DataGovernanceStore/Libraries/MDMLibrarySolution/ServiceManager/MDM.Services.Client/Service References/DenormServiceClient/DenormService21.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/MDM.Core" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/MDM.Core" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="TraceSettings">
    <xs:sequence>
      <xs:element minOccurs="0" name="_isTracingEnabled" type="xs:boolean" />
      <xs:element minOccurs="0" name="_tracingLevel" type="tns:TracingLevel" />
      <xs:element minOccurs="0" name="_tracingMode" type="tns:TracingMode" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="TraceSettings" nillable="true" type="tns:TraceSettings" />
  <xs:simpleType name="TracingLevel">
    <xs:restriction base="xs:string">
      <xs:enumeration value="None" />
      <xs:enumeration value="Basic" />
      <xs:enumeration value="Detail" />
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="TracingLevel" nillable="true" type="tns:TracingLevel" />
  <xs:simpleType name="TracingMode">
    <xs:restriction base="xs:string">
      <xs:enumeration value="None" />
      <xs:enumeration value="OperationTracing" />
      <xs:enumeration value="SelectiveComponentTracing" />
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="TracingMode" nillable="true" type="tns:TracingMode" />
</xs:schema>