DataGovernanceStore/Libraries/MDMLibrarySolution/ServiceManager/MDM.Services.Client/Service References/WorkflowServiceClient/WorkflowService7.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://wcfservices.riversand.com" elementFormDefault="qualified" targetNamespace="http://wcfservices.riversand.com" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost/Development_WCFServices/WorkflowService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/MDM.BusinessObjects.Workflow" />
  <xs:import schemaLocation="http://localhost/Development_WCFServices/WorkflowService.svc?xsd=xsd3" namespace="http://mdmobjects.riversand.com/" />
  <xs:import schemaLocation="http://localhost/Development_WCFServices/WorkflowService.svc?xsd=xsd8" namespace="http://schemas.datacontract.org/2004/07/MDM.BusinessObjects" />
  <xs:import schemaLocation="http://localhost/Development_WCFServices/WorkflowService.svc?xsd=xsd4" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
  <xs:element name="StartWorkflow">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/MDM.BusinessObjects.Workflow" minOccurs="0" name="workflowDataContext" nillable="true" type="q1:WorkflowDataContext" />
        <xs:element minOccurs="0" name="serviceType" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="serviceId" type="xs:int" />
        <xs:element minOccurs="0" name="currentUserName" nillable="true" type="xs:string" />
        <xs:element xmlns:q2="http://mdmobjects.riversand.com/" minOccurs="0" name="operationResult" nillable="true" type="q2:OperationResult" />
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/MDM.BusinessObjects" minOccurs="0" name="callerContext" nillable="true" type="q3:CallerContext" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="StartWorkflowResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="StartWorkflowResult" type="xs:int" />
        <xs:element xmlns:q4="http://mdmobjects.riversand.com/" minOccurs="0" name="operationResult" nillable="true" type="q4:OperationResult" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="StartWorkflowWithRunOptions">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/MDM.BusinessObjects.Workflow" minOccurs="0" name="workflowDataContext" nillable="true" type="q5:WorkflowDataContext" />
        <xs:element minOccurs="0" name="serviceType" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="serviceId" type="xs:int" />
        <xs:element minOccurs="0" name="currentUserName" nillable="true" type="xs:string" />
        <xs:element xmlns:q6="http://mdmobjects.riversand.com/" minOccurs="0" name="workflowInstanceRunOption" type="q6:WorkflowInstanceRunOptions" />
        <xs:element xmlns:q7="http://mdmobjects.riversand.com/" minOccurs="0" name="operationResult" nillable="true" type="q7:OperationResult" />
        <xs:element xmlns:q8="http://schemas.datacontract.org/2004/07/MDM.BusinessObjects" minOccurs="0" name="callerContext" nillable="true" type="q8:CallerContext" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="StartWorkflowWithRunOptionsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="StartWorkflowWithRunOptionsResult" type="xs:int" />
        <xs:element xmlns:q9="http://mdmobjects.riversand.com/" minOccurs="0" name="operationResult" nillable="true" type="q9:OperationResult" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ResumeWorkflowInstancesByRuntimeInstanceIds">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="commaSeparatedRuntimeInstanceIds" nillable="true" type="xs:string" />
        <xs:element xmlns:q10="http://schemas.datacontract.org/2004/07/MDM.BusinessObjects.Workflow" minOccurs="0" name="actionContext" nillable="true" type="q10:WorkflowActionContext" />
        <xs:element xmlns:q11="http://mdmobjects.riversand.com/" minOccurs="0" name="operationResult" nillable="true" type="q11:OperationResult" />
        <xs:element xmlns:q12="http://schemas.datacontract.org/2004/07/MDM.BusinessObjects" minOccurs="0" name="callerContext" nillable="true" type="q12:CallerContext" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ResumeWorkflowInstancesByRuntimeInstanceIdsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ResumeWorkflowInstancesByRuntimeInstanceIdsResult" type="xs:int" />
        <xs:element xmlns:q13="http://mdmobjects.riversand.com/" minOccurs="0" name="operationResult" nillable="true" type="q13:OperationResult" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ResumeWorkflowInstanceByMDMObject">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q14="http://schemas.datacontract.org/2004/07/MDM.BusinessObjects.Workflow" minOccurs="0" name="mdmObj" nillable="true" type="q14:WorkflowMDMObject" />
        <xs:element xmlns:q15="http://schemas.datacontract.org/2004/07/MDM.BusinessObjects.Workflow" minOccurs="0" name="actionContext" nillable="true" type="q15:WorkflowActionContext" />
        <xs:element xmlns:q16="http://mdmobjects.riversand.com/" minOccurs="0" name="operationResult" nillable="true" type="q16:OperationResult" />
        <xs:element xmlns:q17="http://schemas.datacontract.org/2004/07/MDM.BusinessObjects" minOccurs="0" name="callerContext" nillable="true" type="q17:CallerContext" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ResumeWorkflowInstanceByMDMObjectResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ResumeWorkflowInstanceByMDMObjectResult" type="xs:int" />
        <xs:element xmlns:q18="http://mdmobjects.riversand.com/" minOccurs="0" name="operationResult" nillable="true" type="q18:OperationResult" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ResumeWorkflowInstance">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q19="http://schemas.datacontract.org/2004/07/MDM.BusinessObjects.Workflow" minOccurs="0" name="workflowInstance" nillable="true" type="q19:WorkflowInstance" />
        <xs:element xmlns:q20="http://schemas.datacontract.org/2004/07/MDM.BusinessObjects.Workflow" minOccurs="0" name="actionContext" nillable="true" type="q20:WorkflowActionContext" />
        <xs:element xmlns:q21="http://mdmobjects.riversand.com/" minOccurs="0" name="operationResult" nillable="true" type="q21:OperationResult" />
        <xs:element xmlns:q22="http://schemas.datacontract.org/2004/07/MDM.BusinessObjects" minOccurs="0" name="callerContext" nillable="true" type="q22:CallerContext" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ResumeWorkflowInstanceResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ResumeWorkflowInstanceResult" type="xs:int" />
        <xs:element xmlns:q23="http://mdmobjects.riversand.com/" minOccurs="0" name="operationResult" nillable="true" type="q23:OperationResult" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ResumeMultipleWorkflowInstancesByMDMObjects">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q24="http://schemas.datacontract.org/2004/07/MDM.BusinessObjects.Workflow" minOccurs="0" name="workflowDataContext" nillable="true" type="q24:WorkflowDataContext" />
        <xs:element xmlns:q25="http://schemas.datacontract.org/2004/07/MDM.BusinessObjects.Workflow" minOccurs="0" name="actionContext" nillable="true" type="q25:WorkflowActionContext" />
        <xs:element xmlns:q26="http://mdmobjects.riversand.com/" minOccurs="0" name="operationResult" nillable="true" type="q26:OperationResult" />
        <xs:element xmlns:q27="http://schemas.datacontract.org/2004/07/MDM.BusinessObjects" minOccurs="0" name="callerContext" nillable="true" type="q27:CallerContext" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ResumeMultipleWorkflowInstancesByMDMObjectsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ResumeMultipleWorkflowInstancesByMDMObjectsResult" type="xs:int" />
        <xs:element xmlns:q28="http://mdmobjects.riversand.com/" minOccurs="0" name="operationResult" nillable="true" type="q28:OperationResult" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ResumeMultipleWorkflowInstances">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q29="http://schemas.datacontract.org/2004/07/MDM.BusinessObjects.Workflow" minOccurs="0" name="instanceCollection" nillable="true" type="q29:ArrayOfWorkflowInstance" />
        <xs:element xmlns:q30="http://schemas.datacontract.org/2004/07/MDM.BusinessObjects.Workflow" minOccurs="0" name="actionContext" nillable="true" type="q30:WorkflowActionContext" />
        <xs:element xmlns:q31="http://mdmobjects.riversand.com/" minOccurs="0" name="operationResult" nillable="true" type="q31:OperationResult" />
        <xs:element xmlns:q32="http://schemas.datacontract.org/2004/07/MDM.BusinessObjects" minOccurs="0" name="callerContext" nillable="true" type="q32:CallerContext" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ResumeMultipleWorkflowInstancesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ResumeMultipleWorkflowInstancesResult" type="xs:int" />
        <xs:element xmlns:q33="http://mdmobjects.riversand.com/" minOccurs="0" name="operationResult" nillable="true" type="q33:OperationResult" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ResumeAbortedWorkflowInstances">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q34="http://schemas.datacontract.org/2004/07/MDM.BusinessObjects.Workflow" minOccurs="0" name="instanceCollection" nillable="true" type="q34:ArrayOfWorkflowInstance" />
        <xs:element minOccurs="0" name="instanceStatus" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="loginUser" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="programName" nillable="true" type="xs:string" />
        <xs:element xmlns:q35="http://mdmobjects.riversand.com/" minOccurs="0" name="operationResult" nillable="true" type="q35:OperationResult" />
        <xs:element xmlns:q36="http://schemas.datacontract.org/2004/07/MDM.BusinessObjects" minOccurs="0" name="callerContext" nillable="true" type="q36:CallerContext" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ResumeAbortedWorkflowInstancesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ResumeAbortedWorkflowInstancesResult" type="xs:int" />
        <xs:element xmlns:q37="http://mdmobjects.riversand.com/" minOccurs="0" name="operationResult" nillable="true" type="q37:OperationResult" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="TerminateWorkflowInstances">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q38="http://schemas.datacontract.org/2004/07/MDM.BusinessObjects.Workflow" minOccurs="0" name="instanceCollection" nillable="true" type="q38:ArrayOfWorkflowInstance" />
        <xs:element xmlns:q39="http://mdmobjects.riversand.com/" minOccurs="0" name="operationResult" nillable="true" type="q39:OperationResult" />
        <xs:element xmlns:q40="http://schemas.datacontract.org/2004/07/MDM.BusinessObjects" minOccurs="0" name="callerContext" nillable="true" type="q40:CallerContext" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="TerminateWorkflowInstancesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="TerminateWorkflowInstancesResult" type="xs:int" />
        <xs:element xmlns:q41="http://mdmobjects.riversand.com/" minOccurs="0" name="operationResult" nillable="true" type="q41:OperationResult" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="PromoteWorkflowInstances">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q42="http://schemas.datacontract.org/2004/07/MDM.BusinessObjects.Workflow" minOccurs="0" name="instanceCollection" nillable="true" type="q42:ArrayOfWorkflowInstance" />
        <xs:element xmlns:q43="http://mdmobjects.riversand.com/" minOccurs="0" name="operationResult" nillable="true" type="q43:OperationResult" />
        <xs:element xmlns:q44="http://schemas.datacontract.org/2004/07/MDM.BusinessObjects" minOccurs="0" name="callerContext" nillable="true" type="q44:CallerContext" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="PromoteWorkflowInstancesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="PromoteWorkflowInstancesResult" type="xs:int" />
        <xs:element xmlns:q45="http://mdmobjects.riversand.com/" minOccurs="0" name="operationResult" nillable="true" type="q45:OperationResult" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="FindWorkflowInstanceInWorkflow">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="workflowId" type="xs:int" />
        <xs:element xmlns:q46="http://schemas.datacontract.org/2004/07/MDM.BusinessObjects.Workflow" minOccurs="0" name="mdmObj" nillable="true" type="q46:WorkflowMDMObject" />
        <xs:element xmlns:q47="http://mdmobjects.riversand.com/" minOccurs="0" name="operationResult" nillable="true" type="q47:OperationResult" />
        <xs:element xmlns:q48="http://schemas.datacontract.org/2004/07/MDM.BusinessObjects" minOccurs="0" name="callerContext" nillable="true" type="q48:CallerContext" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="FindWorkflowInstanceInWorkflowResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q49="http://schemas.datacontract.org/2004/07/MDM.BusinessObjects.Workflow" minOccurs="0" name="FindWorkflowInstanceInWorkflowResult" nillable="true" type="q49:ArrayOfWorkflowInstance" />
        <xs:element xmlns:q50="http://mdmobjects.riversand.com/" minOccurs="0" name="operationResult" nillable="true" type="q50:OperationResult" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="FindWorkflowInstance">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="activityName" nillable="true" type="xs:string" />
        <xs:element xmlns:q51="http://schemas.datacontract.org/2004/07/MDM.BusinessObjects.Workflow" minOccurs="0" name="mdmObj" nillable="true" type="q51:WorkflowMDMObject" />
        <xs:element xmlns:q52="http://mdmobjects.riversand.com/" minOccurs="0" name="operationResult" nillable="true" type="q52:OperationResult" />
        <xs:element xmlns:q53="http://schemas.datacontract.org/2004/07/MDM.BusinessObjects" minOccurs="0" name="callerContext" nillable="true" type="q53:CallerContext" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="FindWorkflowInstanceResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q54="http://schemas.datacontract.org/2004/07/MDM.BusinessObjects.Workflow" minOccurs="0" name="FindWorkflowInstanceResult" nillable="true" type="q54:ArrayOfWorkflowInstance" />
        <xs:element xmlns:q55="http://mdmobjects.riversand.com/" minOccurs="0" name="operationResult" nillable="true" type="q55:OperationResult" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllWorkflowDetails">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q56="http://schemas.datacontract.org/2004/07/MDM.BusinessObjects.Workflow" minOccurs="0" name="workflowCollection" nillable="true" type="q56:ArrayOfWorkflow" />
        <xs:element xmlns:q57="http://schemas.datacontract.org/2004/07/MDM.BusinessObjects.Workflow" minOccurs="0" name="workflowVersionCollection" nillable="true" type="q57:ArrayOfWorkflowVersion" />
        <xs:element xmlns:q58="http://schemas.datacontract.org/2004/07/MDM.BusinessObjects.Workflow" minOccurs="0" name="workflowActivityCollection" nillable="true" type="q58:ArrayOfWorkflowActivity" />
        <xs:element xmlns:q59="http://mdmobjects.riversand.com/" minOccurs="0" name="operationResult" nillable="true" type="q59:OperationResult" />
        <xs:element xmlns:q60="http://schemas.datacontract.org/2004/07/MDM.BusinessObjects" minOccurs="0" name="callerContext" nillable="true" type="q60:CallerContext" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllWorkflowDetailsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q61="http://schemas.datacontract.org/2004/07/MDM.BusinessObjects.Workflow" minOccurs="0" name="workflowCollection" nillable="true" type="q61:ArrayOfWorkflow" />
        <xs:element xmlns:q62="http://schemas.datacontract.org/2004/07/MDM.BusinessObjects.Workflow" minOccurs="0" name="workflowVersionCollection" nillable="true" type="q62:ArrayOfWorkflowVersion" />
        <xs:element xmlns:q63="http://schemas.datacontract.org/2004/07/MDM.BusinessObjects.Workflow" minOccurs="0" name="workflowActivityCollection" nillable="true" type="q63:ArrayOfWorkflowActivity" />
        <xs:element xmlns:q64="http://mdmobjects.riversand.com/" minOccurs="0" name="operationResult" nillable="true" type="q64:OperationResult" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetInstanceSummary">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="workflowType" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="workflowId" type="xs:int" />
        <xs:element minOccurs="0" name="workflowVersionId" type="xs:int" />
        <xs:element minOccurs="0" name="workflowStatus" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="activityShortName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="roleIds" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="userIds" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="instanceId" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="mdmObjectIds" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="hasEscalation" nillable="true" type="xs:boolean" />
        <xs:element minOccurs="0" name="returnSize" type="xs:int" />
        <xs:element xmlns:q65="http://mdmobjects.riversand.com/" minOccurs="0" name="operationResult" nillable="true" type="q65:OperationResult" />
        <xs:element xmlns:q66="http://schemas.datacontract.org/2004/07/MDM.BusinessObjects" minOccurs="0" name="callerContext" nillable="true" type="q66:CallerContext" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetInstanceSummaryResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q67="http://schemas.datacontract.org/2004/07/MDM.BusinessObjects.Workflow" minOccurs="0" name="GetInstanceSummaryResult" nillable="true" type="q67:ArrayOfWorkflowInstance" />
        <xs:element xmlns:q68="http://mdmobjects.riversand.com/" minOccurs="0" name="operationResult" nillable="true" type="q68:OperationResult" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetInstanceDetails">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="workflowType" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="instanceId" nillable="true" type="xs:string" />
        <xs:element xmlns:q69="http://schemas.datacontract.org/2004/07/MDM.BusinessObjects.Workflow" minOccurs="0" name="runningActivityCollection" nillable="true" type="q69:ArrayOfWorkflowActivity" />
        <xs:element xmlns:q70="http://schemas.datacontract.org/2004/07/MDM.BusinessObjects.Workflow" minOccurs="0" name="mdmObjectCollection" nillable="true" type="q70:ArrayOfWorkflowMDMObject" />
        <xs:element xmlns:q71="http://schemas.datacontract.org/2004/07/MDM.BusinessObjects.Workflow" minOccurs="0" name="escalationCollection" nillable="true" type="q71:ArrayOfEscalation" />
        <xs:element xmlns:q72="http://mdmobjects.riversand.com/" minOccurs="0" name="operationResult" nillable="true" type="q72:OperationResult" />
        <xs:element xmlns:q73="http://schemas.datacontract.org/2004/07/MDM.BusinessObjects" minOccurs="0" name="callerContext" nillable="true" type="q73:CallerContext" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetInstanceDetailsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q74="http://schemas.datacontract.org/2004/07/MDM.BusinessObjects.Workflow" minOccurs="0" name="runningActivityCollection" nillable="true" type="q74:ArrayOfWorkflowActivity" />
        <xs:element xmlns:q75="http://schemas.datacontract.org/2004/07/MDM.BusinessObjects.Workflow" minOccurs="0" name="mdmObjectCollection" nillable="true" type="q75:ArrayOfWorkflowMDMObject" />
        <xs:element xmlns:q76="http://schemas.datacontract.org/2004/07/MDM.BusinessObjects.Workflow" minOccurs="0" name="escalationCollection" nillable="true" type="q76:ArrayOfEscalation" />
        <xs:element xmlns:q77="http://mdmobjects.riversand.com/" minOccurs="0" name="operationResult" nillable="true" type="q77:OperationResult" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetWorkflowStatistics">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="workflowType" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="workflowId" type="xs:int" />
        <xs:element minOccurs="0" name="workflowVersionId" type="xs:int" />
        <xs:element xmlns:q78="http://mdmobjects.riversand.com/" minOccurs="0" name="operationResult" nillable="true" type="q78:OperationResult" />
        <xs:element xmlns:q79="http://schemas.datacontract.org/2004/07/MDM.BusinessObjects" minOccurs="0" name="callerContext" nillable="true" type="q79:CallerContext" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetWorkflowStatisticsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetWorkflowStatisticsResult" nillable="true" type="xs:string" />
        <xs:element xmlns:q80="http://mdmobjects.riversand.com/" minOccurs="0" name="operationResult" nillable="true" type="q80:OperationResult" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetActionButtons">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="activityId" type="xs:int" />
        <xs:element minOccurs="0" name="toolBarButtonXML" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="loginUser" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="checkAllowedUsersAndRoles" nillable="true" type="xs:boolean" />
        <xs:element xmlns:q81="http://mdmobjects.riversand.com/" minOccurs="0" name="operationResult" nillable="true" type="q81:OperationResult" />
        <xs:element xmlns:q82="http://schemas.datacontract.org/2004/07/MDM.BusinessObjects" minOccurs="0" name="callerContext" nillable="true" type="q82:CallerContext" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetActionButtonsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetActionButtonsResult" nillable="true">
          <xs:complexType>
            <xs:annotation>
              <xs:appinfo>
                <ActualType Name="DataTable" Namespace="http://schemas.datacontract.org/2004/07/System.Data" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
              </xs:appinfo>
            </xs:annotation>
            <xs:sequence>
              <xs:any minOccurs="0" maxOccurs="unbounded" namespace="http://www.w3.org/2001/XMLSchema" processContents="lax" />
              <xs:any minOccurs="1" namespace="urn:schemas-microsoft-com:xml-diffgram-v1" processContents="lax" />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element xmlns:q83="http://mdmobjects.riversand.com/" minOccurs="0" name="operationResult" nillable="true" type="q83:OperationResult" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetActivityActionButtons">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="activityId" type="xs:int" />
        <xs:element minOccurs="0" name="loginUser" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="checkAllowedUsersAndRoles" nillable="true" type="xs:boolean" />
        <xs:element xmlns:q84="http://schemas.datacontract.org/2004/07/MDM.BusinessObjects" minOccurs="0" name="callerContext" nillable="true" type="q84:CallerContext" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetActivityActionButtonsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q85="http://mdmobjects.riversand.com/" minOccurs="0" name="GetActivityActionButtonsResult" nillable="true" type="q85:Table" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAssignmentButtons">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="activityId" type="xs:int" />
        <xs:element minOccurs="0" name="assignmentStatus" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="toolBarButtonXML" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="loginUser" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="checkAllowedUsersAndRoles" nillable="true" type="xs:boolean" />
        <xs:element xmlns:q86="http://mdmobjects.riversand.com/" minOccurs="0" name="operationResult" nillable="true" type="q86:OperationResult" />
        <xs:element xmlns:q87="http://schemas.datacontract.org/2004/07/MDM.BusinessObjects" minOccurs="0" name="callerContext" nillable="true" type="q87:CallerContext" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAssignmentButtonsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetAssignmentButtonsResult" nillable="true">
          <xs:complexType>
            <xs:annotation>
              <xs:appinfo>
                <ActualType Name="DataTable" Namespace="http://schemas.datacontract.org/2004/07/System.Data" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
              </xs:appinfo>
            </xs:annotation>
            <xs:sequence>
              <xs:any minOccurs="0" maxOccurs="unbounded" namespace="http://www.w3.org/2001/XMLSchema" processContents="lax" />
              <xs:any minOccurs="1" namespace="urn:schemas-microsoft-com:xml-diffgram-v1" processContents="lax" />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element xmlns:q88="http://mdmobjects.riversand.com/" minOccurs="0" name="operationResult" nillable="true" type="q88:OperationResult" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetWorkflowPanelDetails">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="orgId" type="xs:int" />
        <xs:element minOccurs="0" name="catalogId" type="xs:int" />
        <xs:element minOccurs="0" name="userId" type="xs:int" />
        <xs:element minOccurs="0" name="showEmptyItems" type="xs:boolean" />
        <xs:element minOccurs="0" name="showItemsAssignedToOtherUsers" type="xs:boolean" />
        <xs:element xmlns:q89="http://schemas.datacontract.org/2004/07/MDM.BusinessObjects" minOccurs="0" name="callerContext" nillable="true" type="q89:CallerContext" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetWorkflowPanelDetailsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q90="http://mdmobjects.riversand.com/" minOccurs="0" name="GetWorkflowPanelDetailsResult" nillable="true" type="q90:Table" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetWorkflowPanelDetailsExt">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="catalogId" type="xs:int" />
        <xs:element minOccurs="0" name="userId" type="xs:int" />
        <xs:element minOccurs="0" name="showEmptyItems" type="xs:boolean" />
        <xs:element minOccurs="0" name="showItemsAssignedToOtherUsers" type="xs:boolean" />
        <xs:element xmlns:q91="http://schemas.datacontract.org/2004/07/MDM.BusinessObjects" minOccurs="0" name="callerContext" nillable="true" type="q91:CallerContext" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetWorkflowPanelDetailsExtResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q92="http://mdmobjects.riversand.com/" minOccurs="0" name="GetWorkflowPanelDetailsExtResult" nillable="true" type="q92:Table" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetWorkItemsPanelDetails">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="catalogId" type="xs:int" />
        <xs:element minOccurs="0" name="userId" type="xs:int" />
        <xs:element minOccurs="0" name="showEmptyItems" type="xs:boolean" />
        <xs:element minOccurs="0" name="showItemsAssignedToOtherUsers" type="xs:boolean" />
        <xs:element minOccurs="0" name="showBusinessCondition" type="xs:boolean" />
        <xs:element xmlns:q93="http://schemas.datacontract.org/2004/07/MDM.BusinessObjects" minOccurs="0" name="callerContext" nillable="true" type="q93:CallerContext" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetWorkItemsPanelDetailsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q94="http://mdmobjects.riversand.com/" minOccurs="0" name="GetWorkItemsPanelDetailsResult" nillable="true" type="q94:Table" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetWorkItemDetails">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="entityId" type="xs:long" />
        <xs:element xmlns:q95="http://schemas.datacontract.org/2004/07/MDM.BusinessObjects" minOccurs="0" name="callerContext" nillable="true" type="q95:CallerContext" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetWorkItemDetailsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q96="http://mdmobjects.riversand.com/" minOccurs="0" name="GetWorkItemDetailsResult" nillable="true" type="q96:Table" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateWorkflowInstances">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="instanceGUIDs" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="mdmObjectIDs" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="mdmObjectType" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="workflowID" type="xs:int" />
        <xs:element minOccurs="0" name="activityShortName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="instanceStatus" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="loginUser" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="programName" nillable="true" type="xs:string" />
        <xs:element xmlns:q97="http://mdmobjects.riversand.com/" minOccurs="0" name="operationResult" nillable="true" type="q97:OperationResult" />
        <xs:element xmlns:q98="http://schemas.datacontract.org/2004/07/MDM.BusinessObjects" minOccurs="0" name="callerContext" nillable="true" type="q98:CallerContext" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateWorkflowInstancesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="UpdateWorkflowInstancesResult" type="xs:boolean" />
        <xs:element xmlns:q99="http://mdmobjects.riversand.com/" minOccurs="0" name="operationResult" nillable="true" type="q99:OperationResult" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ProcessEscalation">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q100="http://mdmobjects.riversand.com/" minOccurs="0" name="operationResult" nillable="true" type="q100:OperationResult" />
        <xs:element xmlns:q101="http://schemas.datacontract.org/2004/07/MDM.BusinessObjects" minOccurs="0" name="callerContext" nillable="true" type="q101:CallerContext" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ProcessEscalationResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q102="http://schemas.datacontract.org/2004/07/MDM.BusinessObjects.Workflow" minOccurs="0" name="ProcessEscalationResult" nillable="true" type="q102:ArrayOfEscalation" />
        <xs:element xmlns:q103="http://mdmobjects.riversand.com/" minOccurs="0" name="operationResult" nillable="true" type="q103:OperationResult" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetWorkflowEscalationDetails">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q104="http://schemas.datacontract.org/2004/07/MDM.BusinessObjects.Workflow" minOccurs="0" name="escalationContext" nillable="true" type="q104:WorkflowEscalationContext" />
        <xs:element xmlns:q105="http://schemas.datacontract.org/2004/07/MDM.BusinessObjects" minOccurs="0" name="callerContext" nillable="true" type="q105:CallerContext" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetWorkflowEscalationDetailsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q106="http://schemas.datacontract.org/2004/07/MDM.BusinessObjects.Workflow" minOccurs="0" name="GetWorkflowEscalationDetailsResult" nillable="true" type="q106:WorkflowEscalationDataCollection" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SendMailWithWorkflowEscalationDetails">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q107="http://schemas.datacontract.org/2004/07/MDM.BusinessObjects.Workflow" minOccurs="0" name="escalationContext" nillable="true" type="q107:WorkflowEscalationContext" />
        <xs:element xmlns:q108="http://mdmobjects.riversand.com/" minOccurs="0" name="emailContext" nillable="true" type="q108:EmailContext" />
        <xs:element minOccurs="0" name="includeAssignedUserAsRecipient" type="xs:boolean" />
        <xs:element xmlns:q109="http://schemas.datacontract.org/2004/07/MDM.BusinessObjects" minOccurs="0" name="callerContext" nillable="true" type="q109:CallerContext" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SendMailWithWorkflowEscalationDetailsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q110="http://mdmobjects.riversand.com/" minOccurs="0" name="SendMailWithWorkflowEscalationDetailsResult" nillable="true" type="q110:OperationResultCollection" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ProcessWorkflows">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q111="http://schemas.datacontract.org/2004/07/MDM.BusinessObjects.Workflow" minOccurs="0" name="workflows" nillable="true" type="q111:ArrayOfWorkflow" />
        <xs:element minOccurs="0" name="loginUser" nillable="true" type="xs:string" />
        <xs:element xmlns:q112="http://mdmobjects.riversand.com/" minOccurs="0" name="operationResult" nillable="true" type="q112:OperationResult" />
        <xs:element xmlns:q113="http://schemas.datacontract.org/2004/07/MDM.BusinessObjects" minOccurs="0" name="callerContext" nillable="true" type="q113:CallerContext" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ProcessWorkflowsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q114="http://schemas.datacontract.org/2004/07/MDM.BusinessObjects.Workflow" minOccurs="0" name="ProcessWorkflowsResult" nillable="true" type="q114:WorkflowVersion" />
        <xs:element xmlns:q115="http://mdmobjects.riversand.com/" minOccurs="0" name="operationResult" nillable="true" type="q115:OperationResult" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ProcessActivities">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q116="http://schemas.datacontract.org/2004/07/MDM.BusinessObjects.Workflow" minOccurs="0" name="workflowActivities" nillable="true" type="q116:ArrayOfWorkflowActivity" />
        <xs:element minOccurs="0" name="loginUser" nillable="true" type="xs:string" />
        <xs:element xmlns:q117="http://mdmobjects.riversand.com/" minOccurs="0" name="operationResult" nillable="true" type="q117:OperationResult" />
        <xs:element xmlns:q118="http://schemas.datacontract.org/2004/07/MDM.BusinessObjects" minOccurs="0" name="callerContext" nillable="true" type="q118:CallerContext" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ProcessActivitiesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ProcessActivitiesResult" type="xs:int" />
        <xs:element xmlns:q119="http://mdmobjects.riversand.com/" minOccurs="0" name="operationResult" nillable="true" type="q119:OperationResult" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetWorkflowViewDetails">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="workflowVersionID" type="xs:int" />
        <xs:element minOccurs="0" name="instanceGuid" nillable="true" type="xs:string" />
        <xs:element xmlns:q120="http://schemas.datacontract.org/2004/07/MDM.BusinessObjects.Workflow" minOccurs="0" name="workflowVersion" nillable="true" type="q120:WorkflowVersion" />
        <xs:element xmlns:q121="http://schemas.datacontract.org/2004/07/MDM.BusinessObjects.Workflow" minOccurs="0" name="trackedActivityCollection" nillable="true" type="q121:ArrayOfTrackedActivityInfo" />
        <xs:element xmlns:q122="http://mdmobjects.riversand.com/" minOccurs="0" name="operationResult" nillable="true" type="q122:OperationResult" />
        <xs:element xmlns:q123="http://schemas.datacontract.org/2004/07/MDM.BusinessObjects" minOccurs="0" name="callerContext" nillable="true" type="q123:CallerContext" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetWorkflowViewDetailsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q124="http://schemas.datacontract.org/2004/07/MDM.BusinessObjects.Workflow" minOccurs="0" name="workflowVersion" nillable="true" type="q124:WorkflowVersion" />
        <xs:element xmlns:q125="http://schemas.datacontract.org/2004/07/MDM.BusinessObjects.Workflow" minOccurs="0" name="trackedActivityCollection" nillable="true" type="q125:ArrayOfTrackedActivityInfo" />
        <xs:element xmlns:q126="http://mdmobjects.riversand.com/" minOccurs="0" name="operationResult" nillable="true" type="q126:OperationResult" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetWorkflowExecutionDetails">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="entityId" type="xs:long" />
        <xs:element minOccurs="0" name="workflowName" nillable="true" type="xs:string" />
        <xs:element xmlns:q127="http://schemas.datacontract.org/2004/07/MDM.BusinessObjects" minOccurs="0" name="callerContext" nillable="true" type="q127:CallerContext" />
        <xs:element minOccurs="0" name="getAll" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetWorkflowExecutionDetailsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q128="http://schemas.datacontract.org/2004/07/MDM.BusinessObjects.Workflow" minOccurs="0" name="GetWorkflowExecutionDetailsResult" nillable="true" type="q128:TrackedActivityInfoCollection" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetWorkflowDoneReport">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="userId" type="xs:int" />
        <xs:element minOccurs="0" name="userParticipation" nillable="true" type="xs:string" />
        <xs:element xmlns:q129="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="catalogIds" nillable="true" type="q129:ArrayOfint" />
        <xs:element xmlns:q130="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="entityTypeIds" nillable="true" type="q130:ArrayOflong" />
        <xs:element xmlns:q131="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="workflowNames" nillable="true" type="q131:ArrayOfstring" />
        <xs:element xmlns:q132="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="currentWorkflowActivity" nillable="true" type="q132:ArrayOfstring" />
        <xs:element xmlns:q133="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="attributeIds" nillable="true" type="q133:ArrayOfint" />
        <xs:element minOccurs="0" name="localeId" type="xs:int" />
        <xs:element minOccurs="0" name="countFrom" type="xs:long" />
        <xs:element minOccurs="0" name="countTo" type="xs:long" />
        <xs:element xmlns:q134="http://schemas.datacontract.org/2004/07/MDM.BusinessObjects" minOccurs="0" name="callerContext" nillable="true" type="q134:CallerContext" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetWorkflowDoneReportResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q135="http://mdmobjects.riversand.com/" minOccurs="0" name="GetWorkflowDoneReportResult" nillable="true" type="q135:ArrayOfDoneReportItem" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetWorkflowDoneReportWithAttributesDataSourceParameter">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="userId" type="xs:int" />
        <xs:element minOccurs="0" name="userParticipation" nillable="true" type="xs:string" />
        <xs:element xmlns:q136="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="catalogIds" nillable="true" type="q136:ArrayOfint" />
        <xs:element xmlns:q137="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="entityTypeIds" nillable="true" type="q137:ArrayOflong" />
        <xs:element xmlns:q138="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="workflowNames" nillable="true" type="q138:ArrayOfstring" />
        <xs:element xmlns:q139="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="currentWorkflowActivity" nillable="true" type="q139:ArrayOfstring" />
        <xs:element xmlns:q140="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="attributeIds" nillable="true" type="q140:ArrayOfint" />
        <xs:element minOccurs="0" name="localeId" type="xs:int" />
        <xs:element minOccurs="0" name="countFrom" type="xs:long" />
        <xs:element minOccurs="0" name="countTo" type="xs:long" />
        <xs:element minOccurs="0" name="attributesDataSource" nillable="true" type="xs:string" />
        <xs:element xmlns:q141="http://schemas.datacontract.org/2004/07/MDM.BusinessObjects" minOccurs="0" name="callerContext" nillable="true" type="q141:CallerContext" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetWorkflowDoneReportWithAttributesDataSourceParameterResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q142="http://mdmobjects.riversand.com/" minOccurs="0" name="GetWorkflowDoneReportWithAttributesDataSourceParameterResult" nillable="true" type="q142:ArrayOfDoneReportItem" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="StartWorkflowWithEntityIdList">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q143="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="entityIdList" nillable="true" type="q143:ArrayOflong" />
        <xs:element minOccurs="0" name="workflowName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="workflowVersionId" type="xs:int" />
        <xs:element minOccurs="0" name="serviceType" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="serviceId" type="xs:int" />
        <xs:element xmlns:q144="http://schemas.datacontract.org/2004/07/MDM.BusinessObjects" minOccurs="0" name="callerContext" nillable="true" type="q144:CallerContext" />
        <xs:element minOccurs="0" name="comments" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="StartWorkflowWithEntityIdListResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q145="http://mdmobjects.riversand.com/" minOccurs="0" name="StartWorkflowWithEntityIdListResult" nillable="true" type="q145:EntityOperationResultCollection" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="StartWorkflowWithEntityId">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="entityId" type="xs:long" />
        <xs:element minOccurs="0" name="workflowName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="workflowVersionId" type="xs:int" />
        <xs:element minOccurs="0" name="serviceType" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="serviceId" type="xs:int" />
        <xs:element xmlns:q146="http://schemas.datacontract.org/2004/07/MDM.BusinessObjects" minOccurs="0" name="callerContext" nillable="true" type="q146:CallerContext" />
        <xs:element minOccurs="0" name="comments" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="StartWorkflowWithEntityIdResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q147="http://mdmobjects.riversand.com/" minOccurs="0" name="StartWorkflowWithEntityIdResult" nillable="true" type="q147:EntityOperationResult" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="StartWorkflowWithEntityList">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q148="http://mdmobjects.riversand.com/" minOccurs="0" name="entities" nillable="true" type="q148:EntityCollection" />
        <xs:element minOccurs="0" name="workflowName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="workflowVersionId" type="xs:int" />
        <xs:element minOccurs="0" name="serviceType" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="serviceId" type="xs:int" />
        <xs:element xmlns:q149="http://schemas.datacontract.org/2004/07/MDM.BusinessObjects" minOccurs="0" name="callerContext" nillable="true" type="q149:CallerContext" />
        <xs:element minOccurs="0" name="comments" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="StartWorkflowWithEntityListResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q150="http://mdmobjects.riversand.com/" minOccurs="0" name="StartWorkflowWithEntityListResult" nillable="true" type="q150:EntityOperationResultCollection" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="StartWorkflowWithEntity">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q151="http://mdmobjects.riversand.com/" minOccurs="0" name="entity" nillable="true" type="q151:Entity" />
        <xs:element minOccurs="0" name="workflowName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="workflowVersionId" type="xs:int" />
        <xs:element minOccurs="0" name="serviceType" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="serviceId" type="xs:int" />
        <xs:element xmlns:q152="http://schemas.datacontract.org/2004/07/MDM.BusinessObjects" minOccurs="0" name="callerContext" nillable="true" type="q152:CallerContext" />
        <xs:element minOccurs="0" name="comments" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="StartWorkflowWithEntityResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q153="http://mdmobjects.riversand.com/" minOccurs="0" name="StartWorkflowWithEntityResult" nillable="true" type="q153:EntityOperationResult" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="StartWorkflowWithEntityIdListAndRunOption">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q154="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="entityIdList" nillable="true" type="q154:ArrayOflong" />
        <xs:element minOccurs="0" name="workflowName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="workflowVersionId" type="xs:int" />
        <xs:element minOccurs="0" name="serviceType" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="serviceId" type="xs:int" />
        <xs:element xmlns:q155="http://mdmobjects.riversand.com/" minOccurs="0" name="workflowInstanceRunOption" type="q155:WorkflowInstanceRunOptions" />
        <xs:element xmlns:q156="http://schemas.datacontract.org/2004/07/MDM.BusinessObjects" minOccurs="0" name="callerContext" nillable="true" type="q156:CallerContext" />
        <xs:element minOccurs="0" name="comments" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="StartWorkflowWithEntityIdListAndRunOptionResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q157="http://mdmobjects.riversand.com/" minOccurs="0" name="StartWorkflowWithEntityIdListAndRunOptionResult" nillable="true" type="q157:EntityOperationResultCollection" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="StartWorkflowWithEntityIdAndRunOption">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="entityId" type="xs:long" />
        <xs:element minOccurs="0" name="workflowName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="workflowVersionId" type="xs:int" />
        <xs:element minOccurs="0" name="serviceType" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="serviceId" type="xs:int" />
        <xs:element xmlns:q158="http://mdmobjects.riversand.com/" minOccurs="0" name="workflowInstanceRunOption" type="q158:WorkflowInstanceRunOptions" />
        <xs:element xmlns:q159="http://schemas.datacontract.org/2004/07/MDM.BusinessObjects" minOccurs="0" name="callerContext" nillable="true" type="q159:CallerContext" />
        <xs:element minOccurs="0" name="comments" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="StartWorkflowWithEntityIdAndRunOptionResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q160="http://mdmobjects.riversand.com/" minOccurs="0" name="StartWorkflowWithEntityIdAndRunOptionResult" nillable="true" type="q160:EntityOperationResult" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="StartWorkflowWithEntityListAndRunOption">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q161="http://mdmobjects.riversand.com/" minOccurs="0" name="entities" nillable="true" type="q161:EntityCollection" />
        <xs:element minOccurs="0" name="workflowName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="workflowVersionId" type="xs:int" />
        <xs:element minOccurs="0" name="serviceType" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="serviceId" type="xs:int" />
        <xs:element xmlns:q162="http://mdmobjects.riversand.com/" minOccurs="0" name="workflowInstanceRunOption" type="q162:WorkflowInstanceRunOptions" />
        <xs:element xmlns:q163="http://schemas.datacontract.org/2004/07/MDM.BusinessObjects" minOccurs="0" name="callerContext" nillable="true" type="q163:CallerContext" />
        <xs:element minOccurs="0" name="comments" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="StartWorkflowWithEntityListAndRunOptionResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q164="http://mdmobjects.riversand.com/" minOccurs="0" name="StartWorkflowWithEntityListAndRunOptionResult" nillable="true" type="q164:EntityOperationResultCollection" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="StartWorkflowWithEntityAndRunOption">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q165="http://mdmobjects.riversand.com/" minOccurs="0" name="entity" nillable="true" type="q165:Entity" />
        <xs:element minOccurs="0" name="workflowName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="workflowVersionId" type="xs:int" />
        <xs:element minOccurs="0" name="serviceType" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="serviceId" type="xs:int" />
        <xs:element xmlns:q166="http://mdmobjects.riversand.com/" minOccurs="0" name="workflowInstanceRunOption" type="q166:WorkflowInstanceRunOptions" />
        <xs:element xmlns:q167="http://schemas.datacontract.org/2004/07/MDM.BusinessObjects" minOccurs="0" name="callerContext" nillable="true" type="q167:CallerContext" />
        <xs:element minOccurs="0" name="comments" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="StartWorkflowWithEntityAndRunOptionResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q168="http://mdmobjects.riversand.com/" minOccurs="0" name="StartWorkflowWithEntityAndRunOptionResult" nillable="true" type="q168:EntityOperationResult" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ResumeWorkflowWithEntityIdList">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q169="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="entityIdList" nillable="true" type="q169:ArrayOflong" />
        <xs:element minOccurs="0" name="workflowName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="workflowVersionId" type="xs:int" />
        <xs:element minOccurs="0" name="currentActivityName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="action" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="comments" nillable="true" type="xs:string" />
        <xs:element xmlns:q170="http://schemas.datacontract.org/2004/07/MDM.BusinessObjects" minOccurs="0" name="callerContext" nillable="true" type="q170:CallerContext" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ResumeWorkflowWithEntityIdListResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q171="http://mdmobjects.riversand.com/" minOccurs="0" name="ResumeWorkflowWithEntityIdListResult" nillable="true" type="q171:EntityOperationResultCollection" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ResumeWorkflowWithEntityList">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q172="http://mdmobjects.riversand.com/" minOccurs="0" name="entities" nillable="true" type="q172:EntityCollection" />
        <xs:element minOccurs="0" name="workflowName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="workflowVersionId" type="xs:int" />
        <xs:element minOccurs="0" name="currentActivityName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="action" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="comments" nillable="true" type="xs:string" />
        <xs:element xmlns:q173="http://schemas.datacontract.org/2004/07/MDM.BusinessObjects" minOccurs="0" name="callerContext" nillable="true" type="q173:CallerContext" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ResumeWorkflowWithEntityListResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q174="http://mdmobjects.riversand.com/" minOccurs="0" name="ResumeWorkflowWithEntityListResult" nillable="true" type="q174:EntityOperationResultCollection" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ChangeAssignment">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q175="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="entityIds" nillable="true" type="q175:ArrayOflong" />
        <xs:element minOccurs="0" name="currentActivityName" nillable="true" type="xs:string" />
        <xs:element xmlns:q176="http://mdmobjects.riversand.com/" minOccurs="0" name="newlyAssignedUser" nillable="true" type="q176:SecurityUser" />
        <xs:element minOccurs="0" name="assignmentAction" nillable="true" type="xs:string" />
        <xs:element xmlns:q177="http://schemas.datacontract.org/2004/07/MDM.BusinessObjects" minOccurs="0" name="callerContext" nillable="true" type="q177:CallerContext" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ChangeAssignmentResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q178="http://mdmobjects.riversand.com/" minOccurs="0" name="ChangeAssignmentResult" nillable="true" type="q178:EntityOperationResultCollection" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetWorkflowActivityPerformedUser">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="entityId" type="xs:long" />
        <xs:element minOccurs="0" name="workflowName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="activityName" nillable="true" type="xs:string" />
        <xs:element xmlns:q179="http://schemas.datacontract.org/2004/07/MDM.BusinessObjects" minOccurs="0" name="callerContext" nillable="true" type="q179:CallerContext" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetWorkflowActivityPerformedUserResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q180="http://mdmobjects.riversand.com/" minOccurs="0" name="GetWorkflowActivityPerformedUserResult" nillable="true" type="q180:SecurityUser" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAppConfigValue">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="keyName" nillable="true" type="xs:string" />
        <xs:element xmlns:q181="http://mdmobjects.riversand.com/" minOccurs="0" name="operationResult" nillable="true" type="q181:OperationResult" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAppConfigValueResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetAppConfigValueResult" nillable="true" type="xs:string" />
        <xs:element xmlns:q182="http://mdmobjects.riversand.com/" minOccurs="0" name="operationResult" nillable="true" type="q182:OperationResult" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllWorkflowInformation">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q183="http://schemas.datacontract.org/2004/07/MDM.BusinessObjects" minOccurs="0" name="callerContext" nillable="true" type="q183:CallerContext" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllWorkflowInformationResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q184="http://mdmobjects.riversand.com/" minOccurs="0" name="GetAllWorkflowInformationResult" nillable="true" type="q184:WorkflowInfoCollection" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>