DataGovernanceStore/Libraries/MDMLibrarySolution/ServiceManager/MDM.Services.Client/Service References/IntegrationServiceClient/IntegrationService123.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/MDM.Core" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/MDM.Core" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:simpleType name="ExecutionStepType">
    <xs:restriction base="xs:string">
      <xs:enumeration value="Core" />
      <xs:enumeration value="Custom" />
      <xs:enumeration value="UnKnown" />
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="ExecutionStepType" nillable="true" type="tns:ExecutionStepType" />
  <xs:simpleType name="ImportSourceType">
    <xs:restriction base="xs:string">
      <xs:enumeration value="StagingDB10" />
      <xs:enumeration value="FlatStagingDB10" />
      <xs:enumeration value="RSXml40" />
      <xs:enumeration value="RSExcel10" />
      <xs:enumeration value="RSMAM10" />
      <xs:enumeration value="UnKnown" />
      <xs:enumeration value="Generic10" />
      <xs:enumeration value="RSXml41" />
      <xs:enumeration value="RSDsv10" />
      <xs:enumeration value="RSExcel11" />
      <xs:enumeration value="LookupData10" />
      <xs:enumeration value="LookupExcel10" />
      <xs:enumeration value="RSLookupExcel10" />
      <xs:enumeration value="RSLookupXml10" />
      <xs:enumeration value="RSLookupGeneric10" />
      <xs:enumeration value="RSLookupDSV10" />
      <xs:enumeration value="RSXliff10" />
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="ImportSourceType" nillable="true" type="tns:ImportSourceType" />
  <xs:simpleType name="MappingDataType">
    <xs:restriction base="xs:string">
      <xs:enumeration value="DBColumn" />
      <xs:enumeration value="XmlNode" />
      <xs:enumeration value="XmlAttribute" />
      <xs:enumeration value="ExcelColumn" />
      <xs:enumeration value="MDMEntityObject" />
      <xs:enumeration value="MDMAttributeObject" />
      <xs:enumeration value="EntityData" />
      <xs:enumeration value="AttributeData" />
      <xs:enumeration value="UnKnown" />
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="MappingDataType" nillable="true" type="tns:MappingDataType" />
  <xs:simpleType name="MappingMode">
    <xs:restriction base="xs:string">
      <xs:enumeration value="Implicit" />
      <xs:enumeration value="Explicit" />
      <xs:enumeration value="InputField" />
      <xs:enumeration value="Custom" />
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="MappingMode" nillable="true" type="tns:MappingMode" />
  <xs:simpleType name="ImportMode">
    <xs:restriction base="xs:string">
      <xs:enumeration value="Merge" />
      <xs:enumeration value="InitialLoad" />
      <xs:enumeration value="ComplextAttribute" />
      <xs:enumeration value="RelationshipLoad" />
      <xs:enumeration value="ExtensionRelationshipLoad" />
      <xs:enumeration value="EntityHierarchyLoad" />
      <xs:enumeration value="EntityExtensionRelationshipAndHierarchyLoad" />
      <xs:enumeration value="UnKnown" />
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="ImportMode" nillable="true" type="tns:ImportMode" />
  <xs:simpleType name="ImportProcessingType">
    <xs:restriction base="xs:string">
      <xs:enumeration value="ValidationOnly" />
      <xs:enumeration value="ValidateAndProcess" />
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="ImportProcessingType" nillable="true" type="tns:ImportProcessingType" />
</xs:schema>