DataGovernanceStore/Libraries/MDMLibrarySolution/ServiceManager/MDM.Services.Client/Service References/WorkflowDesignerServiceClient/WorkflowDesignerService104.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:ser="http://schemas.microsoft.com/2003/10/Serialization/" xmlns:tns="http://schemas.datacontract.org/2004/07/MDM.BusinessObjects" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/MDM.BusinessObjects" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost/MDM7.6-SP6-HF_WCFServices/WorkflowDesignerService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
  <xs:import schemaLocation="http://localhost/MDM7.6-SP6-HF_WCFServices/WorkflowDesignerService.svc?xsd=xsd3" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
  <xs:import schemaLocation="http://localhost/MDM7.6-SP6-HF_WCFServices/WorkflowDesignerService.svc?xsd=xsd2" namespace="http://mdmobjects.riversand.com/" />
  <xs:import schemaLocation="http://localhost/MDM7.6-SP6-HF_WCFServices/WorkflowDesignerService.svc?xsd=xsd6" namespace="http://schemas.datacontract.org/2004/07/MDM.Core" />
  <xs:complexType name="CallerContext">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q1="http://mdmobjects.riversand.com/" base="q1:ObjectBase">
        <xs:sequence>
          <xs:element minOccurs="0" name="ActivityId" type="ser:guid" />
          <xs:element xmlns:q2="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="AdditionalProperties" nillable="true" type="q2:ArrayOfKeyValueOfstringanyType" />
          <xs:element minOccurs="0" name="Application" type="q1:MDMCenterApplication" />
          <xs:element minOccurs="0" name="JobId" type="xs:int" />
          <xs:element minOccurs="0" name="MDMPublisher" type="q1:MDMPublisher" />
          <xs:element minOccurs="0" name="MDMSource" type="q1:EventSource" />
          <xs:element minOccurs="0" name="MDMSubscriber" type="q1:EventSubscriber" />
          <xs:element minOccurs="0" name="Module" type="q1:MDMCenterModules" />
          <xs:element minOccurs="0" name="OperationId" type="ser:guid" />
          <xs:element minOccurs="0" name="ProfileId" type="xs:int" />
          <xs:element minOccurs="0" name="ProfileName" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="ProgramName" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="ServerId" type="xs:int" />
          <xs:element minOccurs="0" name="ServerName" nillable="true" type="xs:string" />
          <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/MDM.Core" minOccurs="0" name="TraceSettings" nillable="true" type="q3:TraceSettings" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="CallerContext" nillable="true" type="tns:CallerContext" />
</xs:schema>