DataGovernanceStore/Libraries/MDMLibrarySolution/ServiceManager/MDM.Services.Client/Service References/DataServiceClient/wcfservices.riversand.com.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://wcfservices.riversand.com" elementFormDefault="qualified" targetNamespace="http://wcfservices.riversand.com" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import namespace="http://mdmobjects.riversand.com/" />
  <xs:import namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
  <xs:import namespace="http://schemas.datacontract.org/2004/07/System.Collections.Generic" />
  <xs:import namespace="http://schemas.datacontract.org/2004/07/MDM.BusinessObjects.Imports" />
  <xs:import namespace="http://schemas.datacontract.org/2004/07/MDM.BusinessObjects.MergeCopy" />
  <xs:element name="GetEntityModel">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://mdmobjects.riversand.com/" minOccurs="0" name="entityContext" nillable="true" type="q1:EntityContext" />
        <xs:element xmlns:q2="http://mdmobjects.riversand.com/" minOccurs="0" name="application" type="q2:MDMCenterApplication" />
        <xs:element xmlns:q3="http://mdmobjects.riversand.com/" minOccurs="0" name="module" type="q3:MDMCenterModules" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetEntityModelResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://mdmobjects.riversand.com/" minOccurs="0" name="GetEntityModelResult" nillable="true" type="q4:Entity" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetEntity">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="entityId" type="xs:long" />
        <xs:element xmlns:q5="http://mdmobjects.riversand.com/" minOccurs="0" name="entityContext" nillable="true" type="q5:EntityContext" />
        <xs:element xmlns:q6="http://mdmobjects.riversand.com/" minOccurs="0" name="application" type="q6:MDMCenterApplication" />
        <xs:element xmlns:q7="http://mdmobjects.riversand.com/" minOccurs="0" name="module" type="q7:MDMCenterModules" />
        <xs:element minOccurs="0" name="publishEvents" type="xs:boolean" />
        <xs:element minOccurs="0" name="applyAVS" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetEntityResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q8="http://mdmobjects.riversand.com/" minOccurs="0" name="GetEntityResult" nillable="true" type="q8:Entity" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetEntities">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q9="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="entityIdList" nillable="true" type="q9:ArrayOflong" />
        <xs:element xmlns:q10="http://mdmobjects.riversand.com/" minOccurs="0" name="entityContext" nillable="true" type="q10:EntityContext" />
        <xs:element xmlns:q11="http://mdmobjects.riversand.com/" minOccurs="0" name="application" type="q11:MDMCenterApplication" />
        <xs:element xmlns:q12="http://mdmobjects.riversand.com/" minOccurs="0" name="module" type="q12:MDMCenterModules" />
        <xs:element minOccurs="0" name="publishEvents" type="xs:boolean" />
        <xs:element minOccurs="0" name="applyAVS" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetEntitiesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q13="http://mdmobjects.riversand.com/" minOccurs="0" name="GetEntitiesResult" nillable="true" type="q13:EntityCollection" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CreateEntity">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q14="http://mdmobjects.riversand.com/" minOccurs="0" name="entity" nillable="true" type="q14:Entity" />
        <xs:element xmlns:q15="http://mdmobjects.riversand.com/" minOccurs="0" name="entityProcessingOptions" nillable="true" type="q15:EntityProcessingOptions" />
        <xs:element minOccurs="0" name="programName" nillable="true" type="xs:string" />
        <xs:element xmlns:q16="http://mdmobjects.riversand.com/" minOccurs="0" name="application" type="q16:MDMCenterApplication" />
        <xs:element xmlns:q17="http://mdmobjects.riversand.com/" minOccurs="0" name="module" type="q17:MDMCenterModules" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CreateEntityResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q18="http://mdmobjects.riversand.com/" minOccurs="0" name="CreateEntityResult" nillable="true" type="q18:EntityOperationResult" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CreateEntities">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q19="http://mdmobjects.riversand.com/" minOccurs="0" name="entities" nillable="true" type="q19:EntityCollection" />
        <xs:element xmlns:q20="http://mdmobjects.riversand.com/" minOccurs="0" name="entityProcessingOptions" nillable="true" type="q20:EntityProcessingOptions" />
        <xs:element minOccurs="0" name="programName" nillable="true" type="xs:string" />
        <xs:element xmlns:q21="http://mdmobjects.riversand.com/" minOccurs="0" name="application" type="q21:MDMCenterApplication" />
        <xs:element xmlns:q22="http://mdmobjects.riversand.com/" minOccurs="0" name="module" type="q22:MDMCenterModules" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CreateEntitiesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q23="http://mdmobjects.riversand.com/" minOccurs="0" name="CreateEntitiesResult" nillable="true" type="q23:EntityOperationResultCollection" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CreateEntityHavingImageAttributes">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q24="http://mdmobjects.riversand.com/" minOccurs="0" name="entity" nillable="true" type="q24:Entity" />
        <xs:element xmlns:q25="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="imageDetails" nillable="true" type="q25:ArrayOfKeyValueOfKeyValuePairOfintLocaleEnum7cXCH591FilezQwsHphZ" />
        <xs:element minOccurs="0" name="programName" nillable="true" type="xs:string" />
        <xs:element xmlns:q26="http://mdmobjects.riversand.com/" minOccurs="0" name="application" type="q26:MDMCenterApplication" />
        <xs:element xmlns:q27="http://mdmobjects.riversand.com/" minOccurs="0" name="module" type="q27:MDMCenterModules" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CreateEntityHavingImageAttributesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q28="http://mdmobjects.riversand.com/" minOccurs="0" name="CreateEntityHavingImageAttributesResult" nillable="true" type="q28:EntityOperationResult" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateEntity">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q29="http://mdmobjects.riversand.com/" minOccurs="0" name="entity" nillable="true" type="q29:Entity" />
        <xs:element xmlns:q30="http://mdmobjects.riversand.com/" minOccurs="0" name="entityProcessingOptions" nillable="true" type="q30:EntityProcessingOptions" />
        <xs:element minOccurs="0" name="programName" nillable="true" type="xs:string" />
        <xs:element xmlns:q31="http://mdmobjects.riversand.com/" minOccurs="0" name="application" type="q31:MDMCenterApplication" />
        <xs:element xmlns:q32="http://mdmobjects.riversand.com/" minOccurs="0" name="module" type="q32:MDMCenterModules" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateEntityResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q33="http://mdmobjects.riversand.com/" minOccurs="0" name="UpdateEntityResult" nillable="true" type="q33:EntityOperationResult" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateEntities">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q34="http://mdmobjects.riversand.com/" minOccurs="0" name="entities" nillable="true" type="q34:EntityCollection" />
        <xs:element xmlns:q35="http://mdmobjects.riversand.com/" minOccurs="0" name="entityProcessingOptions" nillable="true" type="q35:EntityProcessingOptions" />
        <xs:element minOccurs="0" name="programName" nillable="true" type="xs:string" />
        <xs:element xmlns:q36="http://mdmobjects.riversand.com/" minOccurs="0" name="application" type="q36:MDMCenterApplication" />
        <xs:element xmlns:q37="http://mdmobjects.riversand.com/" minOccurs="0" name="module" type="q37:MDMCenterModules" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateEntitiesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q38="http://mdmobjects.riversand.com/" minOccurs="0" name="UpdateEntitiesResult" nillable="true" type="q38:EntityOperationResultCollection" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateEntityHavingImageAttributes">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q39="http://mdmobjects.riversand.com/" minOccurs="0" name="entity" nillable="true" type="q39:Entity" />
        <xs:element xmlns:q40="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="imageDetails" nillable="true" type="q40:ArrayOfKeyValueOfKeyValuePairOfintLocaleEnum7cXCH591FilezQwsHphZ" />
        <xs:element minOccurs="0" name="programName" nillable="true" type="xs:string" />
        <xs:element xmlns:q41="http://mdmobjects.riversand.com/" minOccurs="0" name="application" type="q41:MDMCenterApplication" />
        <xs:element xmlns:q42="http://mdmobjects.riversand.com/" minOccurs="0" name="module" type="q42:MDMCenterModules" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateEntityHavingImageAttributesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q43="http://mdmobjects.riversand.com/" minOccurs="0" name="UpdateEntityHavingImageAttributesResult" nillable="true" type="q43:EntityOperationResult" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteEntity">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q44="http://mdmobjects.riversand.com/" minOccurs="0" name="entity" nillable="true" type="q44:Entity" />
        <xs:element minOccurs="0" name="programName" nillable="true" type="xs:string" />
        <xs:element xmlns:q45="http://mdmobjects.riversand.com/" minOccurs="0" name="application" type="q45:MDMCenterApplication" />
        <xs:element xmlns:q46="http://mdmobjects.riversand.com/" minOccurs="0" name="module" type="q46:MDMCenterModules" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteEntityResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q47="http://mdmobjects.riversand.com/" minOccurs="0" name="DeleteEntityResult" nillable="true" type="q47:EntityOperationResult" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteEntities">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q48="http://mdmobjects.riversand.com/" minOccurs="0" name="entities" nillable="true" type="q48:EntityCollection" />
        <xs:element minOccurs="0" name="programName" nillable="true" type="xs:string" />
        <xs:element xmlns:q49="http://mdmobjects.riversand.com/" minOccurs="0" name="application" type="q49:MDMCenterApplication" />
        <xs:element xmlns:q50="http://mdmobjects.riversand.com/" minOccurs="0" name="module" type="q50:MDMCenterModules" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteEntitiesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q51="http://mdmobjects.riversand.com/" minOccurs="0" name="DeleteEntitiesResult" nillable="true" type="q51:EntityOperationResultCollection" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ProcessEntities">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q52="http://mdmobjects.riversand.com/" minOccurs="0" name="entities" nillable="true" type="q52:EntityCollection" />
        <xs:element xmlns:q53="http://mdmobjects.riversand.com/" minOccurs="0" name="entityProcessingOptions" nillable="true" type="q53:EntityProcessingOptions" />
        <xs:element minOccurs="0" name="programName" nillable="true" type="xs:string" />
        <xs:element xmlns:q54="http://mdmobjects.riversand.com/" minOccurs="0" name="application" type="q54:MDMCenterApplication" />
        <xs:element xmlns:q55="http://mdmobjects.riversand.com/" minOccurs="0" name="module" type="q55:MDMCenterModules" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ProcessEntitiesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q56="http://mdmobjects.riversand.com/" minOccurs="0" name="ProcessEntitiesResult" nillable="true" type="q56:EntityOperationResultCollection" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ProcessEntitiesWithCallerContext">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q57="http://mdmobjects.riversand.com/" minOccurs="0" name="entities" nillable="true" type="q57:EntityCollection" />
        <xs:element xmlns:q58="http://mdmobjects.riversand.com/" minOccurs="0" name="entityProcessingOptions" nillable="true" type="q58:EntityProcessingOptions" />
        <xs:element xmlns:q59="http://mdmobjects.riversand.com/" minOccurs="0" name="callerContext" nillable="true" type="q59:CallerContext" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ProcessEntitiesWithCallerContextResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q60="http://mdmobjects.riversand.com/" minOccurs="0" name="ProcessEntitiesWithCallerContextResult" nillable="true" type="q60:EntityOperationResultCollection" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="LoadAttributesFromAttributeIdList">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q61="http://mdmobjects.riversand.com/" minOccurs="0" name="entity" nillable="true" type="q61:Entity" />
        <xs:element xmlns:q62="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="attributeIdList" nillable="true" type="q62:ArrayOfint" />
        <xs:element xmlns:q63="http://mdmobjects.riversand.com/" minOccurs="0" name="application" type="q63:MDMCenterApplication" />
        <xs:element xmlns:q64="http://mdmobjects.riversand.com/" minOccurs="0" name="module" type="q64:MDMCenterModules" />
        <xs:element xmlns:q65="http://mdmobjects.riversand.com/" minOccurs="0" name="attributeModelType" type="q65:AttributeModelType" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="LoadAttributesFromAttributeIdListResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q66="http://mdmobjects.riversand.com/" minOccurs="0" name="LoadAttributesFromAttributeIdListResult" nillable="true" type="q66:AttributeCollection" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="LoadAttributesFromAttributeGroupIdList">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q67="http://mdmobjects.riversand.com/" minOccurs="0" name="entity" nillable="true" type="q67:Entity" />
        <xs:element xmlns:q68="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="attributeGroupIdList" nillable="true" type="q68:ArrayOfint" />
        <xs:element xmlns:q69="http://mdmobjects.riversand.com/" minOccurs="0" name="application" type="q69:MDMCenterApplication" />
        <xs:element xmlns:q70="http://mdmobjects.riversand.com/" minOccurs="0" name="module" type="q70:MDMCenterModules" />
        <xs:element xmlns:q71="http://mdmobjects.riversand.com/" minOccurs="0" name="attributeModelType" type="q71:AttributeModelType" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="LoadAttributesFromAttributeGroupIdListResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q72="http://mdmobjects.riversand.com/" minOccurs="0" name="LoadAttributesFromAttributeGroupIdListResult" nillable="true" type="q72:AttributeCollection" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetEntityViewCompletionStatus">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="entityId" type="xs:long" />
        <xs:element minOccurs="0" name="userId" type="xs:int" />
        <xs:element minOccurs="0" name="entityViewXml" nillable="true" type="xs:string" />
        <xs:element xmlns:q73="http://mdmobjects.riversand.com/" minOccurs="0" name="entityContext" nillable="true" type="q73:EntityContext" />
        <xs:element minOccurs="0" name="isRecalculationRequired" type="xs:boolean" />
        <xs:element xmlns:q74="http://mdmobjects.riversand.com/" minOccurs="0" name="application" type="q74:MDMCenterApplication" />
        <xs:element xmlns:q75="http://mdmobjects.riversand.com/" minOccurs="0" name="module" type="q75:MDMCenterModules" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetEntityViewCompletionStatusResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q76="http://mdmobjects.riversand.com/" minOccurs="0" name="GetEntityViewCompletionStatusResult" nillable="true" type="q76:EntityViewCollection" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetHierarchyRelationships">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="entityId" type="xs:long" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetHierarchyRelationshipsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q77="http://mdmobjects.riversand.com/" minOccurs="0" name="GetHierarchyRelationshipsResult" nillable="true" type="q77:HierarchyRelationshipCollection" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ProcessHierarchyRelationships">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="entityId" type="xs:long" />
        <xs:element xmlns:q78="http://mdmobjects.riversand.com/" minOccurs="0" name="hierarchies" nillable="true" type="q78:HierarchyRelationshipCollection" />
        <xs:element minOccurs="0" name="programName" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ProcessHierarchyRelationshipsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q79="http://mdmobjects.riversand.com/" minOccurs="0" name="ProcessHierarchyRelationshipsResult" nillable="true" type="q79:OperationResult" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetRelationships">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="entityId" type="xs:long" />
        <xs:element minOccurs="0" name="containerId" type="xs:int" />
        <xs:element xmlns:q80="http://mdmobjects.riversand.com/" minOccurs="0" name="relationshipContext" nillable="true" type="q80:RelationshipContext" />
        <xs:element xmlns:q81="http://mdmobjects.riversand.com/" minOccurs="0" name="application" type="q81:MDMCenterApplication" />
        <xs:element xmlns:q82="http://mdmobjects.riversand.com/" minOccurs="0" name="module" type="q82:MDMCenterModules" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetRelationshipsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q83="http://mdmobjects.riversand.com/" minOccurs="0" name="GetRelationshipsResult" nillable="true" type="q83:RelationshipCollection" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ProcessRelationships">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="entityId" type="xs:long" />
        <xs:element xmlns:q84="http://mdmobjects.riversand.com/" minOccurs="0" name="relationshipCollection" nillable="true" type="q84:RelationshipCollection" />
        <xs:element minOccurs="0" name="programName" nillable="true" type="xs:string" />
        <xs:element xmlns:q85="http://mdmobjects.riversand.com/" minOccurs="0" name="application" type="q85:MDMCenterApplication" />
        <xs:element xmlns:q86="http://mdmobjects.riversand.com/" minOccurs="0" name="module" type="q86:MDMCenterModules" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ProcessRelationshipsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q87="http://mdmobjects.riversand.com/" minOccurs="0" name="ProcessRelationshipsResult" nillable="true" type="q87:OperationResult" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EnsureAttributesValues">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q88="http://mdmobjects.riversand.com/" minOccurs="0" name="entity" nillable="true" type="q88:Entity" />
        <xs:element xmlns:q89="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="attributeIds" nillable="true" type="q89:ArrayOfint" />
        <xs:element xmlns:q90="http://mdmobjects.riversand.com/" minOccurs="0" name="application" type="q90:MDMCenterApplication" />
        <xs:element xmlns:q91="http://mdmobjects.riversand.com/" minOccurs="0" name="module" type="q91:MDMCenterModules" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EnsureAttributesValuesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q92="http://mdmobjects.riversand.com/" minOccurs="0" name="EnsureAttributesValuesResult" nillable="true" type="q92:Entity" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EnsureAttributeValues">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q93="http://mdmobjects.riversand.com/" minOccurs="0" name="entity" nillable="true" type="q93:Entity" />
        <xs:element xmlns:q94="http://mdmobjects.riversand.com/" minOccurs="0" name="attributeUniqueIdentifier" nillable="true" type="q94:AttributeUniqueIdentifier" />
        <xs:element xmlns:q95="http://mdmobjects.riversand.com/" minOccurs="0" name="application" type="q95:MDMCenterApplication" />
        <xs:element xmlns:q96="http://mdmobjects.riversand.com/" minOccurs="0" name="module" type="q96:MDMCenterModules" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EnsureAttributeValuesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q97="http://mdmobjects.riversand.com/" minOccurs="0" name="EnsureAttributeValuesResult" nillable="true" type="q97:Entity" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EnsureAttributesForEntityAndAttributeIds">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q98="http://mdmobjects.riversand.com/" minOccurs="0" name="entity" nillable="true" type="q98:Entity" />
        <xs:element xmlns:q99="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="attributeIds" nillable="true" type="q99:ArrayOfint" />
        <xs:element minOccurs="0" name="loadAttributeModels" type="xs:boolean" />
        <xs:element xmlns:q100="http://mdmobjects.riversand.com/" minOccurs="0" name="callerContext" nillable="true" type="q100:CallerContext" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EnsureAttributesForEntityAndAttributeIdsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q101="http://mdmobjects.riversand.com/" minOccurs="0" name="EnsureAttributesForEntityAndAttributeIdsResult" nillable="true" type="q101:Entity" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EnsureAttributesForEntityAndAttributeUniqueIdentifier">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q102="http://mdmobjects.riversand.com/" minOccurs="0" name="entity" nillable="true" type="q102:Entity" />
        <xs:element xmlns:q103="http://mdmobjects.riversand.com/" minOccurs="0" name="attributeUniqueIdentifier" nillable="true" type="q103:AttributeUniqueIdentifier" />
        <xs:element minOccurs="0" name="loadAttributeModels" type="xs:boolean" />
        <xs:element xmlns:q104="http://mdmobjects.riversand.com/" minOccurs="0" name="callerContext" nillable="true" type="q104:CallerContext" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EnsureAttributesForEntityAndAttributeUniqueIdentifierResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q105="http://mdmobjects.riversand.com/" minOccurs="0" name="EnsureAttributesForEntityAndAttributeUniqueIdentifierResult" nillable="true" type="q105:Entity" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EnsureAttributesForEntityCollectionAndAttributeIds">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q106="http://mdmobjects.riversand.com/" minOccurs="0" name="entityCollection" nillable="true" type="q106:EntityCollection" />
        <xs:element xmlns:q107="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="attributeIds" nillable="true" type="q107:ArrayOfint" />
        <xs:element minOccurs="0" name="loadAttributeModels" type="xs:boolean" />
        <xs:element xmlns:q108="http://mdmobjects.riversand.com/" minOccurs="0" name="callerContext" nillable="true" type="q108:CallerContext" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EnsureAttributesForEntityCollectionAndAttributeIdsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q109="http://mdmobjects.riversand.com/" minOccurs="0" name="EnsureAttributesForEntityCollectionAndAttributeIdsResult" nillable="true" type="q109:EntityCollection" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EnsureAttributesForEntityCollectionAndAttributeUniqueIdentifiers">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q110="http://mdmobjects.riversand.com/" minOccurs="0" name="entityCollection" nillable="true" type="q110:EntityCollection" />
        <xs:element xmlns:q111="http://mdmobjects.riversand.com/" minOccurs="0" name="attributeUniqueIdentifiers" nillable="true" type="q111:ArrayOfAttributeUniqueIdentifier" />
        <xs:element minOccurs="0" name="loadAttributeModels" type="xs:boolean" />
        <xs:element xmlns:q112="http://mdmobjects.riversand.com/" minOccurs="0" name="callerContext" nillable="true" type="q112:CallerContext" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EnsureAttributesForEntityCollectionAndAttributeUniqueIdentifiersResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q113="http://mdmobjects.riversand.com/" minOccurs="0" name="EnsureAttributesForEntityCollectionAndAttributeUniqueIdentifiersResult" nillable="true" type="q113:EntityCollection" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EnsureAttributesForEntityCollectionAndAttributeModelContext">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q114="http://mdmobjects.riversand.com/" minOccurs="0" name="entityCollection" nillable="true" type="q114:EntityCollection" />
        <xs:element xmlns:q115="http://mdmobjects.riversand.com/" minOccurs="0" name="attributeModelContext" nillable="true" type="q115:AttributeModelContext" />
        <xs:element minOccurs="0" name="loadAttributeModels" type="xs:boolean" />
        <xs:element xmlns:q116="http://mdmobjects.riversand.com/" minOccurs="0" name="callerContext" nillable="true" type="q116:CallerContext" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EnsureAttributesForEntityCollectionAndAttributeModelContextResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q117="http://mdmobjects.riversand.com/" minOccurs="0" name="EnsureAttributesForEntityCollectionAndAttributeModelContextResult" nillable="true" type="q117:EntityCollection" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetEntityByExternalId">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="externalId" nillable="true" type="xs:string" />
        <xs:element xmlns:q118="http://mdmobjects.riversand.com/" minOccurs="0" name="entityContext" nillable="true" type="q118:EntityContext" />
        <xs:element xmlns:q119="http://mdmobjects.riversand.com/" minOccurs="0" name="context" nillable="true" type="q119:CallerContext" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetEntityByExternalIdResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q120="http://mdmobjects.riversand.com/" minOccurs="0" name="GetEntityByExternalIdResult" nillable="true" type="q120:Entity" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetEntityByExtenalIdWithPublishEventAndApplyAVSOption">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="externalId" nillable="true" type="xs:string" />
        <xs:element xmlns:q121="http://mdmobjects.riversand.com/" minOccurs="0" name="entityContext" nillable="true" type="q121:EntityContext" />
        <xs:element xmlns:q122="http://mdmobjects.riversand.com/" minOccurs="0" name="context" nillable="true" type="q122:CallerContext" />
        <xs:element minOccurs="0" name="publishEvents" type="xs:boolean" />
        <xs:element minOccurs="0" name="applyAVS" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetEntityByExtenalIdWithPublishEventAndApplyAVSOptionResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q123="http://mdmobjects.riversand.com/" minOccurs="0" name="GetEntityByExtenalIdWithPublishEventAndApplyAVSOptionResult" nillable="true" type="q123:Entity" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetWhereUsedRelationships">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="entityId" type="xs:long" />
        <xs:element minOccurs="0" name="relationshipTypeId" type="xs:int" />
        <xs:element xmlns:q124="http://mdmobjects.riversand.com/" minOccurs="0" name="context" nillable="true" type="q124:CallerContext" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetWhereUsedRelationshipsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q125="http://mdmobjects.riversand.com/" minOccurs="0" name="GetWhereUsedRelationshipsResult" nillable="true" type="q125:RelationshipCollection" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetRelationshipModel">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="relationshipTypeId" type="xs:int" />
        <xs:element minOccurs="0" name="containerId" type="xs:int" />
        <xs:element xmlns:q126="http://mdmobjects.riversand.com/" minOccurs="0" name="locales" nillable="true" type="q126:ArrayOfLocaleEnum" />
        <xs:element xmlns:q127="http://mdmobjects.riversand.com/" minOccurs="0" name="context" nillable="true" type="q127:CallerContext" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetRelationshipModelResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q128="http://mdmobjects.riversand.com/" minOccurs="0" name="GetRelationshipModelResult" nillable="true" type="q128:Relationship" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ProcessEntityLocale">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="dataXml" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="systemDataLocale" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="returnResult" type="xs:boolean" />
        <xs:element xmlns:q129="http://mdmobjects.riversand.com/" minOccurs="0" name="callerContext" nillable="true" type="q129:CallerContext" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ProcessEntityLocaleResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q130="http://mdmobjects.riversand.com/" minOccurs="0" name="ProcessEntityLocaleResult" nillable="true" type="q130:EntityOperationResultCollection" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetEntityLocale">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="entityId" type="xs:long" />
        <xs:element xmlns:q131="http://mdmobjects.riversand.com/" minOccurs="0" name="datalocales" nillable="true" type="q131:ArrayOfLocale" />
        <xs:element xmlns:q132="http://mdmobjects.riversand.com/" minOccurs="0" name="callerContext" nillable="true" type="q132:CallerContext" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetEntityLocaleResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q133="http://mdmobjects.riversand.com/" minOccurs="0" name="GetEntityLocaleResult" nillable="true" type="q133:EntityCollection" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SearchEntities">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q134="http://mdmobjects.riversand.com/" minOccurs="0" name="searchCriteria" nillable="true" type="q134:SearchCriteria" />
        <xs:element xmlns:q135="http://mdmobjects.riversand.com/" minOccurs="0" name="searchContext" nillable="true" type="q135:SearchContext" />
        <xs:element xmlns:q136="http://mdmobjects.riversand.com/" minOccurs="0" name="searchOperationResult" nillable="true" type="q136:OperationResult" />
        <xs:element xmlns:q137="http://mdmobjects.riversand.com/" minOccurs="0" name="callerContext" nillable="true" type="q137:CallerContext" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SearchEntitiesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q138="http://mdmobjects.riversand.com/" minOccurs="0" name="SearchEntitiesResult" nillable="true" type="q138:EntityCollection" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetEntityHistory">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="entityId" type="xs:long" />
        <xs:element xmlns:q139="http://mdmobjects.riversand.com/" minOccurs="0" name="entityHistoryContext" nillable="true" type="q139:EntityHistoryContext" />
        <xs:element xmlns:q140="http://mdmobjects.riversand.com/" minOccurs="0" name="callerContext" nillable="true" type="q140:CallerContext" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetEntityHistoryResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q141="http://mdmobjects.riversand.com/" minOccurs="0" name="GetEntityHistoryResult" nillable="true" type="q141:EntityHistory" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetEntitiesHistory">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q142="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="entityIds" nillable="true" type="q142:ArrayOflong" />
        <xs:element xmlns:q143="http://mdmobjects.riversand.com/" minOccurs="0" name="entityHistoryContext" nillable="true" type="q143:EntityHistoryContext" />
        <xs:element xmlns:q144="http://mdmobjects.riversand.com/" minOccurs="0" name="callerContext" nillable="true" type="q144:CallerContext" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetEntitiesHistoryResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q145="http://mdmobjects.riversand.com/" minOccurs="0" name="GetEntitiesHistoryResult" nillable="true" type="q145:EntityCollectionHistory" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SendEntityHistoryDetailsAsMail">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="entityId" type="xs:long" />
        <xs:element xmlns:q146="http://mdmobjects.riversand.com/" minOccurs="0" name="entityHistoryContext" nillable="true" type="q146:EntityHistoryContext" />
        <xs:element xmlns:q147="http://mdmobjects.riversand.com/" minOccurs="0" name="columnsToBeConsidered" nillable="true" type="q147:ColumnCollection" />
        <xs:element xmlns:q148="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="tomailAddress" nillable="true" type="q148:ArrayOfstring" />
        <xs:element minOccurs="0" name="mailSubject" nillable="true" type="xs:string" />
        <xs:element xmlns:q149="http://mdmobjects.riversand.com/" minOccurs="0" name="callerContext" nillable="true" type="q149:CallerContext" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SendEntityHistoryDetailsAsMailResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q150="http://mdmobjects.riversand.com/" minOccurs="0" name="SendEntityHistoryDetailsAsMailResult" nillable="true" type="q150:OperationResult" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCategories">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="hierarchyId" type="xs:int" />
        <xs:element minOccurs="0" name="localeId" type="xs:int" />
        <xs:element minOccurs="0" name="ruleSetId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCategoriesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q151="http://mdmobjects.riversand.com/" minOccurs="0" name="GetCategoriesResult" nillable="true" type="q151:CategoryCollection" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCategoriesForLookup">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="hierarchyId" type="xs:int" />
        <xs:element minOccurs="0" name="localeId" type="xs:int" />
        <xs:element minOccurs="0" name="ruleSetId" type="xs:int" />
        <xs:element minOccurs="0" name="showLevel" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCategoriesForLookupResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q152="http://mdmobjects.riversand.com/" minOccurs="0" name="GetCategoriesForLookupResult" nillable="true" type="q152:Table" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllCategories">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q153="http://mdmobjects.riversand.com/" minOccurs="0" name="locale" type="q153:LocaleEnum" />
        <xs:element xmlns:q154="http://mdmobjects.riversand.com/" minOccurs="0" name="callerContext" nillable="true" type="q154:CallerContext" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllCategoriesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q155="http://mdmobjects.riversand.com/" minOccurs="0" name="GetAllCategoriesResult" nillable="true" type="q155:CategoryCollection" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetLookupData">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q156="http://mdmobjects.riversand.com/" minOccurs="0" name="context" nillable="true" type="q156:LookupContext" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetLookupDataResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q157="http://mdmobjects.riversand.com/" minOccurs="0" name="GetLookupDataResult" nillable="true" type="q157:LookupCollection" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetLookupDisplayValue">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q158="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="attributeValueRefIdPair" nillable="true" type="q158:ArrayOfKeyValueOfintlong" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetLookupDisplayValueResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q159="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="GetLookupDisplayValueResult" nillable="true" type="q159:ArrayOfKeyValueOfintstring" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CalculateDimensions">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q160="http://mdmobjects.riversand.com/" minOccurs="0" name="level" nillable="true" type="q160:EntityHierarchyLevel" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CalculateDimensionsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q161="http://mdmobjects.riversand.com/" minOccurs="0" name="CalculateDimensionsResult" nillable="true" type="q161:Table" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ProcessHierarchyGenerationRules">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="entityId" type="xs:long" />
        <xs:element xmlns:q162="http://mdmobjects.riversand.com/" minOccurs="0" name="definition" nillable="true" type="q162:EntityHierarchyDefinition" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ProcessHierarchyGenerationRulesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ProcessHierarchyGenerationRulesResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetHierarchyDimensionValues">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="entityId" type="xs:long" />
        <xs:element xmlns:q163="http://mdmobjects.riversand.com/" minOccurs="0" name="definition" nillable="true" type="q163:EntityHierarchyDefinition" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetHierarchyDimensionValuesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q164="http://mdmobjects.riversand.com/" minOccurs="0" name="GetHierarchyDimensionValuesResult" nillable="true" type="q164:EntityHierarchyDefinition" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetHierarchyMatrix">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="entityId" type="xs:long" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetHierarchyMatrixResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q165="http://mdmobjects.riversand.com/" minOccurs="0" name="GetHierarchyMatrixResult" nillable="true" type="q165:Table" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetHierarchyMatrixByDefinition">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="entityId" type="xs:long" />
        <xs:element xmlns:q166="http://mdmobjects.riversand.com/" minOccurs="0" name="entityHierarchyDefinition" nillable="true" type="q166:EntityHierarchyDefinition" />
        <xs:element xmlns:q167="http://mdmobjects.riversand.com/" minOccurs="0" name="operationResult" nillable="true" type="q167:OperationResult" />
        <xs:element xmlns:q168="http://mdmobjects.riversand.com/" minOccurs="0" name="application" type="q168:MDMCenterApplication" />
        <xs:element xmlns:q169="http://mdmobjects.riversand.com/" minOccurs="0" name="module" type="q169:MDMCenterModules" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetHierarchyMatrixByDefinitionResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q170="http://mdmobjects.riversand.com/" minOccurs="0" name="GetHierarchyMatrixByDefinitionResult" nillable="true" type="q170:Table" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ProcessHierarchyMatrix">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="entityId" type="xs:long" />
        <xs:element xmlns:q171="http://mdmobjects.riversand.com/" minOccurs="0" name="matrixTable" nillable="true" type="q171:Table" />
        <xs:element xmlns:q172="http://mdmobjects.riversand.com/" minOccurs="0" name="entityHierarchyDefinition" nillable="true" type="q172:EntityHierarchyDefinition" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ProcessHierarchyMatrixResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q173="http://mdmobjects.riversand.com/" minOccurs="0" name="ProcessHierarchyMatrixResult" nillable="true" type="q173:OperationResult" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GenerateHierarchy">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q174="http://mdmobjects.riversand.com/" minOccurs="0" name="entity" nillable="true" type="q174:Entity" />
        <xs:element xmlns:q175="http://mdmobjects.riversand.com/" minOccurs="0" name="matrixTable" nillable="true" type="q175:Table" />
        <xs:element xmlns:q176="http://mdmobjects.riversand.com/" minOccurs="0" name="entityHierarchyDefinition" nillable="true" type="q176:EntityHierarchyDefinition" />
        <xs:element xmlns:q177="http://mdmobjects.riversand.com/" minOccurs="0" name="application" type="q177:MDMCenterApplication" />
        <xs:element xmlns:q178="http://mdmobjects.riversand.com/" minOccurs="0" name="module" type="q178:MDMCenterModules" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GenerateHierarchyResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q179="http://mdmobjects.riversand.com/" minOccurs="0" name="GenerateHierarchyResult" nillable="true" type="q179:OperationResult" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GenerateHierarchyWithDimensionValues">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q180="http://mdmobjects.riversand.com/" minOccurs="0" name="entity" nillable="true" type="q180:Entity" />
        <xs:element xmlns:q181="http://mdmobjects.riversand.com/" minOccurs="0" name="entityHierarchyDefinition" nillable="true" type="q181:EntityHierarchyDefinition" />
        <xs:element xmlns:q182="http://mdmobjects.riversand.com/" minOccurs="0" name="callerContext" nillable="true" type="q182:CallerContext" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GenerateHierarchyWithDimensionValuesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q183="http://mdmobjects.riversand.com/" minOccurs="0" name="GenerateHierarchyWithDimensionValuesResult" nillable="true" type="q183:OperationResult" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetChildEntitiesByEntityType">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="entityId" type="xs:long" />
        <xs:element minOccurs="0" name="entityTypeId" type="xs:int" />
        <xs:element xmlns:q184="http://schemas.datacontract.org/2004/07/System.Collections.Generic" minOccurs="0" name="attributeInfoList" nillable="true" type="q184:ArrayOfKeyValuePairOfintLocaleEnum7cXCH591" />
        <xs:element xmlns:q185="http://mdmobjects.riversand.com/" minOccurs="0" name="application" type="q185:MDMCenterApplication" />
        <xs:element xmlns:q186="http://mdmobjects.riversand.com/" minOccurs="0" name="module" type="q186:MDMCenterModules" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetChildEntitiesByEntityTypeResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q187="http://mdmobjects.riversand.com/" minOccurs="0" name="GetChildEntitiesByEntityTypeResult" nillable="true" type="q187:EntityCollection" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetChildEntitiesIdsByEntityType">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q188="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="entityIds" nillable="true" type="q188:ArrayOflong" />
        <xs:element xmlns:q189="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="childEntityTypeIds" nillable="true" type="q189:ArrayOfint" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetChildEntitiesIdsByEntityTypeResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q190="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="GetChildEntitiesIdsByEntityTypeResult" nillable="true" type="q190:ArrayOflong" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Reclassify">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="dataXml" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="userLogin" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="isCategoryReclassify" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ReclassifyResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q191="http://mdmobjects.riversand.com/" minOccurs="0" name="ReclassifyResult" nillable="true" type="q191:Table" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="IsLatestMatrix">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="entityId" type="xs:long" />
        <xs:element minOccurs="0" name="hierarchyDefinationId" type="xs:int" />
        <xs:element xmlns:q192="http://mdmobjects.riversand.com/" minOccurs="0" name="application" type="q192:MDMCenterApplication" />
        <xs:element xmlns:q193="http://mdmobjects.riversand.com/" minOccurs="0" name="module" type="q193:MDMCenterModules" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="IsLatestMatrixResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="IsLatestMatrixResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetChildEntitiesByDimensionValues">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q194="http://mdmobjects.riversand.com/" minOccurs="0" name="entity" nillable="true" type="q194:Entity" />
        <xs:element xmlns:q195="http://mdmobjects.riversand.com/" minOccurs="0" name="entityHierarchyDefinition" nillable="true" type="q195:EntityHierarchyDefinition" />
        <xs:element xmlns:q196="http://mdmobjects.riversand.com/" minOccurs="0" name="operationResult" nillable="true" type="q196:OperationResult" />
        <xs:element xmlns:q197="http://mdmobjects.riversand.com/" minOccurs="0" name="callerContext" nillable="true" type="q197:CallerContext" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetChildEntitiesByDimensionValuesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q198="http://mdmobjects.riversand.com/" minOccurs="0" name="GetChildEntitiesByDimensionValuesResult" nillable="true" type="q198:EntityCollection" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCategoryTreeNodeItems">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="parentCategoryId" type="xs:long" />
        <xs:element minOccurs="0" name="catalogId" type="xs:int" />
        <xs:element minOccurs="0" name="sysAttrSelectionXml" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="categorySearchColumn" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="categorySearchString" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="intCountFrom" type="xs:int" />
        <xs:element minOccurs="0" name="intCountTo" type="xs:int" />
        <xs:element minOccurs="0" name="localeId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCategoryTreeNodeItemsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q199="http://mdmobjects.riversand.com/" minOccurs="0" name="GetCategoryTreeNodeItemsResult" nillable="true" type="q199:CategoryTreeItemCollection" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ProcessEntityHierarchyDimensionValues">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q200="http://mdmobjects.riversand.com/" minOccurs="0" name="entity" nillable="true" type="q200:Entity" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ProcessEntityHierarchyDimensionValuesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q201="http://mdmobjects.riversand.com/" minOccurs="0" name="ProcessEntityHierarchyDimensionValuesResult" nillable="true" type="q201:EntityOperationResult" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="IsProfileExists">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="profileId" type="xs:int" />
        <xs:element xmlns:q202="http://mdmobjects.riversand.com/" minOccurs="0" name="application" type="q202:MDMCenterApplication" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="IsProfileExistsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="IsProfileExistsResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetFile">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="fileId" type="xs:int" />
        <xs:element minOccurs="0" name="getOnlyFileDetails" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetFileResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q203="http://mdmobjects.riversand.com/" minOccurs="0" name="GetFileResult" nillable="true" type="q203:File" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetImportTemplateFile">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="templateId" type="xs:int" />
        <xs:element xmlns:q204="http://mdmobjects.riversand.com/" minOccurs="0" name="callerContext" nillable="true" type="q204:CallerContext" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetImportTemplateFileResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q205="http://mdmobjects.riversand.com/" minOccurs="0" name="GetImportTemplateFileResult" nillable="true" type="q205:File" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetExportTemplateFile">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="templateId" type="xs:int" />
        <xs:element xmlns:q206="http://mdmobjects.riversand.com/" minOccurs="0" name="callerContext" nillable="true" type="q206:CallerContext" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetExportTemplateFileResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q207="http://mdmobjects.riversand.com/" minOccurs="0" name="GetExportTemplateFileResult" nillable="true" type="q207:File" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetImportTemplateFileByName">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="fileName" nillable="true" type="xs:string" />
        <xs:element xmlns:q208="http://mdmobjects.riversand.com/" minOccurs="0" name="callerContext" nillable="true" type="q208:CallerContext" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetImportTemplateFileByNameResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q209="http://mdmobjects.riversand.com/" minOccurs="0" name="GetImportTemplateFileByNameResult" nillable="true" type="q209:File" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetExportTemplateFileByName">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="fileName" nillable="true" type="xs:string" />
        <xs:element xmlns:q210="http://mdmobjects.riversand.com/" minOccurs="0" name="callerContext" nillable="true" type="q210:CallerContext" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetExportTemplateFileByNameResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q211="http://mdmobjects.riversand.com/" minOccurs="0" name="GetExportTemplateFileByNameResult" nillable="true" type="q211:File" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Process">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q212="http://mdmobjects.riversand.com/" minOccurs="0" name="file" nillable="true" type="q212:File" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ProcessResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ProcessResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="LoadEntityMaps">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="systemId" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="containerId" type="xs:int" />
        <xs:element minOccurs="0" name="entityTypeId" type="xs:int" />
        <xs:element xmlns:q213="http://schemas.datacontract.org/2004/07/MDM.BusinessObjects.Imports" minOccurs="0" name="entityIdentificationMap" nillable="true" type="q213:EntityIdentificationMap" />
        <xs:element xmlns:q214="http://mdmobjects.riversand.com/" minOccurs="0" name="application" type="q214:MDMCenterApplication" />
        <xs:element xmlns:q215="http://mdmobjects.riversand.com/" minOccurs="0" name="module" type="q215:MDMCenterModules" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="LoadEntityMapsResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetEntityMap">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="systemId" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="externalId" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="containerId" type="xs:int" />
        <xs:element minOccurs="0" name="entityTypeId" type="xs:int" />
        <xs:element minOccurs="0" name="categoryId" type="xs:long" />
        <xs:element xmlns:q216="http://schemas.datacontract.org/2004/07/MDM.BusinessObjects.Imports" minOccurs="0" name="entityIdentificationMap" nillable="true" type="q216:EntityIdentificationMap" />
        <xs:element xmlns:q217="http://mdmobjects.riversand.com/" minOccurs="0" name="application" type="q217:MDMCenterApplication" />
        <xs:element xmlns:q218="http://mdmobjects.riversand.com/" minOccurs="0" name="module" type="q218:MDMCenterModules" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetEntityMapResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q219="http://mdmobjects.riversand.com/" minOccurs="0" name="GetEntityMapResult" nillable="true" type="q219:EntityMap" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="LoadInternalDetails">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q220="http://mdmobjects.riversand.com/" minOccurs="0" name="entityMapCollection" nillable="true" type="q220:EntityMapCollection" />
        <xs:element xmlns:q221="http://schemas.datacontract.org/2004/07/MDM.BusinessObjects.Imports" minOccurs="0" name="entityIdentificationMap" nillable="true" type="q221:EntityIdentificationMap" />
        <xs:element xmlns:q222="http://mdmobjects.riversand.com/" minOccurs="0" name="application" type="q222:MDMCenterApplication" />
        <xs:element xmlns:q223="http://mdmobjects.riversand.com/" minOccurs="0" name="module" type="q223:MDMCenterModules" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="LoadInternalDetailsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q224="http://mdmobjects.riversand.com/" minOccurs="0" name="LoadInternalDetailsResult" nillable="true" type="q224:EntityMapCollection" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddEntityChildren">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="entityId" type="xs:long" />
        <xs:element minOccurs="0" name="ChildEntityIds" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="ChildEntityTypeId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddEntityChildrenResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="AddEntityChildrenResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateExcludedFlag">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q225="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="excludedList" nillable="true" type="q225:ArrayOfKeyValueOflongstring" />
        <xs:element xmlns:q226="http://mdmobjects.riversand.com/" minOccurs="0" name="operationResult" nillable="true" type="q226:OperationResult" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateExcludedFlagResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="UpdateExcludedFlagResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetEntityExtensions">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="entityId" type="xs:long" />
        <xs:element xmlns:q227="http://mdmobjects.riversand.com/" minOccurs="0" name="application" type="q227:MDMCenterApplication" />
        <xs:element xmlns:q228="http://mdmobjects.riversand.com/" minOccurs="0" name="module" type="q228:MDMCenterModules" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetEntityExtensionsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q229="http://mdmobjects.riversand.com/" minOccurs="0" name="GetEntityExtensionsResult" nillable="true" type="q229:ExtensionRelationshipCollection" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="LoadEntityExtensions">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q230="http://mdmobjects.riversand.com/" minOccurs="0" name="entity" nillable="true" type="q230:Entity" />
        <xs:element xmlns:q231="http://mdmobjects.riversand.com/" minOccurs="0" name="application" type="q231:MDMCenterApplication" />
        <xs:element xmlns:q232="http://mdmobjects.riversand.com/" minOccurs="0" name="module" type="q232:MDMCenterModules" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="LoadEntityExtensionsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q233="http://mdmobjects.riversand.com/" minOccurs="0" name="LoadEntityExtensionsResult" nillable="true" type="q233:EntityOperationResult" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="LoadEntitiesExtensions">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q234="http://mdmobjects.riversand.com/" minOccurs="0" name="entityCollection" nillable="true" type="q234:EntityCollection" />
        <xs:element xmlns:q235="http://mdmobjects.riversand.com/" minOccurs="0" name="application" type="q235:MDMCenterApplication" />
        <xs:element xmlns:q236="http://mdmobjects.riversand.com/" minOccurs="0" name="module" type="q236:MDMCenterModules" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="LoadEntitiesExtensionsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q237="http://mdmobjects.riversand.com/" minOccurs="0" name="LoadEntitiesExtensionsResult" nillable="true" type="q237:EntityOperationResultCollection" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ProcessExtensions">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="entityId" type="xs:long" />
        <xs:element xmlns:q238="http://mdmobjects.riversand.com/" minOccurs="0" name="extensionRelationships" nillable="true" type="q238:ExtensionRelationshipCollection" />
        <xs:element xmlns:q239="http://mdmobjects.riversand.com/" minOccurs="0" name="application" type="q239:MDMCenterApplication" />
        <xs:element xmlns:q240="http://mdmobjects.riversand.com/" minOccurs="0" name="module" type="q240:MDMCenterModules" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ProcessExtensionsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q241="http://mdmobjects.riversand.com/" minOccurs="0" name="ProcessExtensionsResult" nillable="true" type="q241:EntityOperationResult" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ProcessEntityExtensions">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q242="http://mdmobjects.riversand.com/" minOccurs="0" name="entity" nillable="true" type="q242:Entity" />
        <xs:element xmlns:q243="http://mdmobjects.riversand.com/" minOccurs="0" name="application" type="q243:MDMCenterApplication" />
        <xs:element xmlns:q244="http://mdmobjects.riversand.com/" minOccurs="0" name="module" type="q244:MDMCenterModules" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ProcessEntityExtensionsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q245="http://mdmobjects.riversand.com/" minOccurs="0" name="ProcessEntityExtensionsResult" nillable="true" type="q245:EntityOperationResult" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ProcessEntitiesExtensions">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q246="http://mdmobjects.riversand.com/" minOccurs="0" name="entityCollection" nillable="true" type="q246:EntityCollection" />
        <xs:element xmlns:q247="http://mdmobjects.riversand.com/" minOccurs="0" name="application" type="q247:MDMCenterApplication" />
        <xs:element xmlns:q248="http://mdmobjects.riversand.com/" minOccurs="0" name="module" type="q248:MDMCenterModules" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ProcessEntitiesExtensionsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q249="http://mdmobjects.riversand.com/" minOccurs="0" name="ProcessEntitiesExtensionsResult" nillable="true" type="q249:EntityOperationResultCollection" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetChildEntities">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="parentEntityId" type="xs:long" />
        <xs:element minOccurs="0" name="childEntityTypeId" type="xs:int" />
        <xs:element xmlns:q250="http://mdmobjects.riversand.com/" minOccurs="0" name="locale" type="q250:LocaleEnum" />
        <xs:element xmlns:q251="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="returnAttributeIds" nillable="true" type="q251:ArrayOfint" />
        <xs:element minOccurs="0" name="getCompleteDetailsOfEntity" type="xs:boolean" />
        <xs:element minOccurs="0" name="maxRecordsToReturn" type="xs:int" />
        <xs:element xmlns:q252="http://mdmobjects.riversand.com/" minOccurs="0" name="callerContext" nillable="true" type="q252:CallerContext" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetChildEntitiesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q253="http://mdmobjects.riversand.com/" minOccurs="0" name="GetChildEntitiesResult" nillable="true" type="q253:EntityCollection" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetComplexAttributeVersions">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="entityId" type="xs:long" />
        <xs:element minOccurs="0" name="entityParentId" type="xs:long" />
        <xs:element minOccurs="0" name="attributeId" type="xs:int" />
        <xs:element minOccurs="0" name="catalogId" type="xs:int" />
        <xs:element xmlns:q254="http://mdmobjects.riversand.com/" minOccurs="0" name="locales" nillable="true" type="q254:ArrayOfLocaleEnum" />
        <xs:element minOccurs="0" name="sequence" type="xs:int" />
        <xs:element xmlns:q255="http://mdmobjects.riversand.com/" minOccurs="0" name="callerContext" nillable="true" type="q255:CallerContext" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetComplexAttributeVersionsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q256="http://mdmobjects.riversand.com/" minOccurs="0" name="GetComplexAttributeVersionsResult" nillable="true" type="q256:AttributeVersionCollection" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetComplexDataByAuditRefId">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="entityId" type="xs:long" />
        <xs:element minOccurs="0" name="containerId" type="xs:int" />
        <xs:element minOccurs="0" name="attributeId" type="xs:int" />
        <xs:element minOccurs="0" name="auditRefId" type="xs:long" />
        <xs:element xmlns:q257="http://mdmobjects.riversand.com/" minOccurs="0" name="locale" type="q257:LocaleEnum" />
        <xs:element xmlns:q258="http://mdmobjects.riversand.com/" minOccurs="0" name="callerContext" nillable="true" type="q258:CallerContext" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetComplexDataByAuditRefIdResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q259="http://mdmobjects.riversand.com/" minOccurs="0" name="GetComplexDataByAuditRefIdResult" nillable="true" type="q259:Attribute" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GenerateRSExcel">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q260="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="entityIds" nillable="true" type="q260:ArrayOflong" />
        <xs:element minOccurs="0" name="profileId" type="xs:int" />
        <xs:element xmlns:q261="http://mdmobjects.riversand.com/" minOccurs="0" name="callerContext" nillable="true" type="q261:CallerContext" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GenerateRSExcelResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q262="http://mdmobjects.riversand.com/" minOccurs="0" name="GenerateRSExcelResult" nillable="true" type="q262:File" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GenerateRSExcelWithEmptyChildren_Old">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q263="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="entityIds" nillable="true" type="q263:ArrayOflong" />
        <xs:element xmlns:q264="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="childEntityTypeIds" nillable="true" type="q264:ArrayOfint" />
        <xs:element xmlns:q265="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="cloneAttributesIds" nillable="true" type="q265:ArrayOflong" />
        <xs:element minOccurs="0" name="profileId" type="xs:int" />
        <xs:element minOccurs="0" name="getOnlyChildren" type="xs:boolean" />
        <xs:element minOccurs="0" name="generateEmptyChildren" type="xs:boolean" />
        <xs:element xmlns:q266="http://mdmobjects.riversand.com/" minOccurs="0" name="callerContext" nillable="true" type="q266:CallerContext" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GenerateRSExcelWithEmptyChildren_OldResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q267="http://mdmobjects.riversand.com/" minOccurs="0" name="GenerateRSExcelWithEmptyChildren_OldResult" nillable="true" type="q267:File" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GenerateRSExcelWithEmptyChildren">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q268="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="entityIds" nillable="true" type="q268:ArrayOflong" />
        <xs:element xmlns:q269="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="childEntityTypeIds" nillable="true" type="q269:ArrayOfint" />
        <xs:element xmlns:q270="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="cloneAttributesIds" nillable="true" type="q270:ArrayOfint" />
        <xs:element minOccurs="0" name="profileId" type="xs:int" />
        <xs:element minOccurs="0" name="getOnlyChildren" type="xs:boolean" />
        <xs:element minOccurs="0" name="generateEmptyChildren" type="xs:boolean" />
        <xs:element xmlns:q271="http://mdmobjects.riversand.com/" minOccurs="0" name="callerContext" nillable="true" type="q271:CallerContext" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GenerateRSExcelWithEmptyChildrenResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q272="http://mdmobjects.riversand.com/" minOccurs="0" name="GenerateRSExcelWithEmptyChildrenResult" nillable="true" type="q272:File" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GenerateRSExcelWithChildren">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q273="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="entityIds" nillable="true" type="q273:ArrayOflong" />
        <xs:element xmlns:q274="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="childEntityTypeIds" nillable="true" type="q274:ArrayOfint" />
        <xs:element minOccurs="0" name="profileId" type="xs:int" />
        <xs:element minOccurs="0" name="getOnlyChildren" type="xs:boolean" />
        <xs:element xmlns:q275="http://mdmobjects.riversand.com/" minOccurs="0" name="callerContext" nillable="true" type="q275:CallerContext" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GenerateRSExcelWithChildrenResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q276="http://mdmobjects.riversand.com/" minOccurs="0" name="GenerateRSExcelWithChildrenResult" nillable="true" type="q276:File" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GenerateRSExcelTemplate">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="containerId" type="xs:int" />
        <xs:element minOccurs="0" name="entityTypeId" type="xs:int" />
        <xs:element minOccurs="0" name="categoryId" type="xs:long" />
        <xs:element minOccurs="0" name="includeChildCategoryTemplate" type="xs:boolean" />
        <xs:element xmlns:q277="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="relationshipTypeIds" nillable="true" type="q277:ArrayOfint" />
        <xs:element xmlns:q278="http://mdmobjects.riversand.com/" minOccurs="0" name="locale" type="q278:LocaleEnum" />
        <xs:element xmlns:q279="http://mdmobjects.riversand.com/" minOccurs="0" name="callerContext" nillable="true" type="q279:CallerContext" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GenerateRSExcelTemplateResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q280="http://mdmobjects.riversand.com/" minOccurs="0" name="GenerateRSExcelTemplateResult" nillable="true" type="q280:File" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GenerateRSExcelFromEntityCollection">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q281="http://mdmobjects.riversand.com/" minOccurs="0" name="entityCollection" nillable="true" type="q281:EntityCollection" />
        <xs:element xmlns:q282="http://mdmobjects.riversand.com/" minOccurs="0" name="callerContext" nillable="true" type="q282:CallerContext" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GenerateRSExcelFromEntityCollectionResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q283="http://mdmobjects.riversand.com/" minOccurs="0" name="GenerateRSExcelFromEntityCollectionResult" nillable="true" type="q283:File" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GenerateRSExcelTemplateWithProfileId">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="profileId" type="xs:int" />
        <xs:element minOccurs="0" name="containerId" type="xs:int" />
        <xs:element minOccurs="0" name="entityTypeId" type="xs:int" />
        <xs:element minOccurs="0" name="categoryId" type="xs:long" />
        <xs:element minOccurs="0" name="includeChildCategoryTemplate" type="xs:boolean" />
        <xs:element xmlns:q284="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="relationshipTypeIds" nillable="true" type="q284:ArrayOfint" />
        <xs:element xmlns:q285="http://mdmobjects.riversand.com/" minOccurs="0" name="locale" type="q285:LocaleEnum" />
        <xs:element xmlns:q286="http://mdmobjects.riversand.com/" minOccurs="0" name="callerContext" nillable="true" type="q286:CallerContext" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GenerateRSExcelTemplateWithProfileIdResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q287="http://mdmobjects.riversand.com/" minOccurs="0" name="GenerateRSExcelTemplateWithProfileIdResult" nillable="true" type="q287:File" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GenerateRSExcelFromEntityCollectionWithProfileId">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q288="http://mdmobjects.riversand.com/" minOccurs="0" name="entityCollection" nillable="true" type="q288:EntityCollection" />
        <xs:element minOccurs="0" name="profileId" type="xs:int" />
        <xs:element xmlns:q289="http://mdmobjects.riversand.com/" minOccurs="0" name="callerContext" nillable="true" type="q289:CallerContext" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GenerateRSExcelFromEntityCollectionWithProfileIdResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q290="http://mdmobjects.riversand.com/" minOccurs="0" name="GenerateRSExcelFromEntityCollectionWithProfileIdResult" nillable="true" type="q290:File" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetQueuedEntities">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q291="http://mdmobjects.riversand.com/" minOccurs="0" name="entityActivity" type="q291:EntityActivityList" />
        <xs:element minOccurs="0" name="entityActivityLogId" type="xs:long" />
        <xs:element xmlns:q292="http://mdmobjects.riversand.com/" minOccurs="0" name="callerContext" nillable="true" type="q292:CallerContext" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetQueuedEntitiesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q293="http://mdmobjects.riversand.com/" minOccurs="0" name="GetQueuedEntitiesResult" nillable="true" type="q293:QueuedEntityCollection" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="MergeCopy">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="sourceEntityId" type="xs:long" />
        <xs:element minOccurs="0" name="targetCatalogId" type="xs:long" />
        <xs:element minOccurs="0" name="targetCategoryId" type="xs:long" />
        <xs:element xmlns:q294="http://schemas.datacontract.org/2004/07/MDM.BusinessObjects.MergeCopy" minOccurs="0" name="mergeCopyContext" nillable="true" type="q294:MergeCopyContext.Context" />
        <xs:element xmlns:q295="http://mdmobjects.riversand.com/" minOccurs="0" name="entityOperationResult" nillable="true" type="q295:EntityOperationResult" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="MergeCopyResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q296="http://mdmobjects.riversand.com/" minOccurs="0" name="MergeCopyResult" nillable="true" type="q296:Entity" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="MergeCopyDelta">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="sourceEntityId" type="xs:long" />
        <xs:element minOccurs="0" name="targetCatalogId" type="xs:long" />
        <xs:element minOccurs="0" name="targetCategoryId" type="xs:long" />
        <xs:element xmlns:q297="http://schemas.datacontract.org/2004/07/MDM.BusinessObjects.MergeCopy" minOccurs="0" name="mergeCopyContext" nillable="true" type="q297:MergeCopyContext.Context" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="MergeCopyDeltaResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="MergeCopyDeltaResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="MergeCopyUsingSetupClass">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="sourceEntityId" type="xs:long" />
        <xs:element minOccurs="0" name="targetCatalogId" type="xs:long" />
        <xs:element minOccurs="0" name="targetCategoryId" type="xs:long" />
        <xs:element minOccurs="0" name="setupMethodName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="setupAssemblyName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="context" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="MergeCopyUsingSetupClassResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q298="http://mdmobjects.riversand.com/" minOccurs="0" name="MergeCopyUsingSetupClassResult" nillable="true" type="q298:EntityOperationResult" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>