DataGovernanceStore/Libraries/MDMLibrarySolution/ServiceManager/MDM.Services.Client/Service References/DataServiceClient/wcfservices.riversand.com1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://wcfservices.riversand.com" elementFormDefault="qualified" targetNamespace="http://wcfservices.riversand.com" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="" namespace="http://mdmobjects.riversand.com/" />
  <xs:import schemaLocation="" namespace="http://schemas.datacontract.org/2004/07/MDM.BusinessObjects" />
  <xs:import schemaLocation="" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
  <xs:import schemaLocation="" namespace="http://schemas.datacontract.org/2004/07/System.Collections.Generic" />
  <xs:import schemaLocation="" namespace="http://schemas.datacontract.org/2004/07/MDM.BusinessObjects.Imports" />
  <xs:element name="GetEntityModel">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://mdmobjects.riversand.com/" minOccurs="0" name="entityContext" nillable="true" type="q1:EntityContext" />
        <xs:element xmlns:q2="http://mdmobjects.riversand.com/" minOccurs="0" name="application" type="q2:MDMCenterApplication" />
        <xs:element xmlns:q3="http://mdmobjects.riversand.com/" minOccurs="0" name="module" type="q3:MDMCenterModules" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetEntityModelResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://mdmobjects.riversand.com/" minOccurs="0" name="GetEntityModelResult" nillable="true" type="q4:Entity" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetEntity">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="entityId" type="xs:long" />
        <xs:element xmlns:q5="http://mdmobjects.riversand.com/" minOccurs="0" name="entityContext" nillable="true" type="q5:EntityContext" />
        <xs:element xmlns:q6="http://mdmobjects.riversand.com/" minOccurs="0" name="application" type="q6:MDMCenterApplication" />
        <xs:element xmlns:q7="http://mdmobjects.riversand.com/" minOccurs="0" name="module" type="q7:MDMCenterModules" />
        <xs:element minOccurs="0" name="publishEvents" type="xs:boolean" />
        <xs:element minOccurs="0" name="applyAVS" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetEntityResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q8="http://mdmobjects.riversand.com/" minOccurs="0" name="GetEntityResult" nillable="true" type="q8:Entity" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetEntityWithGetOptions">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="entityId" type="xs:long" />
        <xs:element xmlns:q9="http://mdmobjects.riversand.com/" minOccurs="0" name="entityContext" nillable="true" type="q9:EntityContext" />
        <xs:element xmlns:q10="http://mdmobjects.riversand.com/" minOccurs="0" name="entityGetOptions" nillable="true" type="q10:EntityGetOptions" />
        <xs:element xmlns:q11="http://schemas.datacontract.org/2004/07/MDM.BusinessObjects" minOccurs="0" name="callerContext" nillable="true" type="q11:CallerContext" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetEntityWithGetOptionsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q12="http://mdmobjects.riversand.com/" minOccurs="0" name="GetEntityWithGetOptionsResult" nillable="true" type="q12:Entity" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetEntities">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q13="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="entityIdList" nillable="true" type="q13:ArrayOflong" />
        <xs:element xmlns:q14="http://mdmobjects.riversand.com/" minOccurs="0" name="entityContext" nillable="true" type="q14:EntityContext" />
        <xs:element xmlns:q15="http://mdmobjects.riversand.com/" minOccurs="0" name="application" type="q15:MDMCenterApplication" />
        <xs:element xmlns:q16="http://mdmobjects.riversand.com/" minOccurs="0" name="module" type="q16:MDMCenterModules" />
        <xs:element minOccurs="0" name="publishEvents" type="xs:boolean" />
        <xs:element minOccurs="0" name="applyAVS" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetEntitiesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q17="http://mdmobjects.riversand.com/" minOccurs="0" name="GetEntitiesResult" nillable="true" type="q17:EntityCollection" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetEntitiesWithGetOptions">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q18="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="entityIdList" nillable="true" type="q18:ArrayOflong" />
        <xs:element xmlns:q19="http://mdmobjects.riversand.com/" minOccurs="0" name="entityContext" nillable="true" type="q19:EntityContext" />
        <xs:element xmlns:q20="http://mdmobjects.riversand.com/" minOccurs="0" name="entityGetOptions" nillable="true" type="q20:EntityGetOptions" />
        <xs:element xmlns:q21="http://schemas.datacontract.org/2004/07/MDM.BusinessObjects" minOccurs="0" name="callerContext" nillable="true" type="q21:CallerContext" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetEntitiesWithGetOptionsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q22="http://mdmobjects.riversand.com/" minOccurs="0" name="GetEntitiesWithGetOptionsResult" nillable="true" type="q22:EntityCollection" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CreateEntity">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q23="http://mdmobjects.riversand.com/" minOccurs="0" name="entity" nillable="true" type="q23:Entity" />
        <xs:element xmlns:q24="http://mdmobjects.riversand.com/" minOccurs="0" name="entityProcessingOptions" nillable="true" type="q24:EntityProcessingOptions" />
        <xs:element minOccurs="0" name="programName" nillable="true" type="xs:string" />
        <xs:element xmlns:q25="http://mdmobjects.riversand.com/" minOccurs="0" name="application" type="q25:MDMCenterApplication" />
        <xs:element xmlns:q26="http://mdmobjects.riversand.com/" minOccurs="0" name="module" type="q26:MDMCenterModules" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CreateEntityResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q27="http://mdmobjects.riversand.com/" minOccurs="0" name="CreateEntityResult" nillable="true" type="q27:EntityOperationResult" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CreateEntities">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q28="http://mdmobjects.riversand.com/" minOccurs="0" name="entities" nillable="true" type="q28:EntityCollection" />
        <xs:element xmlns:q29="http://mdmobjects.riversand.com/" minOccurs="0" name="entityProcessingOptions" nillable="true" type="q29:EntityProcessingOptions" />
        <xs:element minOccurs="0" name="programName" nillable="true" type="xs:string" />
        <xs:element xmlns:q30="http://mdmobjects.riversand.com/" minOccurs="0" name="application" type="q30:MDMCenterApplication" />
        <xs:element xmlns:q31="http://mdmobjects.riversand.com/" minOccurs="0" name="module" type="q31:MDMCenterModules" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CreateEntitiesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q32="http://mdmobjects.riversand.com/" minOccurs="0" name="CreateEntitiesResult" nillable="true" type="q32:EntityOperationResultCollection" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateEntity">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q33="http://mdmobjects.riversand.com/" minOccurs="0" name="entity" nillable="true" type="q33:Entity" />
        <xs:element xmlns:q34="http://mdmobjects.riversand.com/" minOccurs="0" name="entityProcessingOptions" nillable="true" type="q34:EntityProcessingOptions" />
        <xs:element minOccurs="0" name="programName" nillable="true" type="xs:string" />
        <xs:element xmlns:q35="http://mdmobjects.riversand.com/" minOccurs="0" name="application" type="q35:MDMCenterApplication" />
        <xs:element xmlns:q36="http://mdmobjects.riversand.com/" minOccurs="0" name="module" type="q36:MDMCenterModules" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateEntityResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q37="http://mdmobjects.riversand.com/" minOccurs="0" name="UpdateEntityResult" nillable="true" type="q37:EntityOperationResult" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateEntityByContext">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q38="http://mdmobjects.riversand.com/" minOccurs="0" name="entity" nillable="true" type="q38:Entity" />
        <xs:element xmlns:q39="http://schemas.datacontract.org/2004/07/MDM.BusinessObjects" minOccurs="0" name="entityContext" nillable="true" type="q39:CallerContext" />
        <xs:element xmlns:q40="http://mdmobjects.riversand.com/" minOccurs="0" name="entityProcessingOptions" nillable="true" type="q40:EntityProcessingOptions" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateEntityByContextResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q41="http://mdmobjects.riversand.com/" minOccurs="0" name="UpdateEntityByContextResult" nillable="true" type="q41:EntityOperationResult" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateEntities">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q42="http://mdmobjects.riversand.com/" minOccurs="0" name="entities" nillable="true" type="q42:EntityCollection" />
        <xs:element xmlns:q43="http://mdmobjects.riversand.com/" minOccurs="0" name="entityProcessingOptions" nillable="true" type="q43:EntityProcessingOptions" />
        <xs:element minOccurs="0" name="programName" nillable="true" type="xs:string" />
        <xs:element xmlns:q44="http://mdmobjects.riversand.com/" minOccurs="0" name="application" type="q44:MDMCenterApplication" />
        <xs:element xmlns:q45="http://mdmobjects.riversand.com/" minOccurs="0" name="module" type="q45:MDMCenterModules" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateEntitiesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q46="http://mdmobjects.riversand.com/" minOccurs="0" name="UpdateEntitiesResult" nillable="true" type="q46:EntityOperationResultCollection" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteEntity">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q47="http://mdmobjects.riversand.com/" minOccurs="0" name="entity" nillable="true" type="q47:Entity" />
        <xs:element minOccurs="0" name="programName" nillable="true" type="xs:string" />
        <xs:element xmlns:q48="http://mdmobjects.riversand.com/" minOccurs="0" name="application" type="q48:MDMCenterApplication" />
        <xs:element xmlns:q49="http://mdmobjects.riversand.com/" minOccurs="0" name="module" type="q49:MDMCenterModules" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteEntityResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q50="http://mdmobjects.riversand.com/" minOccurs="0" name="DeleteEntityResult" nillable="true" type="q50:EntityOperationResult" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteEntities">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q51="http://mdmobjects.riversand.com/" minOccurs="0" name="entities" nillable="true" type="q51:EntityCollection" />
        <xs:element minOccurs="0" name="programName" nillable="true" type="xs:string" />
        <xs:element xmlns:q52="http://mdmobjects.riversand.com/" minOccurs="0" name="application" type="q52:MDMCenterApplication" />
        <xs:element xmlns:q53="http://mdmobjects.riversand.com/" minOccurs="0" name="module" type="q53:MDMCenterModules" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteEntitiesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q54="http://mdmobjects.riversand.com/" minOccurs="0" name="DeleteEntitiesResult" nillable="true" type="q54:EntityOperationResultCollection" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ProcessEntities">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q55="http://mdmobjects.riversand.com/" minOccurs="0" name="entities" nillable="true" type="q55:EntityCollection" />
        <xs:element xmlns:q56="http://mdmobjects.riversand.com/" minOccurs="0" name="entityProcessingOptions" nillable="true" type="q56:EntityProcessingOptions" />
        <xs:element minOccurs="0" name="programName" nillable="true" type="xs:string" />
        <xs:element xmlns:q57="http://mdmobjects.riversand.com/" minOccurs="0" name="application" type="q57:MDMCenterApplication" />
        <xs:element xmlns:q58="http://mdmobjects.riversand.com/" minOccurs="0" name="module" type="q58:MDMCenterModules" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ProcessEntitiesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q59="http://mdmobjects.riversand.com/" minOccurs="0" name="ProcessEntitiesResult" nillable="true" type="q59:EntityOperationResultCollection" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ProcessEntitiesWithCallerContext">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q60="http://mdmobjects.riversand.com/" minOccurs="0" name="entities" nillable="true" type="q60:EntityCollection" />
        <xs:element xmlns:q61="http://mdmobjects.riversand.com/" minOccurs="0" name="entityProcessingOptions" nillable="true" type="q61:EntityProcessingOptions" />
        <xs:element xmlns:q62="http://schemas.datacontract.org/2004/07/MDM.BusinessObjects" minOccurs="0" name="callerContext" nillable="true" type="q62:CallerContext" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ProcessEntitiesWithCallerContextResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q63="http://mdmobjects.riversand.com/" minOccurs="0" name="ProcessEntitiesWithCallerContextResult" nillable="true" type="q63:EntityOperationResultCollection" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EnsureAttributesForEntityAndAttributeIds">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q64="http://mdmobjects.riversand.com/" minOccurs="0" name="entity" nillable="true" type="q64:Entity" />
        <xs:element xmlns:q65="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="attributeIds" nillable="true" type="q65:ArrayOfint" />
        <xs:element minOccurs="0" name="loadAttributeModels" type="xs:boolean" />
        <xs:element xmlns:q66="http://schemas.datacontract.org/2004/07/MDM.BusinessObjects" minOccurs="0" name="callerContext" nillable="true" type="q66:CallerContext" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EnsureAttributesForEntityAndAttributeIdsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q67="http://mdmobjects.riversand.com/" minOccurs="0" name="EnsureAttributesForEntityAndAttributeIdsResult" nillable="true" type="q67:Entity" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EnsureAttributesForEntityAndAttributeUniqueIdentifier">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q68="http://mdmobjects.riversand.com/" minOccurs="0" name="entity" nillable="true" type="q68:Entity" />
        <xs:element xmlns:q69="http://mdmobjects.riversand.com/" minOccurs="0" name="attributeUniqueIdentifier" nillable="true" type="q69:AttributeUniqueIdentifier" />
        <xs:element minOccurs="0" name="loadAttributeModels" type="xs:boolean" />
        <xs:element xmlns:q70="http://schemas.datacontract.org/2004/07/MDM.BusinessObjects" minOccurs="0" name="callerContext" nillable="true" type="q70:CallerContext" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EnsureAttributesForEntityAndAttributeUniqueIdentifierResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q71="http://mdmobjects.riversand.com/" minOccurs="0" name="EnsureAttributesForEntityAndAttributeUniqueIdentifierResult" nillable="true" type="q71:Entity" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EnsureAttributesForEntityCollectionAndAttributeIds">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q72="http://mdmobjects.riversand.com/" minOccurs="0" name="entityCollection" nillable="true" type="q72:EntityCollection" />
        <xs:element xmlns:q73="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="attributeIds" nillable="true" type="q73:ArrayOfint" />
        <xs:element minOccurs="0" name="loadAttributeModels" type="xs:boolean" />
        <xs:element xmlns:q74="http://schemas.datacontract.org/2004/07/MDM.BusinessObjects" minOccurs="0" name="callerContext" nillable="true" type="q74:CallerContext" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EnsureAttributesForEntityCollectionAndAttributeIdsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q75="http://mdmobjects.riversand.com/" minOccurs="0" name="EnsureAttributesForEntityCollectionAndAttributeIdsResult" nillable="true" type="q75:EntityCollection" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EnsureAttributesForEntityCollectionAndAttributeUniqueIdentifiers">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q76="http://mdmobjects.riversand.com/" minOccurs="0" name="entityCollection" nillable="true" type="q76:EntityCollection" />
        <xs:element xmlns:q77="http://mdmobjects.riversand.com/" minOccurs="0" name="attributeUniqueIdentifiers" nillable="true" type="q77:ArrayOfAttributeUniqueIdentifier" />
        <xs:element minOccurs="0" name="loadAttributeModels" type="xs:boolean" />
        <xs:element xmlns:q78="http://schemas.datacontract.org/2004/07/MDM.BusinessObjects" minOccurs="0" name="callerContext" nillable="true" type="q78:CallerContext" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EnsureAttributesForEntityCollectionAndAttributeUniqueIdentifiersResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q79="http://mdmobjects.riversand.com/" minOccurs="0" name="EnsureAttributesForEntityCollectionAndAttributeUniqueIdentifiersResult" nillable="true" type="q79:EntityCollection" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EnsureAttributesForEntityCollectionAndAttributeModelContext">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q80="http://mdmobjects.riversand.com/" minOccurs="0" name="entityCollection" nillable="true" type="q80:EntityCollection" />
        <xs:element xmlns:q81="http://mdmobjects.riversand.com/" minOccurs="0" name="attributeModelContext" nillable="true" type="q81:AttributeModelContext" />
        <xs:element minOccurs="0" name="loadAttributeModels" type="xs:boolean" />
        <xs:element xmlns:q82="http://schemas.datacontract.org/2004/07/MDM.BusinessObjects" minOccurs="0" name="callerContext" nillable="true" type="q82:CallerContext" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EnsureAttributesForEntityCollectionAndAttributeModelContextResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q83="http://mdmobjects.riversand.com/" minOccurs="0" name="EnsureAttributesForEntityCollectionAndAttributeModelContextResult" nillable="true" type="q83:EntityCollection" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetEntityByExternalId">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="externalId" nillable="true" type="xs:string" />
        <xs:element xmlns:q84="http://mdmobjects.riversand.com/" minOccurs="0" name="entityContext" nillable="true" type="q84:EntityContext" />
        <xs:element xmlns:q85="http://schemas.datacontract.org/2004/07/MDM.BusinessObjects" minOccurs="0" name="context" nillable="true" type="q85:CallerContext" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetEntityByExternalIdResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q86="http://mdmobjects.riversand.com/" minOccurs="0" name="GetEntityByExternalIdResult" nillable="true" type="q86:Entity" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetEntityByExtenalIdWithPublishEventAndApplyAVSOption">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="externalId" nillable="true" type="xs:string" />
        <xs:element xmlns:q87="http://mdmobjects.riversand.com/" minOccurs="0" name="entityContext" nillable="true" type="q87:EntityContext" />
        <xs:element xmlns:q88="http://schemas.datacontract.org/2004/07/MDM.BusinessObjects" minOccurs="0" name="context" nillable="true" type="q88:CallerContext" />
        <xs:element minOccurs="0" name="publishEvents" type="xs:boolean" />
        <xs:element minOccurs="0" name="applyAVS" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetEntityByExtenalIdWithPublishEventAndApplyAVSOptionResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q89="http://mdmobjects.riversand.com/" minOccurs="0" name="GetEntityByExtenalIdWithPublishEventAndApplyAVSOptionResult" nillable="true" type="q89:Entity" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetEntitiesByExternalIds">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q90="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="externalIdList" nillable="true" type="q90:ArrayOfstring" />
        <xs:element xmlns:q91="http://mdmobjects.riversand.com/" minOccurs="0" name="entityContext" nillable="true" type="q91:EntityContext" />
        <xs:element xmlns:q92="http://schemas.datacontract.org/2004/07/MDM.BusinessObjects" minOccurs="0" name="callerContext" nillable="true" type="q92:CallerContext" />
        <xs:element minOccurs="0" name="publishEvents" type="xs:boolean" />
        <xs:element minOccurs="0" name="applyAVS" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetEntitiesByExternalIdsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q93="http://mdmobjects.riversand.com/" minOccurs="0" name="GetEntitiesByExternalIdsResult" nillable="true" type="q93:EntityCollection" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetWhereUsedRelationships">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="entityId" type="xs:long" />
        <xs:element minOccurs="0" name="relationshipTypeId" type="xs:int" />
        <xs:element xmlns:q94="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="attributeIds" nillable="true" type="q94:ArrayOfint" />
        <xs:element xmlns:q95="http://mdmobjects.riversand.com/" minOccurs="0" name="dataLocale" type="q95:LocaleEnum" />
        <xs:element xmlns:q96="http://schemas.datacontract.org/2004/07/MDM.BusinessObjects" minOccurs="0" name="context" nillable="true" type="q96:CallerContext" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetWhereUsedRelationshipsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q97="http://mdmobjects.riversand.com/" minOccurs="0" name="GetWhereUsedRelationshipsResult" nillable="true" type="q97:RelationshipCollection" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetWhereUsedRelationshipsForEntities">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q98="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="entityId" nillable="true" type="q98:ArrayOflong" />
        <xs:element minOccurs="0" name="relationshipTypeId" type="xs:int" />
        <xs:element xmlns:q99="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="attributeIds" nillable="true" type="q99:ArrayOfint" />
        <xs:element xmlns:q100="http://mdmobjects.riversand.com/" minOccurs="0" name="dataLocale" type="q100:LocaleEnum" />
        <xs:element xmlns:q101="http://schemas.datacontract.org/2004/07/MDM.BusinessObjects" minOccurs="0" name="context" nillable="true" type="q101:CallerContext" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetWhereUsedRelationshipsForEntitiesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q102="http://mdmobjects.riversand.com/" minOccurs="0" name="GetWhereUsedRelationshipsForEntitiesResult" nillable="true" type="q102:RelationshipCollection" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetWhereUsedRelationshipsByRelationshipTypeIds">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="entityId" type="xs:long" />
        <xs:element xmlns:q103="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="relationshipTypeId" nillable="true" type="q103:ArrayOfint" />
        <xs:element xmlns:q104="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="attributeIds" nillable="true" type="q104:ArrayOfint" />
        <xs:element xmlns:q105="http://mdmobjects.riversand.com/" minOccurs="0" name="dataLocale" type="q105:LocaleEnum" />
        <xs:element xmlns:q106="http://schemas.datacontract.org/2004/07/MDM.BusinessObjects" minOccurs="0" name="context" nillable="true" type="q106:CallerContext" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetWhereUsedRelationshipsByRelationshipTypeIdsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q107="http://mdmobjects.riversand.com/" minOccurs="0" name="GetWhereUsedRelationshipsByRelationshipTypeIdsResult" nillable="true" type="q107:RelationshipCollection" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetWhereUsedRelationshipsForEntitiesByRelationshipTypeIds">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q108="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="entityId" nillable="true" type="q108:ArrayOflong" />
        <xs:element xmlns:q109="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="relationshipTypeId" nillable="true" type="q109:ArrayOfint" />
        <xs:element xmlns:q110="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="attributeIds" nillable="true" type="q110:ArrayOfint" />
        <xs:element xmlns:q111="http://mdmobjects.riversand.com/" minOccurs="0" name="dataLocale" type="q111:LocaleEnum" />
        <xs:element xmlns:q112="http://schemas.datacontract.org/2004/07/MDM.BusinessObjects" minOccurs="0" name="context" nillable="true" type="q112:CallerContext" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetWhereUsedRelationshipsForEntitiesByRelationshipTypeIdsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q113="http://mdmobjects.riversand.com/" minOccurs="0" name="GetWhereUsedRelationshipsForEntitiesByRelationshipTypeIdsResult" nillable="true" type="q113:RelationshipCollection" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetRelationshipModel">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="relationshipTypeId" type="xs:int" />
        <xs:element minOccurs="0" name="containerId" type="xs:int" />
        <xs:element xmlns:q114="http://mdmobjects.riversand.com/" minOccurs="0" name="locales" nillable="true" type="q114:ArrayOfLocaleEnum" />
        <xs:element xmlns:q115="http://schemas.datacontract.org/2004/07/MDM.BusinessObjects" minOccurs="0" name="context" nillable="true" type="q115:CallerContext" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetRelationshipModelResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q116="http://mdmobjects.riversand.com/" minOccurs="0" name="GetRelationshipModelResult" nillable="true" type="q116:Relationship" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="BulkUpdateEntityAttributes">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q117="http://mdmobjects.riversand.com/" minOccurs="0" name="templateEntities" nillable="true" type="q117:EntityCollection" />
        <xs:element xmlns:q118="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="entityIdsToProcess" nillable="true" type="q118:ArrayOflong" />
        <xs:element minOccurs="0" name="actionPerformed" nillable="true" type="xs:string" />
        <xs:element xmlns:q119="http://schemas.datacontract.org/2004/07/MDM.BusinessObjects" minOccurs="0" name="callerContext" nillable="true" type="q119:CallerContext" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="BulkUpdateEntityAttributesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q120="http://mdmobjects.riversand.com/" minOccurs="0" name="BulkUpdateEntityAttributesResult" nillable="true" type="q120:EntityOperationResultCollection" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EnsureInheritedEntityRelationships">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q121="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="entityIdList" nillable="true" type="q121:ArrayOflong" />
        <xs:element xmlns:q122="http://mdmobjects.riversand.com/" minOccurs="0" name="entityContext" nillable="true" type="q122:EntityContext" />
        <xs:element minOccurs="0" name="processWhereUsed" type="xs:boolean" />
        <xs:element minOccurs="0" name="processImpactedExtensions" type="xs:boolean" />
        <xs:element minOccurs="0" name="processImpactedHierarchies" type="xs:boolean" />
        <xs:element minOccurs="0" name="processRelationshipTree" type="xs:boolean" />
        <xs:element minOccurs="0" name="processInheritable" type="xs:boolean" />
        <xs:element minOccurs="0" name="processRelationshipAttributes" type="xs:boolean" />
        <xs:element xmlns:q123="http://schemas.datacontract.org/2004/07/MDM.BusinessObjects" minOccurs="0" name="callerContext" nillable="true" type="q123:CallerContext" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EnsureInheritedEntityRelationshipsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q124="http://mdmobjects.riversand.com/" minOccurs="0" name="EnsureInheritedEntityRelationshipsResult" nillable="true" type="q124:EntityOperationResultCollection" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ProcessEntityLocale">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="dataXml" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="systemDataLocale" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="returnResult" type="xs:boolean" />
        <xs:element xmlns:q125="http://schemas.datacontract.org/2004/07/MDM.BusinessObjects" minOccurs="0" name="callerContext" nillable="true" type="q125:CallerContext" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ProcessEntityLocaleResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q126="http://mdmobjects.riversand.com/" minOccurs="0" name="ProcessEntityLocaleResult" nillable="true" type="q126:EntityOperationResultCollection" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetEntityLocale">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="entityId" type="xs:long" />
        <xs:element xmlns:q127="http://mdmobjects.riversand.com/" minOccurs="0" name="datalocales" nillable="true" type="q127:ArrayOfLocale" />
        <xs:element xmlns:q128="http://schemas.datacontract.org/2004/07/MDM.BusinessObjects" minOccurs="0" name="callerContext" nillable="true" type="q128:CallerContext" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetEntityLocaleResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q129="http://mdmobjects.riversand.com/" minOccurs="0" name="GetEntityLocaleResult" nillable="true" type="q129:EntityCollection" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SearchEntities">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q130="http://mdmobjects.riversand.com/" minOccurs="0" name="searchCriteria" nillable="true" type="q130:SearchCriteria" />
        <xs:element xmlns:q131="http://mdmobjects.riversand.com/" minOccurs="0" name="searchContext" nillable="true" type="q131:SearchContext" />
        <xs:element xmlns:q132="http://mdmobjects.riversand.com/" minOccurs="0" name="searchOperationResult" nillable="true" type="q132:OperationResult" />
        <xs:element xmlns:q133="http://schemas.datacontract.org/2004/07/MDM.BusinessObjects" minOccurs="0" name="callerContext" nillable="true" type="q133:CallerContext" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SearchEntitiesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q134="http://mdmobjects.riversand.com/" minOccurs="0" name="SearchEntitiesResult" nillable="true" type="q134:EntityCollection" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetEntityHistory">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="entityId" type="xs:long" />
        <xs:element xmlns:q135="http://mdmobjects.riversand.com/" minOccurs="0" name="entityHistoryContext" nillable="true" type="q135:EntityHistoryContext" />
        <xs:element xmlns:q136="http://schemas.datacontract.org/2004/07/MDM.BusinessObjects" minOccurs="0" name="callerContext" nillable="true" type="q136:CallerContext" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetEntityHistoryResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q137="http://mdmobjects.riversand.com/" minOccurs="0" name="GetEntityHistoryResult" nillable="true" type="q137:EntityHistory" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetEntitiesHistory">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q138="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="entityIds" nillable="true" type="q138:ArrayOflong" />
        <xs:element xmlns:q139="http://mdmobjects.riversand.com/" minOccurs="0" name="entityHistoryContext" nillable="true" type="q139:EntityHistoryContext" />
        <xs:element xmlns:q140="http://schemas.datacontract.org/2004/07/MDM.BusinessObjects" minOccurs="0" name="callerContext" nillable="true" type="q140:CallerContext" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetEntitiesHistoryResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q141="http://mdmobjects.riversand.com/" minOccurs="0" name="GetEntitiesHistoryResult" nillable="true" type="q141:EntityCollectionHistory" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetEntityHierarchy">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q142="http://mdmobjects.riversand.com/" minOccurs="0" name="entityUniqueIdentifier" nillable="true" type="q142:EntityUniqueIdentifier" />
        <xs:element xmlns:q143="http://mdmobjects.riversand.com/" minOccurs="0" name="entityContext" nillable="true" type="q143:EntityContext" />
        <xs:element xmlns:q144="http://mdmobjects.riversand.com/" minOccurs="0" name="entityGetOptions" nillable="true" type="q144:EntityGetOptions" />
        <xs:element xmlns:q145="http://schemas.datacontract.org/2004/07/MDM.BusinessObjects" minOccurs="0" name="callerContext" nillable="true" type="q145:CallerContext" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetEntityHierarchyResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q146="http://mdmobjects.riversand.com/" minOccurs="0" name="GetEntityHierarchyResult" nillable="true" type="q146:Entity" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CalculateEntityHierarchyDimensions">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q147="http://mdmobjects.riversand.com/" minOccurs="0" name="entityHierarchyLevel" nillable="true" type="q147:EntityHierarchyLevel" />
        <xs:element xmlns:q148="http://schemas.datacontract.org/2004/07/MDM.BusinessObjects" minOccurs="0" name="callerContext" nillable="true" type="q148:CallerContext" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CalculateEntityHierarchyDimensionsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q149="http://mdmobjects.riversand.com/" minOccurs="0" name="CalculateEntityHierarchyDimensionsResult" nillable="true" type="q149:Table" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ProcessEntityHierarchyGenerationRules">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="entityId" type="xs:long" />
        <xs:element xmlns:q150="http://mdmobjects.riversand.com/" minOccurs="0" name="entityHierarchyDefinition" nillable="true" type="q150:EntityHierarchyDefinition" />
        <xs:element xmlns:q151="http://schemas.datacontract.org/2004/07/MDM.BusinessObjects" minOccurs="0" name="callerContext" nillable="true" type="q151:CallerContext" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ProcessEntityHierarchyGenerationRulesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ProcessEntityHierarchyGenerationRulesResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetEntityHierarchyDimensionValues">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="entityId" type="xs:long" />
        <xs:element xmlns:q152="http://mdmobjects.riversand.com/" minOccurs="0" name="entityHierarchyDefinition" nillable="true" type="q152:EntityHierarchyDefinition" />
        <xs:element xmlns:q153="http://schemas.datacontract.org/2004/07/MDM.BusinessObjects" minOccurs="0" name="callerContext" nillable="true" type="q153:CallerContext" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetEntityHierarchyDimensionValuesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q154="http://mdmobjects.riversand.com/" minOccurs="0" name="GetEntityHierarchyDimensionValuesResult" nillable="true" type="q154:EntityHierarchyDefinition" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetEntityHierarchyMatrix">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="entityId" type="xs:long" />
        <xs:element xmlns:q155="http://mdmobjects.riversand.com/" minOccurs="0" name="entityHierarchyDefinition" nillable="true" type="q155:EntityHierarchyDefinition" />
        <xs:element xmlns:q156="http://mdmobjects.riversand.com/" minOccurs="0" name="operationResult" nillable="true" type="q156:OperationResult" />
        <xs:element xmlns:q157="http://schemas.datacontract.org/2004/07/MDM.BusinessObjects" minOccurs="0" name="callerContext" nillable="true" type="q157:CallerContext" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetEntityHierarchyMatrixResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q158="http://mdmobjects.riversand.com/" minOccurs="0" name="GetEntityHierarchyMatrixResult" nillable="true" type="q158:Table" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ProcessEntityHierarchyMatrix">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="entityId" type="xs:long" />
        <xs:element xmlns:q159="http://mdmobjects.riversand.com/" minOccurs="0" name="matrixTable" nillable="true" type="q159:Table" />
        <xs:element xmlns:q160="http://mdmobjects.riversand.com/" minOccurs="0" name="entityHierarchyDefinition" nillable="true" type="q160:EntityHierarchyDefinition" />
        <xs:element xmlns:q161="http://schemas.datacontract.org/2004/07/MDM.BusinessObjects" minOccurs="0" name="callerContext" nillable="true" type="q161:CallerContext" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ProcessEntityHierarchyMatrixResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q162="http://mdmobjects.riversand.com/" minOccurs="0" name="ProcessEntityHierarchyMatrixResult" nillable="true" type="q162:OperationResult" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GenerateEntityHierarchyWithDimensionValues">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q163="http://mdmobjects.riversand.com/" minOccurs="0" name="entity" nillable="true" type="q163:Entity" />
        <xs:element xmlns:q164="http://mdmobjects.riversand.com/" minOccurs="0" name="entityHierarchyDefinition" nillable="true" type="q164:EntityHierarchyDefinition" />
        <xs:element xmlns:q165="http://schemas.datacontract.org/2004/07/MDM.BusinessObjects" minOccurs="0" name="callerContext" nillable="true" type="q165:CallerContext" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GenerateEntityHierarchyWithDimensionValuesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q166="http://mdmobjects.riversand.com/" minOccurs="0" name="GenerateEntityHierarchyWithDimensionValuesResult" nillable="true" type="q166:OperationResult" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GenerateEntityHierarchy">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q167="http://mdmobjects.riversand.com/" minOccurs="0" name="entity" nillable="true" type="q167:Entity" />
        <xs:element xmlns:q168="http://mdmobjects.riversand.com/" minOccurs="0" name="matrixTable" nillable="true" type="q168:Table" />
        <xs:element xmlns:q169="http://mdmobjects.riversand.com/" minOccurs="0" name="entityHierarchyDefinition" nillable="true" type="q169:EntityHierarchyDefinition" />
        <xs:element xmlns:q170="http://schemas.datacontract.org/2004/07/MDM.BusinessObjects" minOccurs="0" name="callerContext" nillable="true" type="q170:CallerContext" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GenerateEntityHierarchyResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q171="http://mdmobjects.riversand.com/" minOccurs="0" name="GenerateEntityHierarchyResult" nillable="true" type="q171:OperationResult" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetChildEntitiesByEntityType">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="entityId" type="xs:long" />
        <xs:element minOccurs="0" name="entityTypeId" type="xs:int" />
        <xs:element xmlns:q172="http://schemas.datacontract.org/2004/07/System.Collections.Generic" minOccurs="0" name="attributeInfoList" nillable="true" type="q172:ArrayOfKeyValuePairOfintLocaleEnum7cXCH591" />
        <xs:element xmlns:q173="http://mdmobjects.riversand.com/" minOccurs="0" name="application" type="q173:MDMCenterApplication" />
        <xs:element xmlns:q174="http://mdmobjects.riversand.com/" minOccurs="0" name="module" type="q174:MDMCenterModules" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetChildEntitiesByEntityTypeResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q175="http://mdmobjects.riversand.com/" minOccurs="0" name="GetChildEntitiesByEntityTypeResult" nillable="true" type="q175:EntityCollection" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetChildEntitiesIdsByEntityType">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q176="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="entityIds" nillable="true" type="q176:ArrayOflong" />
        <xs:element xmlns:q177="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="childEntityTypeIds" nillable="true" type="q177:ArrayOfint" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetChildEntitiesIdsByEntityTypeResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q178="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="GetChildEntitiesIdsByEntityTypeResult" nillable="true" type="q178:ArrayOflong" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetChildEntities">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="parentEntityId" type="xs:long" />
        <xs:element minOccurs="0" name="childEntityTypeId" type="xs:int" />
        <xs:element xmlns:q179="http://mdmobjects.riversand.com/" minOccurs="0" name="locale" type="q179:LocaleEnum" />
        <xs:element xmlns:q180="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="returnAttributeIds" nillable="true" type="q180:ArrayOfint" />
        <xs:element minOccurs="0" name="getCompleteDetailsOfEntity" type="xs:boolean" />
        <xs:element minOccurs="0" name="maxRecordsToReturn" type="xs:int" />
        <xs:element xmlns:q181="http://schemas.datacontract.org/2004/07/MDM.BusinessObjects" minOccurs="0" name="callerContext" nillable="true" type="q181:CallerContext" />
        <xs:element minOccurs="0" name="getRecursiveChildren" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetChildEntitiesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q182="http://mdmobjects.riversand.com/" minOccurs="0" name="GetChildEntitiesResult" nillable="true" type="q182:EntityCollection" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetFile">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="fileId" type="xs:int" />
        <xs:element minOccurs="0" name="getOnlyFileDetails" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetFileResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q183="http://mdmobjects.riversand.com/" minOccurs="0" name="GetFileResult" nillable="true" type="q183:File" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetFiles">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q184="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="fileIdsFilter" nillable="true" type="q184:ArrayOfint" />
        <xs:element minOccurs="0" name="getOnlyFileDetails" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetFilesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q185="http://mdmobjects.riversand.com/" minOccurs="0" name="GetFilesResult" nillable="true" type="q185:FileCollection" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ProcessFile">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q186="http://mdmobjects.riversand.com/" minOccurs="0" name="file" nillable="true" type="q186:File" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ProcessFileResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ProcessFileResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetEntityMap">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="systemId" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="externalId" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="containerId" type="xs:int" />
        <xs:element minOccurs="0" name="entityTypeId" type="xs:int" />
        <xs:element minOccurs="0" name="categoryId" type="xs:long" />
        <xs:element xmlns:q187="http://schemas.datacontract.org/2004/07/MDM.BusinessObjects.Imports" minOccurs="0" name="entityIdentificationMap" nillable="true" type="q187:EntityIdentificationMap" />
        <xs:element xmlns:q188="http://mdmobjects.riversand.com/" minOccurs="0" name="application" type="q188:MDMCenterApplication" />
        <xs:element xmlns:q189="http://mdmobjects.riversand.com/" minOccurs="0" name="module" type="q189:MDMCenterModules" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetEntityMapResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q190="http://mdmobjects.riversand.com/" minOccurs="0" name="GetEntityMapResult" nillable="true" type="q190:EntityMap" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="LoadInternalDetails">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q191="http://mdmobjects.riversand.com/" minOccurs="0" name="entityMapCollection" nillable="true" type="q191:EntityMapCollection" />
        <xs:element xmlns:q192="http://schemas.datacontract.org/2004/07/MDM.BusinessObjects.Imports" minOccurs="0" name="entityIdentificationMap" nillable="true" type="q192:EntityIdentificationMap" />
        <xs:element xmlns:q193="http://mdmobjects.riversand.com/" minOccurs="0" name="application" type="q193:MDMCenterApplication" />
        <xs:element xmlns:q194="http://mdmobjects.riversand.com/" minOccurs="0" name="module" type="q194:MDMCenterModules" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="LoadInternalDetailsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q195="http://mdmobjects.riversand.com/" minOccurs="0" name="LoadInternalDetailsResult" nillable="true" type="q195:EntityMapCollection" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RemoveEntityCache">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q196="http://mdmobjects.riversand.com/" minOccurs="0" name="entityCacheInvalidateContexts" nillable="true" type="q196:EntityCacheInvalidateContextCollection" />
        <xs:element xmlns:q197="http://schemas.datacontract.org/2004/07/MDM.BusinessObjects" minOccurs="0" name="callerContext" nillable="true" type="q197:CallerContext" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RemoveEntityCacheResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="RemoveEntityCacheResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CopyPasteEntityContents">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q198="http://mdmobjects.riversand.com/" minOccurs="0" name="copyPasteConext" nillable="true" type="q198:EntityCopyPasteContext" />
        <xs:element xmlns:q199="http://schemas.datacontract.org/2004/07/MDM.BusinessObjects" minOccurs="0" name="callerContext" nillable="true" type="q199:CallerContext" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CopyPasteEntityContentsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q200="http://mdmobjects.riversand.com/" minOccurs="0" name="CopyPasteEntityContentsResult" nillable="true" type="q200:EntityOperationResultCollection" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="MergeCopyUsingSetupClass">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="sourceEntityId" type="xs:long" />
        <xs:element minOccurs="0" name="targetCatalogId" type="xs:long" />
        <xs:element minOccurs="0" name="targetCategoryId" type="xs:long" />
        <xs:element minOccurs="0" name="setupMethodName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="setupAssemblyName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="context" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="MergeCopyUsingSetupClassResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q201="http://mdmobjects.riversand.com/" minOccurs="0" name="MergeCopyUsingSetupClassResult" nillable="true" type="q201:EntityOperationResult" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>