DataGovernanceStore/Libraries/MDMLibrarySolution/ServiceManager/MDM.Services.Client/Service References/DataModelServiceClient/DataModelService.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/MDM.BusinessObjects.DynamicTableSchema" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/MDM.BusinessObjects.DynamicTableSchema" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost/MainLine_WCFServices/DataModelService.svc?xsd=xsd3" namespace="http://mdmobjects.riversand.com/" />
  <xs:complexType name="DBTable">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q1="http://mdmobjects.riversand.com/" base="q1:MDMObject">
        <xs:sequence>
          <xs:element minOccurs="0" name="Columns" nillable="true" type="tns:DBColumnCollection" />
          <xs:element minOccurs="0" name="Constraints" nillable="true" type="tns:DBConstraintCollection" />
          <xs:element minOccurs="0" name="DynamicTableType" type="q1:DynamicTableType" />
          <xs:element minOccurs="0" name="PopulateRSTObject" type="xs:boolean" />
          <xs:element minOccurs="0" name="Relationships" nillable="true" type="tns:DBRelationshipCollection" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="DBTable" nillable="true" type="tns:DBTable" />
  <xs:complexType name="DBColumnCollection">
    <xs:sequence>
      <xs:element minOccurs="0" name="_DBColumns" nillable="true" type="tns:ArrayOfDBColumn" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="DBColumnCollection" nillable="true" type="tns:DBColumnCollection" />
  <xs:complexType name="ArrayOfDBColumn">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="DBColumn" nillable="true" type="tns:DBColumn" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfDBColumn" nillable="true" type="tns:ArrayOfDBColumn" />
  <xs:complexType name="DBColumn">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q2="http://mdmobjects.riversand.com/" base="q2:MDMObject">
        <xs:sequence>
          <xs:element minOccurs="0" name="DataType" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="DefaultValue" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="IsUnique" type="xs:boolean" />
          <xs:element minOccurs="0" name="Length" type="xs:int" />
          <xs:element minOccurs="0" name="Nullable" type="xs:boolean" />
          <xs:element minOccurs="0" name="OldName" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="Precision" type="xs:int" />
          <xs:element minOccurs="0" name="Sequence" type="xs:int" />
          <xs:element minOccurs="0" name="_dataType" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="_defaultValue" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="_isUnique" type="xs:boolean" />
          <xs:element minOccurs="0" name="_length" type="xs:int" />
          <xs:element minOccurs="0" name="_nullable" type="xs:boolean" />
          <xs:element minOccurs="0" name="_oldName" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="_precision" type="xs:int" />
          <xs:element minOccurs="0" name="_sequence" type="xs:int" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="DBColumn" nillable="true" type="tns:DBColumn" />
  <xs:complexType name="DBConstraintCollection">
    <xs:sequence>
      <xs:element minOccurs="0" name="_dbConstraints" nillable="true" type="tns:ArrayOfDBConstraint" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="DBConstraintCollection" nillable="true" type="tns:DBConstraintCollection" />
  <xs:complexType name="ArrayOfDBConstraint">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="DBConstraint" nillable="true" type="tns:DBConstraint" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfDBConstraint" nillable="true" type="tns:ArrayOfDBConstraint" />
  <xs:complexType name="DBConstraint">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q3="http://mdmobjects.riversand.com/" base="q3:ObjectBase">
        <xs:sequence>
          <xs:element minOccurs="0" name="Action" type="q3:ObjectAction" />
          <xs:element minOccurs="0" name="ColumnName" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="ConstraintType" type="q3:ConstraintType" />
          <xs:element minOccurs="0" name="Value" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="DBConstraint" nillable="true" type="tns:DBConstraint" />
  <xs:complexType name="DBRelationshipCollection">
    <xs:sequence>
      <xs:element minOccurs="0" name="_DBRelationships" nillable="true" type="tns:ArrayOfDBRelationship" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="DBRelationshipCollection" nillable="true" type="tns:DBRelationshipCollection" />
  <xs:complexType name="ArrayOfDBRelationship">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="DBRelationship" nillable="true" type="tns:DBRelationship" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfDBRelationship" nillable="true" type="tns:ArrayOfDBRelationship" />
  <xs:complexType name="DBRelationship">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q4="http://mdmobjects.riversand.com/" base="q4:MDMObject">
        <xs:sequence>
          <xs:element minOccurs="0" name="ColumnName" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="DisplayColumns" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="RefColumnname" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="RefMask" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="RefTableName" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="SearchColumns" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="SortColumns" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="_action" type="q4:ObjectAction" />
          <xs:element minOccurs="0" name="_columnName" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="_displayColumns" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="_refColumnName" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="_refMask" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="_refTableName" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="_searchColumns" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="_sortColumns" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="DBRelationship" nillable="true" type="tns:DBRelationship" />
  <xs:complexType name="DBTableCollection">
    <xs:sequence>
      <xs:element minOccurs="0" name="_DBTables" nillable="true" type="tns:ArrayOfDBTable" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="DBTableCollection" nillable="true" type="tns:DBTableCollection" />
  <xs:complexType name="ArrayOfDBTable">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="DBTable" nillable="true" type="tns:DBTable" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfDBTable" nillable="true" type="tns:ArrayOfDBTable" />
</xs:schema>