DataGovernanceStore/Libraries/MDMLibrarySolution/ServiceManager/MDM.Services.Client/Service References/CoreServiceClient/CoreService43.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://mdmobjects.riversand.com/" elementFormDefault="qualified" targetNamespace="http://mdmobjects.riversand.com/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost/Development_WCFServices/CoreService.svc?xsd=xsd2" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
  <xs:complexType name="MDMExceptionDetails">
    <xs:sequence>
      <xs:element minOccurs="0" name="Message" nillable="true" type="xs:string" />
      <xs:element xmlns:q1="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="MessageArguments" nillable="true" type="q1:ArrayOfanyType" />
      <xs:element minOccurs="0" name="MessageCode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Source" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="StackTrace" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TargetSite" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="MDMExceptionDetails" nillable="true" type="tns:MDMExceptionDetails" />
</xs:schema>