DataGovernanceStore/Libraries/MDMLibrarySolution/ServiceManager/MDM.Services.Client/Service References/CoreServiceClient/CoreService5.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://wcfservices.riversand.com" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:i0="http://tempuri.org/" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="CoreService" targetNamespace="http://wcfservices.riversand.com" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:import namespace="http://tempuri.org/" location="http://localhost/Development_WCFServices/CoreService.svc?wsdl=wsdl0" />
  <wsdl:types>
    <xsd:schema targetNamespace="http://wcfservices.riversand.com/Imports">
      <xsd:import schemaLocation="http://localhost/Development_WCFServices/CoreService.svc?xsd=xsd0" namespace="http://wcfservices.riversand.com" />
      <xsd:import schemaLocation="http://localhost/Development_WCFServices/CoreService.svc?xsd=xsd3" namespace="http://mdmobjects.riversand.com/" />
      <xsd:import schemaLocation="http://localhost/Development_WCFServices/CoreService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost/Development_WCFServices/CoreService.svc?xsd=xsd2" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
      <xsd:import schemaLocation="http://localhost/Development_WCFServices/CoreService.svc?xsd=xsd4" namespace="http://schemas.datacontract.org/2004/07/MDM.BusinessObjects.DataModel" />
      <xsd:import schemaLocation="http://localhost/Development_WCFServices/CoreService.svc?xsd=xsd5" namespace="http://schemas.datacontract.org/2004/07/MDM.BusinessObjects.DQM" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="ICoreService_RemoveCacheKey_InputMessage">
    <wsdl:part name="parameters" element="tns:RemoveCacheKey" />
  </wsdl:message>
  <wsdl:message name="ICoreService_RemoveCacheKey_OutputMessage">
    <wsdl:part name="parameters" element="tns:RemoveCacheKeyResponse" />
  </wsdl:message>
  <wsdl:message name="ICoreService_RemoveCacheKey_MDMExceptionDetailsFault_FaultMessage">
    <wsdl:part xmlns:q1="http://mdmobjects.riversand.com/" name="detail" element="q1:MDMExceptionDetails" />
  </wsdl:message>
  <wsdl:message name="ICoreService_GetAllCacheKeys_InputMessage">
    <wsdl:part name="parameters" element="tns:GetAllCacheKeys" />
  </wsdl:message>
  <wsdl:message name="ICoreService_GetAllCacheKeys_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetAllCacheKeysResponse" />
  </wsdl:message>
  <wsdl:message name="ICoreService_GetAllCacheKeys_MDMExceptionDetailsFault_FaultMessage">
    <wsdl:part xmlns:q2="http://mdmobjects.riversand.com/" name="detail" element="q2:MDMExceptionDetails" />
  </wsdl:message>
  <wsdl:message name="ICoreService_ClearCache_InputMessage">
    <wsdl:part name="parameters" element="tns:ClearCache" />
  </wsdl:message>
  <wsdl:message name="ICoreService_ClearCache_OutputMessage">
    <wsdl:part name="parameters" element="tns:ClearCacheResponse" />
  </wsdl:message>
  <wsdl:message name="ICoreService_ClearCache_MDMExceptionDetailsFault_FaultMessage">
    <wsdl:part xmlns:q3="http://mdmobjects.riversand.com/" name="detail" element="q3:MDMExceptionDetails" />
  </wsdl:message>
  <wsdl:message name="ICoreService_ClearDistributedCache_InputMessage">
    <wsdl:part name="parameters" element="tns:ClearDistributedCache" />
  </wsdl:message>
  <wsdl:message name="ICoreService_ClearDistributedCache_OutputMessage">
    <wsdl:part name="parameters" element="tns:ClearDistributedCacheResponse" />
  </wsdl:message>
  <wsdl:message name="ICoreService_ClearDistributedCache_MDMExceptionDetailsFault_FaultMessage">
    <wsdl:part xmlns:q4="http://mdmobjects.riversand.com/" name="detail" element="q4:MDMExceptionDetails" />
  </wsdl:message>
  <wsdl:message name="ICoreService_InvalidateLookupCache_InputMessage">
    <wsdl:part name="parameters" element="tns:InvalidateLookupCache" />
  </wsdl:message>
  <wsdl:message name="ICoreService_InvalidateLookupCache_OutputMessage">
    <wsdl:part name="parameters" element="tns:InvalidateLookupCacheResponse" />
  </wsdl:message>
  <wsdl:message name="ICoreService_InvalidateLookupCache_MDMExceptionDetailsFault_FaultMessage">
    <wsdl:part xmlns:q5="http://mdmobjects.riversand.com/" name="detail" element="q5:MDMExceptionDetails" />
  </wsdl:message>
  <wsdl:message name="ICoreService_GetLatestBuildDetail_InputMessage">
    <wsdl:part name="parameters" element="tns:GetLatestBuildDetail" />
  </wsdl:message>
  <wsdl:message name="ICoreService_GetLatestBuildDetail_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetLatestBuildDetailResponse" />
  </wsdl:message>
  <wsdl:message name="ICoreService_GetLatestBuildDetail_MDMExceptionDetailsFault_FaultMessage">
    <wsdl:part xmlns:q6="http://mdmobjects.riversand.com/" name="detail" element="q6:MDMExceptionDetails" />
  </wsdl:message>
  <wsdl:message name="ICoreService_GetBuildFeatureId_InputMessage">
    <wsdl:part name="parameters" element="tns:GetBuildFeatureId" />
  </wsdl:message>
  <wsdl:message name="ICoreService_GetBuildFeatureId_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetBuildFeatureIdResponse" />
  </wsdl:message>
  <wsdl:message name="ICoreService_GetBuildFeatureId_MDMExceptionDetailsFault_FaultMessage">
    <wsdl:part xmlns:q7="http://mdmobjects.riversand.com/" name="detail" element="q7:MDMExceptionDetails" />
  </wsdl:message>
  <wsdl:message name="ICoreService_ProcessFileCheckSum_InputMessage">
    <wsdl:part name="parameters" element="tns:ProcessFileCheckSum" />
  </wsdl:message>
  <wsdl:message name="ICoreService_ProcessFileCheckSum_OutputMessage">
    <wsdl:part name="parameters" element="tns:ProcessFileCheckSumResponse" />
  </wsdl:message>
  <wsdl:message name="ICoreService_ProcessFileCheckSum_MDMExceptionDetailsFault_FaultMessage">
    <wsdl:part xmlns:q8="http://mdmobjects.riversand.com/" name="detail" element="q8:MDMExceptionDetails" />
  </wsdl:message>
  <wsdl:message name="ICoreService_UpdateBuildStatus_InputMessage">
    <wsdl:part name="parameters" element="tns:UpdateBuildStatus" />
  </wsdl:message>
  <wsdl:message name="ICoreService_UpdateBuildStatus_OutputMessage">
    <wsdl:part name="parameters" element="tns:UpdateBuildStatusResponse" />
  </wsdl:message>
  <wsdl:message name="ICoreService_UpdateBuildStatus_MDMExceptionDetailsFault_FaultMessage">
    <wsdl:part xmlns:q9="http://mdmobjects.riversand.com/" name="detail" element="q9:MDMExceptionDetails" />
  </wsdl:message>
  <wsdl:message name="ICoreService_SaveBuildDetails_InputMessage">
    <wsdl:part name="parameters" element="tns:SaveBuildDetails" />
  </wsdl:message>
  <wsdl:message name="ICoreService_SaveBuildDetails_OutputMessage">
    <wsdl:part name="parameters" element="tns:SaveBuildDetailsResponse" />
  </wsdl:message>
  <wsdl:message name="ICoreService_SaveBuildDetails_MDMExceptionDetailsFault_FaultMessage">
    <wsdl:part xmlns:q10="http://mdmobjects.riversand.com/" name="detail" element="q10:MDMExceptionDetails" />
  </wsdl:message>
  <wsdl:portType name="ICoreService">
    <wsdl:operation name="RemoveCacheKey">
      <wsdl:input wsaw:Action="http://wcfservices.riversand.com/ICoreService/RemoveCacheKey" message="tns:ICoreService_RemoveCacheKey_InputMessage" />
      <wsdl:output wsaw:Action="http://wcfservices.riversand.com/ICoreService/RemoveCacheKeyResponse" message="tns:ICoreService_RemoveCacheKey_OutputMessage" />
      <wsdl:fault wsaw:Action="http://wcfservices.riversand.com/ICoreService/RemoveCacheKeyMDMExceptionDetailsFault" name="MDMExceptionDetailsFault" message="tns:ICoreService_RemoveCacheKey_MDMExceptionDetailsFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetAllCacheKeys">
      <wsdl:input wsaw:Action="http://wcfservices.riversand.com/ICoreService/GetAllCacheKeys" message="tns:ICoreService_GetAllCacheKeys_InputMessage" />
      <wsdl:output wsaw:Action="http://wcfservices.riversand.com/ICoreService/GetAllCacheKeysResponse" message="tns:ICoreService_GetAllCacheKeys_OutputMessage" />
      <wsdl:fault wsaw:Action="http://wcfservices.riversand.com/ICoreService/GetAllCacheKeysMDMExceptionDetailsFault" name="MDMExceptionDetailsFault" message="tns:ICoreService_GetAllCacheKeys_MDMExceptionDetailsFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="ClearCache">
      <wsdl:input wsaw:Action="http://wcfservices.riversand.com/ICoreService/ClearCache" message="tns:ICoreService_ClearCache_InputMessage" />
      <wsdl:output wsaw:Action="http://wcfservices.riversand.com/ICoreService/ClearCacheResponse" message="tns:ICoreService_ClearCache_OutputMessage" />
      <wsdl:fault wsaw:Action="http://wcfservices.riversand.com/ICoreService/ClearCacheMDMExceptionDetailsFault" name="MDMExceptionDetailsFault" message="tns:ICoreService_ClearCache_MDMExceptionDetailsFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="ClearDistributedCache">
      <wsdl:input wsaw:Action="http://wcfservices.riversand.com/ICoreService/ClearDistributedCache" message="tns:ICoreService_ClearDistributedCache_InputMessage" />
      <wsdl:output wsaw:Action="http://wcfservices.riversand.com/ICoreService/ClearDistributedCacheResponse" message="tns:ICoreService_ClearDistributedCache_OutputMessage" />
      <wsdl:fault wsaw:Action="http://wcfservices.riversand.com/ICoreService/ClearDistributedCacheMDMExceptionDetailsFault" name="MDMExceptionDetailsFault" message="tns:ICoreService_ClearDistributedCache_MDMExceptionDetailsFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="InvalidateLookupCache">
      <wsdl:input wsaw:Action="http://wcfservices.riversand.com/ICoreService/InvalidateLookupCache" message="tns:ICoreService_InvalidateLookupCache_InputMessage" />
      <wsdl:output wsaw:Action="http://wcfservices.riversand.com/ICoreService/InvalidateLookupCacheResponse" message="tns:ICoreService_InvalidateLookupCache_OutputMessage" />
      <wsdl:fault wsaw:Action="http://wcfservices.riversand.com/ICoreService/InvalidateLookupCacheMDMExceptionDetailsFault" name="MDMExceptionDetailsFault" message="tns:ICoreService_InvalidateLookupCache_MDMExceptionDetailsFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetLatestBuildDetail">
      <wsdl:input wsaw:Action="http://wcfservices.riversand.com/ICoreService/GetLatestBuildDetail" message="tns:ICoreService_GetLatestBuildDetail_InputMessage" />
      <wsdl:output wsaw:Action="http://wcfservices.riversand.com/ICoreService/GetLatestBuildDetailResponse" message="tns:ICoreService_GetLatestBuildDetail_OutputMessage" />
      <wsdl:fault wsaw:Action="http://wcfservices.riversand.com/ICoreService/GetLatestBuildDetailMDMExceptionDetailsFault" name="MDMExceptionDetailsFault" message="tns:ICoreService_GetLatestBuildDetail_MDMExceptionDetailsFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetBuildFeatureId">
      <wsdl:input wsaw:Action="http://wcfservices.riversand.com/ICoreService/GetBuildFeatureId" message="tns:ICoreService_GetBuildFeatureId_InputMessage" />
      <wsdl:output wsaw:Action="http://wcfservices.riversand.com/ICoreService/GetBuildFeatureIdResponse" message="tns:ICoreService_GetBuildFeatureId_OutputMessage" />
      <wsdl:fault wsaw:Action="http://wcfservices.riversand.com/ICoreService/GetBuildFeatureIdMDMExceptionDetailsFault" name="MDMExceptionDetailsFault" message="tns:ICoreService_GetBuildFeatureId_MDMExceptionDetailsFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="ProcessFileCheckSum">
      <wsdl:input wsaw:Action="http://wcfservices.riversand.com/ICoreService/ProcessFileCheckSum" message="tns:ICoreService_ProcessFileCheckSum_InputMessage" />
      <wsdl:output wsaw:Action="http://wcfservices.riversand.com/ICoreService/ProcessFileCheckSumResponse" message="tns:ICoreService_ProcessFileCheckSum_OutputMessage" />
      <wsdl:fault wsaw:Action="http://wcfservices.riversand.com/ICoreService/ProcessFileCheckSumMDMExceptionDetailsFault" name="MDMExceptionDetailsFault" message="tns:ICoreService_ProcessFileCheckSum_MDMExceptionDetailsFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="UpdateBuildStatus">
      <wsdl:input wsaw:Action="http://wcfservices.riversand.com/ICoreService/UpdateBuildStatus" message="tns:ICoreService_UpdateBuildStatus_InputMessage" />
      <wsdl:output wsaw:Action="http://wcfservices.riversand.com/ICoreService/UpdateBuildStatusResponse" message="tns:ICoreService_UpdateBuildStatus_OutputMessage" />
      <wsdl:fault wsaw:Action="http://wcfservices.riversand.com/ICoreService/UpdateBuildStatusMDMExceptionDetailsFault" name="MDMExceptionDetailsFault" message="tns:ICoreService_UpdateBuildStatus_MDMExceptionDetailsFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="SaveBuildDetails">
      <wsdl:input wsaw:Action="http://wcfservices.riversand.com/ICoreService/SaveBuildDetails" message="tns:ICoreService_SaveBuildDetails_InputMessage" />
      <wsdl:output wsaw:Action="http://wcfservices.riversand.com/ICoreService/SaveBuildDetailsResponse" message="tns:ICoreService_SaveBuildDetails_OutputMessage" />
      <wsdl:fault wsaw:Action="http://wcfservices.riversand.com/ICoreService/SaveBuildDetailsMDMExceptionDetailsFault" name="MDMExceptionDetailsFault" message="tns:ICoreService_SaveBuildDetails_MDMExceptionDetailsFault_FaultMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:service name="CoreService">
    <wsdl:port name="WSHttpBinding_ICoreService" binding="i0:WSHttpBinding_ICoreService">
      <soap12:address location="http://localhost/Development_WCFServices/CoreService.svc" />
      <wsa10:EndpointReference>
        <wsa10:Address>http://localhost/Development_WCFServices/CoreService.svc</wsa10:Address>
        <Identity xmlns="http://schemas.xmlsoap.org/ws/2006/02/addressingidentity">
          <Dns>localhost</Dns>
        </Identity>
      </wsa10:EndpointReference>
    </wsdl:port>
    <wsdl:port name="NetTcpBinding_ICoreService" binding="i0:NetTcpBinding_ICoreService">
      <soap12:address location="net.tcp://tista.riversand.com/Development_WCFServices/CoreService.svc" />
      <wsa10:EndpointReference>
        <wsa10:Address>net.tcp://tista.riversand.com/Development_WCFServices/CoreService.svc</wsa10:Address>
        <Identity xmlns="http://schemas.xmlsoap.org/ws/2006/02/addressingidentity">
          <Spn>host/localhost</Spn>
        </Identity>
      </wsa10:EndpointReference>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>