DataGovernanceStore/Libraries/MDMLibrarySolution/ServiceManager/MDM.Services.Client/Service References/CoreServiceClient/CoreService8.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://wcfservices.riversand.com" elementFormDefault="qualified" targetNamespace="http://wcfservices.riversand.com" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost/MDM7.6-SP_WCFServices/CoreService.svc?xsd=xsd2" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
  <xs:import schemaLocation="http://localhost/MDM7.6-SP_WCFServices/CoreService.svc?xsd=xsd3" namespace="http://mdmobjects.riversand.com/" />
  <xs:element name="RemoveCacheKey">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="cacheKeys" nillable="true" type="q1:ArrayOfstring" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RemoveCacheKeyResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllCacheKeys">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllCacheKeysResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="GetAllCacheKeysResult" nillable="true" type="q2:ArrayOfstring" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ClearCache">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="ClearCacheResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="ClearDistributedCache">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="ClearDistributedCacheResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ClearDistributedCacheResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InvalidateLookupCache">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="LookupName" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InvalidateLookupCacheResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="InvalidateLookupCacheResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetLatestBuildDetail">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetLatestBuildDetailResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://mdmobjects.riversand.com/" minOccurs="0" name="GetLatestBuildDetailResult" nillable="true" type="q3:BuildDetail" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetBuildFeatureId">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="buildDetailId" type="xs:int" />
        <xs:element minOccurs="0" name="featureName" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetBuildFeatureIdResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetBuildFeatureIdResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ProcessFileCheckSum">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://mdmobjects.riversand.com/" minOccurs="0" name="buildDetailContext" nillable="true" type="q4:BuildDetailContext" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ProcessFileCheckSumResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://mdmobjects.riversand.com/" minOccurs="0" name="ProcessFileCheckSumResult" nillable="true" type="q5:OperationResult" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateBuildStatus">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://mdmobjects.riversand.com/" minOccurs="0" name="buildDetailContext" nillable="true" type="q6:BuildDetailContext" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateBuildStatusResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q7="http://mdmobjects.riversand.com/" minOccurs="0" name="UpdateBuildStatusResult" nillable="true" type="q7:OperationResult" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SaveBuildDetails">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q8="http://mdmobjects.riversand.com/" minOccurs="0" name="buildDetailContext" nillable="true" type="q8:BuildDetailContext" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SaveBuildDetailsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q9="http://mdmobjects.riversand.com/" minOccurs="0" name="SaveBuildDetailsResult" nillable="true" type="q9:OperationResult" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>