DataGovernanceStore/Libraries/MDMWorkflowSolution/WorkflowServiceManager/MDM.WorkflowService/Service References/WorkflowServiceClient/WorkflowService71.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://mdmobjects.riversand.com/" elementFormDefault="qualified" targetNamespace="http://mdmobjects.riversand.com/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost/Development_MDMWorkflowWCFServices/WorkflowService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
  <xs:import schemaLocation="http://localhost/Development_MDMWorkflowWCFServices/WorkflowService.svc?xsd=xsd4" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
  <xs:complexType name="MDMObject">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:ObjectBase">
        <xs:sequence>
          <xs:element minOccurs="0" name="Action" type="tns:ObjectAction" />
          <xs:element minOccurs="0" name="Id" type="xs:int" />
          <xs:element minOccurs="0" name="Locale" type="tns:LocaleEnum" />
          <xs:element minOccurs="0" name="LongName" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="MDMObject" nillable="true" type="tns:MDMObject" />
  <xs:complexType name="ObjectBase">
    <xs:sequence>
      <xs:element minOccurs="0" name="ObjectType" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ObjectTypeId" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ObjectBase" nillable="true" type="tns:ObjectBase" />
  <xs:simpleType name="ObjectAction">
    <xs:restriction base="xs:string">
      <xs:enumeration value="Read" />
      <xs:enumeration value="Create" />
      <xs:enumeration value="Update" />
      <xs:enumeration value="Delete" />
      <xs:enumeration value="Unknown" />
      <xs:enumeration value="Ignore" />
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="ObjectAction" nillable="true" type="tns:ObjectAction" />
  <xs:simpleType name="LocaleEnum">
    <xs:restriction base="xs:string">
      <xs:enumeration value="en_WW">
        <xs:annotation>
          <xs:appinfo>
            <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">1</EnumerationValue>
          </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="Neutral">
        <xs:annotation>
          <xs:appinfo>
            <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">61</EnumerationValue>
          </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="fr_WW" />
      <xs:enumeration value="sp_WW" />
      <xs:enumeration value="de_WW" />
      <xs:enumeration value="zh_WW" />
      <xs:enumeration value="qq_WW" />
      <xs:enumeration value="da_DK">
        <xs:annotation>
          <xs:appinfo>
            <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">16</EnumerationValue>
          </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="de_AT">
        <xs:annotation>
          <xs:appinfo>
            <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">18</EnumerationValue>
          </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="de_CH">
        <xs:annotation>
          <xs:appinfo>
            <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">19</EnumerationValue>
          </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="de_DE">
        <xs:annotation>
          <xs:appinfo>
            <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">21</EnumerationValue>
          </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="el_GR">
        <xs:annotation>
          <xs:appinfo>
            <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">22</EnumerationValue>
          </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="en_CA">
        <xs:annotation>
          <xs:appinfo>
            <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">24</EnumerationValue>
          </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="en_GB">
        <xs:annotation>
          <xs:appinfo>
            <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">25</EnumerationValue>
          </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="en_IE">
        <xs:annotation>
          <xs:appinfo>
            <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">26</EnumerationValue>
          </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="en_US">
        <xs:annotation>
          <xs:appinfo>
            <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">27</EnumerationValue>
          </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="es_ES">
        <xs:annotation>
          <xs:appinfo>
            <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">28</EnumerationValue>
          </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="fi_FI">
        <xs:annotation>
          <xs:appinfo>
            <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">29</EnumerationValue>
          </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="fr_BE">
        <xs:annotation>
          <xs:appinfo>
            <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">31</EnumerationValue>
          </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="fr_CA">
        <xs:annotation>
          <xs:appinfo>
            <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">32</EnumerationValue>
          </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="fr_CH">
        <xs:annotation>
          <xs:appinfo>
            <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">33</EnumerationValue>
          </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="fr_FR">
        <xs:annotation>
          <xs:appinfo>
            <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">34</EnumerationValue>
          </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="it_CH">
        <xs:annotation>
          <xs:appinfo>
            <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">35</EnumerationValue>
          </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="it_IT">
        <xs:annotation>
          <xs:appinfo>
            <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">36</EnumerationValue>
          </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="ja_JP">
        <xs:annotation>
          <xs:appinfo>
            <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">38</EnumerationValue>
          </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="ko_KR">
        <xs:annotation>
          <xs:appinfo>
            <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">39</EnumerationValue>
          </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="nl_BE">
        <xs:annotation>
          <xs:appinfo>
            <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">40</EnumerationValue>
          </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="nl_NL">
        <xs:annotation>
          <xs:appinfo>
            <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">41</EnumerationValue>
          </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="no_NO">
        <xs:annotation>
          <xs:appinfo>
            <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">42</EnumerationValue>
          </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="no_NO_B">
        <xs:annotation>
          <xs:appinfo>
            <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">43</EnumerationValue>
          </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="pt_PT">
        <xs:annotation>
          <xs:appinfo>
            <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">44</EnumerationValue>
          </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="sv_SE">
        <xs:annotation>
          <xs:appinfo>
            <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">45</EnumerationValue>
          </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="tr_TR">
        <xs:annotation>
          <xs:appinfo>
            <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">46</EnumerationValue>
          </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="zh_CN">
        <xs:annotation>
          <xs:appinfo>
            <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">47</EnumerationValue>
          </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="zh_TW">
        <xs:annotation>
          <xs:appinfo>
            <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">48</EnumerationValue>
          </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="ay_AL">
        <xs:annotation>
          <xs:appinfo>
            <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">49</EnumerationValue>
          </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="th_IN">
        <xs:annotation>
          <xs:appinfo>
            <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">52</EnumerationValue>
          </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="es_VE">
        <xs:annotation>
          <xs:appinfo>
            <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">56</EnumerationValue>
          </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="it_WW">
        <xs:annotation>
          <xs:appinfo>
            <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">59</EnumerationValue>
          </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="es_AR">
        <xs:annotation>
          <xs:appinfo>
            <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">60</EnumerationValue>
          </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="UnKnown">
        <xs:annotation>
          <xs:appinfo>
            <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">0</EnumerationValue>
          </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="LocaleEnum" nillable="true" type="tns:LocaleEnum" />
  <xs:simpleType name="MDMCenterApplication">
    <xs:restriction base="xs:string">
      <xs:enumeration value="MDMCenter" />
      <xs:enumeration value="PIM" />
      <xs:enumeration value="JobService" />
      <xs:enumeration value="VendorPortal" />
      <xs:enumeration value="MAM" />
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="MDMCenterApplication" nillable="true" type="tns:MDMCenterApplication" />
  <xs:simpleType name="MDMCenterModules">
    <xs:restriction base="xs:string">
      <xs:enumeration value="Unknown" />
      <xs:enumeration value="Entity" />
      <xs:enumeration value="Search" />
      <xs:enumeration value="Import" />
      <xs:enumeration value="Export" />
      <xs:enumeration value="Staging" />
      <xs:enumeration value="PDR" />
      <xs:enumeration value="DataQualityManagement" />
      <xs:enumeration value="PromoteItems" />
      <xs:enumeration value="DataValidation" />
      <xs:enumeration value="AttributeImport" />
      <xs:enumeration value="CategoryMapping" />
      <xs:enumeration value="TaxonomyImport" />
      <xs:enumeration value="AttributeExport" />
      <xs:enumeration value="AttributeMatching" />
      <xs:enumeration value="AttributeExtraction" />
      <xs:enumeration value="AttributeGenerationMC" />
      <xs:enumeration value="Validation" />
      <xs:enumeration value="BulkOperation" />
      <xs:enumeration value="AttributeGeneration" />
      <xs:enumeration value="Synchronization" />
      <xs:enumeration value="UIProcess" />
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="MDMCenterModules" nillable="true" type="tns:MDMCenterModules" />
  <xs:complexType name="OperationResult">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:ObjectBase">
        <xs:sequence>
          <xs:element minOccurs="0" name="Errors" nillable="true" type="tns:ArrayOfError" />
          <xs:element minOccurs="0" name="Informations" nillable="true" type="tns:ArrayOfInformation" />
          <xs:element minOccurs="0" name="OperationResultStatus" type="tns:OperationResultStatusEnum" />
          <xs:element xmlns:q1="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="ReturnValues" nillable="true" type="q1:ArrayOfanyType" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="OperationResult" nillable="true" type="tns:OperationResult" />
  <xs:complexType name="ArrayOfError">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Error" nillable="true" type="tns:Error" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfError" nillable="true" type="tns:ArrayOfError" />
  <xs:complexType name="Error">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:ObjectBase">
        <xs:sequence>
          <xs:element minOccurs="0" name="ErrorCode" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="ErrorMessage" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="Error" nillable="true" type="tns:Error" />
  <xs:complexType name="ArrayOfInformation">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Information" nillable="true" type="tns:Information" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfInformation" nillable="true" type="tns:ArrayOfInformation" />
  <xs:complexType name="Information">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:ObjectBase">
        <xs:sequence>
          <xs:element minOccurs="0" name="InformationCode" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="InformationMessage" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="Information" nillable="true" type="tns:Information" />
  <xs:simpleType name="OperationResultStatusEnum">
    <xs:restriction base="xs:string">
      <xs:enumeration value="None">
        <xs:annotation>
          <xs:appinfo>
            <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">1</EnumerationValue>
          </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="Pending">
        <xs:annotation>
          <xs:appinfo>
            <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">2</EnumerationValue>
          </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="Successful">
        <xs:annotation>
          <xs:appinfo>
            <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">3</EnumerationValue>
          </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="CompletedWithErrors">
        <xs:annotation>
          <xs:appinfo>
            <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">4</EnumerationValue>
          </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="Failed">
        <xs:annotation>
          <xs:appinfo>
            <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">5</EnumerationValue>
          </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="OperationResultStatusEnum" nillable="true" type="tns:OperationResultStatusEnum" />
  <xs:complexType name="Table">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:MDMObject">
        <xs:sequence>
          <xs:element minOccurs="0" name="Columns" nillable="true" type="tns:ColumnCollection" />
          <xs:element xmlns:q2="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="ExtendedProperties" nillable="true" type="q2:ArrayOfKeyValueOfanyTypeanyType" />
          <xs:element minOccurs="0" name="Rows" nillable="true" type="tns:RowCollection" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="Table" nillable="true" type="tns:Table" />
  <xs:complexType name="ColumnCollection">
    <xs:sequence>
      <xs:element minOccurs="0" name="_columns" nillable="true" type="tns:ArrayOfColumn" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ColumnCollection" nillable="true" type="tns:ColumnCollection" />
  <xs:complexType name="ArrayOfColumn">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Column" nillable="true" type="tns:Column" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfColumn" nillable="true" type="tns:ArrayOfColumn" />
  <xs:complexType name="Column">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:MDMObject">
        <xs:sequence />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="Column" nillable="true" type="tns:Column" />
  <xs:complexType name="RowCollection">
    <xs:sequence>
      <xs:element minOccurs="0" name="_rows" nillable="true" type="tns:ArrayOfRow" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="RowCollection" nillable="true" type="tns:RowCollection" />
  <xs:complexType name="ArrayOfRow">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Row" nillable="true" type="tns:Row" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfRow" nillable="true" type="tns:ArrayOfRow" />
  <xs:complexType name="Row">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:MDMObject">
        <xs:sequence>
          <xs:element minOccurs="0" name="Cells" nillable="true" type="tns:CellCollection" />
          <xs:element minOccurs="0" name="Id" type="xs:anyType">
            <xs:annotation>
              <xs:appinfo>
                <ActualType Name="long" Namespace="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
              </xs:appinfo>
            </xs:annotation>
          </xs:element>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="Row" nillable="true" type="tns:Row" />
  <xs:complexType name="CellCollection">
    <xs:sequence>
      <xs:element minOccurs="0" name="_cells" nillable="true" type="tns:ArrayOfCell" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="CellCollection" nillable="true" type="tns:CellCollection" />
  <xs:complexType name="ArrayOfCell">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Cell" nillable="true" type="tns:Cell" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfCell" nillable="true" type="tns:ArrayOfCell" />
  <xs:complexType name="Cell">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:ObjectBase">
        <xs:sequence>
          <xs:element minOccurs="0" name="ColumnId" type="xs:int" />
          <xs:element minOccurs="0" name="ColumnName" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="Value" nillable="true" type="xs:anyType" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="Cell" nillable="true" type="tns:Cell" />
  <xs:simpleType name="WorkflowInstanceRunOptions">
    <xs:restriction base="xs:string">
      <xs:enumeration value="RunAsMultipleInstances">
        <xs:annotation>
          <xs:appinfo>
            <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">1</EnumerationValue>
          </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="RunAsSingleInstance">
        <xs:annotation>
          <xs:appinfo>
            <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">2</EnumerationValue>
          </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="WorkflowInstanceRunOptions" nillable="true" type="tns:WorkflowInstanceRunOptions" />
  <xs:simpleType name="CommentsRequired">
    <xs:restriction base="xs:string">
      <xs:enumeration value="None" />
      <xs:enumeration value="Optional" />
      <xs:enumeration value="Mandatory" />
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="CommentsRequired" nillable="true" type="tns:CommentsRequired" />
  <xs:simpleType name="AssignmentType">
    <xs:restriction base="xs:string">
      <xs:enumeration value="RoundRobin" />
      <xs:enumeration value="LeastQueueSize" />
      <xs:enumeration value="Queue" />
      <xs:enumeration value="BusinessRule" />
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="AssignmentType" nillable="true" type="tns:AssignmentType" />
</xs:schema>