DataGovernanceStore/Libraries/MDMLibrarySolution/ServiceManager/MDM.Services.InternalClient/Service References/InternalCommonServiceClient/InternalCommonService1220.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/MDM.BusinessObjects.DataModel" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/MDM.BusinessObjects.DataModel" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost/Development_WCFServices/InternalCommonService.svc?xsd=xsd3" namespace="http://mdmobjects.riversand.com/" />
  <xs:complexType name="DataModelOperationResult">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q1="http://mdmobjects.riversand.com/" base="q1:OperationResult">
        <xs:sequence>
          <xs:element minOccurs="0" name="DataModelObjectType" type="q1:ObjectType" />
          <xs:element minOccurs="0" name="ExternalId" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="LongName" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="DataModelOperationResult" nillable="true" type="tns:DataModelOperationResult" />
  <xs:complexType name="DataModelOperationResultCollection">
    <xs:sequence>
      <xs:element xmlns:q2="http://mdmobjects.riversand.com/" minOccurs="0" name="Errors" nillable="true" type="q2:ErrorCollection" />
      <xs:element xmlns:q3="http://mdmobjects.riversand.com/" minOccurs="0" name="Informations" nillable="true" type="q3:InformationCollection" />
      <xs:element xmlns:q4="http://mdmobjects.riversand.com/" minOccurs="0" name="OperationResultStatus" type="q4:OperationResultStatusEnum" />
      <xs:element xmlns:q5="http://mdmobjects.riversand.com/" minOccurs="0" name="Warnings" nillable="true" type="q5:WarningCollection" />
      <xs:element minOccurs="0" name="_dataModelOperationResultCollection" nillable="true" type="tns:ArrayOfDataModelOperationResult" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="DataModelOperationResultCollection" nillable="true" type="tns:DataModelOperationResultCollection" />
  <xs:complexType name="ArrayOfDataModelOperationResult">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="DataModelOperationResult" nillable="true" type="tns:DataModelOperationResult" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfDataModelOperationResult" nillable="true" type="tns:ArrayOfDataModelOperationResult" />
</xs:schema>