DataGovernanceStore/Libraries/MDMLibrarySolution/ServiceManager/MDM.Services.InternalClient/Service References/InternalCommonServiceClient/InternalCommonService1213.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://wcfservices.riversand.com" elementFormDefault="qualified" targetNamespace="http://wcfservices.riversand.com" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost/Development_WCFServices/InternalCommonService.svc?xsd=xsd2" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
  <xs:import schemaLocation="http://localhost/Development_WCFServices/InternalCommonService.svc?xsd=xsd3" namespace="http://mdmobjects.riversand.com/" />
  <xs:import schemaLocation="http://localhost/Development_WCFServices/InternalCommonService.svc?xsd=xsd4" namespace="http://schemas.datacontract.org/2004/07/MDM.BusinessObjects" />
  <xs:import schemaLocation="http://localhost/Development_WCFServices/InternalCommonService.svc?xsd=xsd10" namespace="http://schemas.datacontract.org/2004/07/MDM.BusinessObjects.Exports" />
  <xs:import schemaLocation="http://localhost/Development_WCFServices/InternalCommonService.svc?xsd=xsd11" namespace="http://schemas.datacontract.org/2004/07/MDM.BusinessObjects.MergeCopy" />
  <xs:import schemaLocation="http://localhost/Development_WCFServices/InternalCommonService.svc?xsd=xsd7" namespace="http://schemas.datacontract.org/2004/07/MDM.BusinessObjects.DataModel" />
  <xs:element name="GetEntitiesByIdsAndPagination">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="entityIdList" nillable="true" type="q1:ArrayOflong" />
        <xs:element xmlns:q2="http://mdmobjects.riversand.com/" minOccurs="0" name="entityContext" nillable="true" type="q2:EntityContext" />
        <xs:element xmlns:q3="http://mdmobjects.riversand.com/" minOccurs="0" name="pagingCriteria" nillable="true" type="q3:PagingCriteria" />
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/MDM.BusinessObjects" minOccurs="0" name="callerContext" nillable="true" type="q4:CallerContext" />
        <xs:element minOccurs="0" name="publishEvents" type="xs:boolean" />
        <xs:element minOccurs="0" name="applyAVS" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetEntitiesByIdsAndPaginationResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://mdmobjects.riversand.com/" minOccurs="0" name="GetEntitiesByIdsAndPaginationResult" nillable="true" type="q5:EntityPaginationResult" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetEntitiesByPagination">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://mdmobjects.riversand.com/" minOccurs="0" name="entityContext" nillable="true" type="q6:EntityContext" />
        <xs:element xmlns:q7="http://mdmobjects.riversand.com/" minOccurs="0" name="pagingCriteria" nillable="true" type="q7:PagingCriteria" />
        <xs:element xmlns:q8="http://schemas.datacontract.org/2004/07/MDM.BusinessObjects" minOccurs="0" name="callerContext" nillable="true" type="q8:CallerContext" />
        <xs:element minOccurs="0" name="publishEvents" type="xs:boolean" />
        <xs:element minOccurs="0" name="applyAVS" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetEntitiesByPaginationResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q9="http://mdmobjects.riversand.com/" minOccurs="0" name="GetEntitiesByPaginationResult" nillable="true" type="q9:EntityPaginationResult" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetEntitiesByEntityScopes">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q10="http://mdmobjects.riversand.com/" minOccurs="0" name="entityScopeCollection" nillable="true" type="q10:EntityScopeCollection" />
        <xs:element xmlns:q11="http://mdmobjects.riversand.com/" minOccurs="0" name="entityGetOptions" nillable="true" type="q11:EntityGetOptions" />
        <xs:element xmlns:q12="http://schemas.datacontract.org/2004/07/MDM.BusinessObjects" minOccurs="0" name="callerContext" nillable="true" type="q12:CallerContext" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetEntitiesByEntityScopesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q13="http://mdmobjects.riversand.com/" minOccurs="0" name="GetEntitiesByEntityScopesResult" nillable="true" type="q13:EntityReadResult" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CreateEntityHavingImageAttributes">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q14="http://mdmobjects.riversand.com/" minOccurs="0" name="entity" nillable="true" type="q14:Entity" />
        <xs:element xmlns:q15="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="imageDetails" nillable="true" type="q15:ArrayOfKeyValueOfKeyValuePairOfintLocaleEnum7cXCH591FilezQwsHphZ" />
        <xs:element minOccurs="0" name="programName" nillable="true" type="xs:string" />
        <xs:element xmlns:q16="http://mdmobjects.riversand.com/" minOccurs="0" name="application" type="q16:MDMCenterApplication" />
        <xs:element xmlns:q17="http://mdmobjects.riversand.com/" minOccurs="0" name="module" type="q17:MDMCenterModules" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CreateEntityHavingImageAttributesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q18="http://mdmobjects.riversand.com/" minOccurs="0" name="CreateEntityHavingImageAttributesResult" nillable="true" type="q18:EntityOperationResult" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateEntityHavingImageAttributes">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q19="http://mdmobjects.riversand.com/" minOccurs="0" name="entity" nillable="true" type="q19:Entity" />
        <xs:element xmlns:q20="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="imageDetails" nillable="true" type="q20:ArrayOfKeyValueOfKeyValuePairOfintLocaleEnum7cXCH591FilezQwsHphZ" />
        <xs:element minOccurs="0" name="programName" nillable="true" type="xs:string" />
        <xs:element xmlns:q21="http://mdmobjects.riversand.com/" minOccurs="0" name="application" type="q21:MDMCenterApplication" />
        <xs:element xmlns:q22="http://mdmobjects.riversand.com/" minOccurs="0" name="module" type="q22:MDMCenterModules" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateEntityHavingImageAttributesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q23="http://mdmobjects.riversand.com/" minOccurs="0" name="UpdateEntityHavingImageAttributesResult" nillable="true" type="q23:EntityOperationResult" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetEntityViewCompletionStatus">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="entityId" type="xs:long" />
        <xs:element minOccurs="0" name="userId" type="xs:int" />
        <xs:element minOccurs="0" name="entityViewXml" nillable="true" type="xs:string" />
        <xs:element xmlns:q24="http://mdmobjects.riversand.com/" minOccurs="0" name="entityContext" nillable="true" type="q24:EntityContext" />
        <xs:element minOccurs="0" name="isRecalculationRequired" type="xs:boolean" />
        <xs:element xmlns:q25="http://mdmobjects.riversand.com/" minOccurs="0" name="application" type="q25:MDMCenterApplication" />
        <xs:element xmlns:q26="http://mdmobjects.riversand.com/" minOccurs="0" name="module" type="q26:MDMCenterModules" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetEntityViewCompletionStatusResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q27="http://mdmobjects.riversand.com/" minOccurs="0" name="GetEntityViewCompletionStatusResult" nillable="true" type="q27:EntityViewCollection" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="IsEntityExists">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q28="http://mdmobjects.riversand.com/" minOccurs="0" name="entity" nillable="true" type="q28:Entity" />
        <xs:element minOccurs="0" name="entityId" type="xs:long" />
        <xs:element minOccurs="0" name="catalogId" type="xs:int" />
        <xs:element xmlns:q29="http://mdmobjects.riversand.com/" minOccurs="0" name="application" type="q29:MDMCenterApplication" />
        <xs:element xmlns:q30="http://mdmobjects.riversand.com/" minOccurs="0" name="module" type="q30:MDMCenterModules" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="IsEntityExistsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="IsEntityExistsResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SendEntityHistoryDetailsAsMail">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="entityId" type="xs:long" />
        <xs:element xmlns:q31="http://mdmobjects.riversand.com/" minOccurs="0" name="entityHistoryContext" nillable="true" type="q31:EntityHistoryContext" />
        <xs:element xmlns:q32="http://mdmobjects.riversand.com/" minOccurs="0" name="columnsToBeConsidered" nillable="true" type="q32:ColumnCollection" />
        <xs:element xmlns:q33="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="tomailAddress" nillable="true" type="q33:ArrayOfstring" />
        <xs:element minOccurs="0" name="mailSubject" nillable="true" type="xs:string" />
        <xs:element xmlns:q34="http://schemas.datacontract.org/2004/07/MDM.BusinessObjects" minOccurs="0" name="callerContext" nillable="true" type="q34:CallerContext" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SendEntityHistoryDetailsAsMailResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q35="http://mdmobjects.riversand.com/" minOccurs="0" name="SendEntityHistoryDetailsAsMailResult" nillable="true" type="q35:OperationResult" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ExportDataModelAsExcel">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q36="http://schemas.datacontract.org/2004/07/MDM.BusinessObjects.Exports" minOccurs="0" name="dataModelExportContext" nillable="true" type="q36:DataModelExportContext" />
        <xs:element xmlns:q37="http://schemas.datacontract.org/2004/07/MDM.BusinessObjects" minOccurs="0" name="callerContext" nillable="true" type="q37:CallerContext" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ExportDataModelAsExcelResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q38="http://mdmobjects.riversand.com/" minOccurs="0" name="ExportDataModelAsExcelResult" nillable="true" type="q38:File" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SearchCategories">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q39="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="containerNames" nillable="true" type="q39:ArrayOfstring" />
        <xs:element xmlns:q40="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="categoryLongNames" nillable="true" type="q40:ArrayOfstring" />
        <xs:element xmlns:q41="http://mdmobjects.riversand.com/" minOccurs="0" name="dataLocales" nillable="true" type="q41:ArrayOfLocaleEnum" />
        <xs:element xmlns:q42="http://schemas.datacontract.org/2004/07/MDM.BusinessObjects" minOccurs="0" name="callerContext" nillable="true" type="q42:CallerContext" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SearchCategoriesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q43="http://mdmobjects.riversand.com/" minOccurs="0" name="SearchCategoriesResult" nillable="true" type="q43:CategoryCollection" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ReclassifyLegacy">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="dataXml" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="userLogin" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="isCategoryReclassify" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ReclassifyLegacyResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q44="http://mdmobjects.riversand.com/" minOccurs="0" name="ReclassifyLegacyResult" nillable="true" type="q44:Table" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="IsEntityHierarchyMatrixLatest">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="entityid" type="xs:long" />
        <xs:element minOccurs="0" name="entityHierarchyDefinitionId" type="xs:int" />
        <xs:element xmlns:q45="http://schemas.datacontract.org/2004/07/MDM.BusinessObjects" minOccurs="0" name="callerContext" nillable="true" type="q45:CallerContext" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="IsEntityHierarchyMatrixLatestResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="IsEntityHierarchyMatrixLatestResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetEntityVariantLevels">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="entityId" type="xs:long" />
        <xs:element xmlns:q46="http://schemas.datacontract.org/2004/07/MDM.BusinessObjects" minOccurs="0" name="callerContext" nillable="true" type="q46:CallerContext" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetEntityVariantLevelsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q47="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="GetEntityVariantLevelsResult" nillable="true" type="q47:ArrayOfKeyValueOfintEntityType7cXCH591" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetComplexAttributeVersions">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="entityId" type="xs:long" />
        <xs:element minOccurs="0" name="entityParentId" type="xs:long" />
        <xs:element minOccurs="0" name="attributeId" type="xs:int" />
        <xs:element minOccurs="0" name="catalogId" type="xs:int" />
        <xs:element xmlns:q48="http://mdmobjects.riversand.com/" minOccurs="0" name="locales" nillable="true" type="q48:ArrayOfLocaleEnum" />
        <xs:element minOccurs="0" name="sequence" type="xs:int" />
        <xs:element xmlns:q49="http://schemas.datacontract.org/2004/07/MDM.BusinessObjects" minOccurs="0" name="callerContext" nillable="true" type="q49:CallerContext" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetComplexAttributeVersionsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q50="http://mdmobjects.riversand.com/" minOccurs="0" name="GetComplexAttributeVersionsResult" nillable="true" type="q50:AttributeVersionCollection" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetComplexDataByAuditRefId">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="entityId" type="xs:long" />
        <xs:element minOccurs="0" name="containerId" type="xs:int" />
        <xs:element minOccurs="0" name="attributeId" type="xs:int" />
        <xs:element minOccurs="0" name="auditRefId" type="xs:long" />
        <xs:element xmlns:q51="http://mdmobjects.riversand.com/" minOccurs="0" name="locale" type="q51:LocaleEnum" />
        <xs:element xmlns:q52="http://schemas.datacontract.org/2004/07/MDM.BusinessObjects" minOccurs="0" name="callerContext" nillable="true" type="q52:CallerContext" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetComplexDataByAuditRefIdResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q53="http://mdmobjects.riversand.com/" minOccurs="0" name="GetComplexDataByAuditRefIdResult" nillable="true" type="q53:Attribute" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetHierarchicalAttributeByAuditRefId">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="entityId" type="xs:long" />
        <xs:element minOccurs="0" name="containerId" type="xs:int" />
        <xs:element minOccurs="0" name="attributeId" type="xs:int" />
        <xs:element minOccurs="0" name="auditRefId" type="xs:long" />
        <xs:element xmlns:q54="http://mdmobjects.riversand.com/" minOccurs="0" name="locale" type="q54:LocaleEnum" />
        <xs:element xmlns:q55="http://schemas.datacontract.org/2004/07/MDM.BusinessObjects" minOccurs="0" name="callerContext" nillable="true" type="q55:CallerContext" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetHierarchicalAttributeByAuditRefIdResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q56="http://mdmobjects.riversand.com/" minOccurs="0" name="GetHierarchicalAttributeByAuditRefIdResult" nillable="true" type="q56:Attribute" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetImportTemplateFileByImportProfileName">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="importProfileName" nillable="true" type="xs:string" />
        <xs:element xmlns:q57="http://schemas.datacontract.org/2004/07/MDM.BusinessObjects" minOccurs="0" name="callerContext" nillable="true" type="q57:CallerContext" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetImportTemplateFileByImportProfileNameResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q58="http://mdmobjects.riversand.com/" minOccurs="0" name="GetImportTemplateFileByImportProfileNameResult" nillable="true" type="q58:File" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetQueuedEntities">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q59="http://mdmobjects.riversand.com/" minOccurs="0" name="entityActivity" type="q59:EntityActivityList" />
        <xs:element minOccurs="0" name="entityActivityLogId" type="xs:long" />
        <xs:element xmlns:q60="http://schemas.datacontract.org/2004/07/MDM.BusinessObjects" minOccurs="0" name="callerContext" nillable="true" type="q60:CallerContext" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetQueuedEntitiesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q61="http://mdmobjects.riversand.com/" minOccurs="0" name="GetQueuedEntitiesResult" nillable="true" type="q61:QueuedEntityCollection" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetEntityDeltaJson">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="sourceEntityId" type="xs:long" />
        <xs:element minOccurs="0" name="targetCatalogId" type="xs:long" />
        <xs:element minOccurs="0" name="targetCategoryId" type="xs:long" />
        <xs:element xmlns:q62="http://schemas.datacontract.org/2004/07/MDM.BusinessObjects.MergeCopy" minOccurs="0" name="mergeCopyContext" nillable="true" type="q62:MergeCopyContext.Context" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetEntityDeltaJsonResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetEntityDeltaJsonResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CopyPasteHierarchy">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q63="http://mdmobjects.riversand.com/" minOccurs="0" name="heirarchyCopyPasteContext" nillable="true" type="q63:HierarchyCopyPasteContext" />
        <xs:element xmlns:q64="http://schemas.datacontract.org/2004/07/MDM.BusinessObjects" minOccurs="0" name="callerContext" nillable="true" type="q64:CallerContext" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CopyPasteHierarchyResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q65="http://schemas.datacontract.org/2004/07/MDM.BusinessObjects.DataModel" minOccurs="0" name="CopyPasteHierarchyResult" nillable="true" type="q65:DataModelOperationResultCollection" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetMDMEventInformation">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q66="http://schemas.datacontract.org/2004/07/MDM.BusinessObjects" minOccurs="0" name="callerContext" nillable="true" type="q66:CallerContext" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetMDMEventInformationResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q67="http://mdmobjects.riversand.com/" minOccurs="0" name="GetMDMEventInformationResult" nillable="true" type="q67:MDMEventInfoCollection" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetMDMEventHandlers">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q68="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="eventHandlerIdList" nillable="true" type="q68:ArrayOfint" />
        <xs:element xmlns:q69="http://schemas.datacontract.org/2004/07/MDM.BusinessObjects" minOccurs="0" name="callerContext" nillable="true" type="q69:CallerContext" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetMDMEventHandlersResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q70="http://mdmobjects.riversand.com/" minOccurs="0" name="GetMDMEventHandlersResult" nillable="true" type="q70:MDMEventHandlerCollection" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ProcessMDMEventHandlers">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q71="http://mdmobjects.riversand.com/" minOccurs="0" name="mdmEventHandlerCollection" nillable="true" type="q71:MDMEventHandlerCollection" />
        <xs:element xmlns:q72="http://schemas.datacontract.org/2004/07/MDM.BusinessObjects" minOccurs="0" name="callerContext" nillable="true" type="q72:CallerContext" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ProcessMDMEventHandlersResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q73="http://mdmobjects.riversand.com/" minOccurs="0" name="ProcessMDMEventHandlersResult" nillable="true" type="q73:OperationResultCollection" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetContainerRelationshipTypeEntityTypeMappings">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q74="http://mdmobjects.riversand.com/" minOccurs="0" name="entityModelContext" nillable="true" type="q74:EntityModelContext" />
        <xs:element xmlns:q75="http://schemas.datacontract.org/2004/07/MDM.BusinessObjects" minOccurs="0" name="callerContext" nillable="true" type="q75:CallerContext" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetContainerRelationshipTypeEntityTypeMappingsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q76="http://mdmobjects.riversand.com/" minOccurs="0" name="GetContainerRelationshipTypeEntityTypeMappingsResult" nillable="true" type="q76:ContainerRelationshipTypeEntityTypeMappingCollection" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ValidateMDMRule">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q77="http://mdmobjects.riversand.com/" minOccurs="0" name="rule" nillable="true" type="q77:MDMRule" />
        <xs:element xmlns:q78="http://schemas.datacontract.org/2004/07/MDM.BusinessObjects" minOccurs="0" name="callerContext" nillable="true" type="q78:CallerContext" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ValidateMDMRuleResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q79="http://mdmobjects.riversand.com/" minOccurs="0" name="ValidateMDMRuleResult" nillable="true" type="q79:BusinessRuleOperationResult" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EvaluateMDMRules">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q80="http://mdmobjects.riversand.com/" minOccurs="0" name="ruleParams" nillable="true" type="q80:MDMRuleParams" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EvaluateMDMRulesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q81="http://mdmobjects.riversand.com/" minOccurs="0" name="ruleParams" nillable="true" type="q81:MDMRuleParams" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetMDMRules">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q82="http://schemas.datacontract.org/2004/07/MDM.BusinessObjects" minOccurs="0" name="callerContext" nillable="true" type="q82:CallerContext" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetMDMRulesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q83="http://mdmobjects.riversand.com/" minOccurs="0" name="GetMDMRulesResult" nillable="true" type="q83:MDMRuleCollection" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ProcessMDMRules">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q84="http://mdmobjects.riversand.com/" minOccurs="0" name="mdmRules" nillable="true" type="q84:MDMRuleCollection" />
        <xs:element xmlns:q85="http://schemas.datacontract.org/2004/07/MDM.BusinessObjects" minOccurs="0" name="callerContext" nillable="true" type="q85:CallerContext" />
        <xs:element minOccurs="0" name="processOnlyRules" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ProcessMDMRulesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q86="http://mdmobjects.riversand.com/" minOccurs="0" name="ProcessMDMRulesResult" nillable="true" type="q86:BusinessRuleOperationResultCollection" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAttributeModelsByContext">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q87="http://mdmobjects.riversand.com/" minOccurs="0" name="ruleModelContext" nillable="true" type="q87:MDMRuleAttributeModelContext" />
        <xs:element xmlns:q88="http://schemas.datacontract.org/2004/07/MDM.BusinessObjects" minOccurs="0" name="callerContext" nillable="true" type="q88:CallerContext" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAttributeModelsByContextResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q89="http://mdmobjects.riversand.com/" minOccurs="0" name="GetAttributeModelsByContextResult" nillable="true" type="q89:AttributeModelCollection" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetMDMRuleKeywordGroups">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q90="http://schemas.datacontract.org/2004/07/MDM.BusinessObjects" minOccurs="0" name="callerContext" nillable="true" type="q90:CallerContext" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetMDMRuleKeywordGroupsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q91="http://mdmobjects.riversand.com/" minOccurs="0" name="GetMDMRuleKeywordGroupsResult" nillable="true" type="q91:MDMRuleKeywordGroupCollection" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetMDMRuleKeywords">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q92="http://schemas.datacontract.org/2004/07/MDM.BusinessObjects" minOccurs="0" name="callerContext" nillable="true" type="q92:CallerContext" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetMDMRuleKeywordsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q93="http://mdmobjects.riversand.com/" minOccurs="0" name="GetMDMRuleKeywordsResult" nillable="true" type="q93:MDMRuleKeywordCollection" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetMDMRuleKeywordsByKeywordGroupId">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="mdmRuleKeywordGroupId" type="xs:int" />
        <xs:element xmlns:q94="http://schemas.datacontract.org/2004/07/MDM.BusinessObjects" minOccurs="0" name="callerContext" nillable="true" type="q94:CallerContext" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetMDMRuleKeywordsByKeywordGroupIdResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q95="http://mdmobjects.riversand.com/" minOccurs="0" name="GetMDMRuleKeywordsByKeywordGroupIdResult" nillable="true" type="q95:MDMRuleKeywordCollection" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetMDMRuleContext">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q96="http://mdmobjects.riversand.com/" minOccurs="0" name="mdmRule" nillable="true" type="q96:MDMRule" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetMDMRuleContextResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q97="http://mdmobjects.riversand.com/" minOccurs="0" name="GetMDMRuleContextResult" nillable="true" type="q97:MDMRuleContext" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetMDMRuleMaps">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q98="http://schemas.datacontract.org/2004/07/MDM.BusinessObjects" minOccurs="0" name="callerContext" nillable="true" type="q98:CallerContext" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetMDMRuleMapsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q99="http://mdmobjects.riversand.com/" minOccurs="0" name="GetMDMRuleMapsResult" nillable="true" type="q99:MDMRuleMapCollection" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetMDMRulesByContext">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q100="http://mdmobjects.riversand.com/" minOccurs="0" name="contextFilter" nillable="true" type="q100:MDMRuleContextFilter" />
        <xs:element xmlns:q101="http://schemas.datacontract.org/2004/07/MDM.BusinessObjects" minOccurs="0" name="callerContext" nillable="true" type="q101:CallerContext" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetMDMRulesByContextResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q102="http://mdmobjects.riversand.com/" minOccurs="0" name="GetMDMRulesByContextResult" nillable="true" type="q102:MDMRuleCollection" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ProcessMDMRuleMaps">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q103="http://mdmobjects.riversand.com/" minOccurs="0" name="mdmRuleMaps" nillable="true" type="q103:MDMRuleMapCollection" />
        <xs:element xmlns:q104="http://schemas.datacontract.org/2004/07/MDM.BusinessObjects" minOccurs="0" name="callerContext" nillable="true" type="q104:CallerContext" />
        <xs:element minOccurs="0" name="processApplicationContext" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ProcessMDMRuleMapsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q105="http://mdmobjects.riversand.com/" minOccurs="0" name="ProcessMDMRuleMapsResult" nillable="true" type="q105:BusinessRuleOperationResultCollection" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetMDMRuleMapsByContext">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q106="http://mdmobjects.riversand.com/" minOccurs="0" name="contextFilter" nillable="true" type="q106:MDMRuleMapContextFilter" />
        <xs:element xmlns:q107="http://schemas.datacontract.org/2004/07/MDM.BusinessObjects" minOccurs="0" name="callerContext" nillable="true" type="q107:CallerContext" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetMDMRuleMapsByContextResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q108="http://mdmobjects.riversand.com/" minOccurs="0" name="GetMDMRuleMapsByContextResult" nillable="true" type="q108:MDMRuleMapCollection" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDDGLocaleMessagesByMessageCodesAndLocale">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q109="http://mdmobjects.riversand.com/" minOccurs="0" name="locale" type="q109:LocaleEnum" />
        <xs:element xmlns:q110="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="messageCodes" nillable="true" type="q110:ArrayOfstring" />
        <xs:element xmlns:q111="http://schemas.datacontract.org/2004/07/MDM.BusinessObjects" minOccurs="0" name="callerContext" nillable="true" type="q111:CallerContext" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDDGLocaleMessagesByMessageCodesAndLocaleResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q112="http://mdmobjects.riversand.com/" minOccurs="0" name="GetDDGLocaleMessagesByMessageCodesAndLocaleResult" nillable="true" type="q112:LocaleMessageCollection" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDDGLocaleMessages">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q113="http://schemas.datacontract.org/2004/07/MDM.BusinessObjects" minOccurs="0" name="callerContext" nillable="true" type="q113:CallerContext" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDDGLocaleMessagesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q114="http://mdmobjects.riversand.com/" minOccurs="0" name="GetDDGLocaleMessagesResult" nillable="true" type="q114:LocaleMessageCollection" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ProcessDDGLocaleMessages">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q115="http://mdmobjects.riversand.com/" minOccurs="0" name="localeMessages" nillable="true" type="q115:LocaleMessageCollection" />
        <xs:element xmlns:q116="http://schemas.datacontract.org/2004/07/MDM.BusinessObjects" minOccurs="0" name="callerContext" nillable="true" type="q116:CallerContext" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ProcessDDGLocaleMessagesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q117="http://mdmobjects.riversand.com/" minOccurs="0" name="ProcessDDGLocaleMessagesResult" nillable="true" type="q117:BusinessRuleOperationResultCollection" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ExportRulesAndRuleMapsAsExcel">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q118="http://schemas.datacontract.org/2004/07/MDM.BusinessObjects" minOccurs="0" name="callerContext" nillable="true" type="q118:CallerContext" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ExportRulesAndRuleMapsAsExcelResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q119="http://mdmobjects.riversand.com/" minOccurs="0" name="ExportRulesAndRuleMapsAsExcelResult" nillable="true" type="q119:File" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EnqueueForPromote">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q120="http://mdmobjects.riversand.com/" minOccurs="0" name="entityFamilyQueueCollection" nillable="true" type="q120:EntityFamilyQueueCollection" />
        <xs:element xmlns:q121="http://schemas.datacontract.org/2004/07/MDM.BusinessObjects" minOccurs="0" name="callerContext" nillable="true" type="q121:CallerContext" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EnqueueForPromoteResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q122="http://mdmobjects.riversand.com/" minOccurs="0" name="EnqueueForPromoteResult" nillable="true" type="q122:OperationResultCollection" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetEntitiesStateValidation">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q123="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="entityIds" nillable="true" type="q123:ArrayOflong" />
        <xs:element minOccurs="0" name="needGlobalFamilyErrors" type="xs:boolean" />
        <xs:element minOccurs="0" name="needVariantFamilyErrors" type="xs:boolean" />
        <xs:element xmlns:q124="http://schemas.datacontract.org/2004/07/MDM.BusinessObjects" minOccurs="0" name="callerContext" nillable="true" type="q124:CallerContext" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetEntitiesStateValidationResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q125="http://mdmobjects.riversand.com/" minOccurs="0" name="GetEntitiesStateValidationResult" nillable="true" type="q125:EntityStateValidationCollection" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EnqueueForRevalidate">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q126="http://mdmobjects.riversand.com/" minOccurs="0" name="entityFamilyQueue" nillable="true" type="q126:EntityFamilyQueue" />
        <xs:element xmlns:q127="http://schemas.datacontract.org/2004/07/MDM.BusinessObjects" minOccurs="0" name="callerContext" nillable="true" type="q127:CallerContext" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EnqueueForRevalidateResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q128="http://mdmobjects.riversand.com/" minOccurs="0" name="EnqueueForRevalidateResult" nillable="true" type="q128:OperationResult" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetEntityBusinessConditions">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q129="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="entityIds" nillable="true" type="q129:ArrayOflong" />
        <xs:element xmlns:q130="http://schemas.datacontract.org/2004/07/MDM.BusinessObjects" minOccurs="0" name="callerContext" nillable="true" type="q130:CallerContext" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetEntityBusinessConditionsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q131="http://mdmobjects.riversand.com/" minOccurs="0" name="GetEntityBusinessConditionsResult" nillable="true" type="q131:EntityBusinessConditionCollection" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetEntityScores">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q132="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="entityIds" nillable="true" type="q132:ArrayOflong" />
        <xs:element xmlns:q133="http://schemas.datacontract.org/2004/07/MDM.BusinessObjects" minOccurs="0" name="callerContext" nillable="true" type="q133:CallerContext" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetEntityScoresResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q134="http://mdmobjects.riversand.com/" minOccurs="0" name="GetEntityScoresResult" nillable="true" type="q134:EntityStateValidationScoreCollection" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetEntityActivityLogs">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q135="http://mdmobjects.riversand.com/" minOccurs="0" name="entityActivityList" type="q135:EntityActivityList" />
        <xs:element xmlns:q136="http://mdmobjects.riversand.com/" minOccurs="0" name="processingStatus" type="q136:ProcessingStatus" />
        <xs:element minOccurs="0" name="fromRecordNumber" type="xs:long" />
        <xs:element minOccurs="0" name="toRecordNumber" type="xs:long" />
        <xs:element xmlns:q137="http://schemas.datacontract.org/2004/07/MDM.BusinessObjects" minOccurs="0" name="callerContext" nillable="true" type="q137:CallerContext" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetEntityActivityLogsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q138="http://mdmobjects.riversand.com/" minOccurs="0" name="GetEntityActivityLogsResult" nillable="true" type="q138:EntityActivityLogCollection" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetMappedAttributeModelsByContainers">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q139="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="containerIdList" nillable="true" type="q139:ArrayOfint" />
        <xs:element xmlns:q140="http://schemas.datacontract.org/2004/07/MDM.BusinessObjects" minOccurs="0" name="callerContext" nillable="true" type="q140:CallerContext" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetMappedAttributeModelsByContainersResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q141="http://mdmobjects.riversand.com/" minOccurs="0" name="GetMappedAttributeModelsByContainersResult" nillable="true" type="q141:AttributeModelCollection" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ProcessManualMerge">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q142="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="sourceEntityIds" nillable="true" type="q142:ArrayOflong" />
        <xs:element xmlns:q143="http://mdmobjects.riversand.com/" minOccurs="0" name="mergedTargetEntity" nillable="true" type="q143:Entity" />
        <xs:element xmlns:q144="http://mdmobjects.riversand.com/" minOccurs="0" name="entityProcessingOptions" nillable="true" type="q144:EntityProcessingOptions" />
        <xs:element xmlns:q145="http://schemas.datacontract.org/2004/07/MDM.BusinessObjects" minOccurs="0" name="callerContext" nillable="true" type="q145:CallerContext" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ProcessManualMergeResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q146="http://mdmobjects.riversand.com/" minOccurs="0" name="ProcessManualMergeResult" nillable="true" type="q146:EntityOperationResult" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="PerformBulkWorkflowOperation">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q147="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="entityIdList" nillable="true" type="q147:ArrayOflong" />
        <xs:element minOccurs="0" name="activityLongName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="workflowAction" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="comments" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="operationType" nillable="true" type="xs:string" />
        <xs:element xmlns:q148="http://mdmobjects.riversand.com/" minOccurs="0" name="newlyAssignedUser" nillable="true" type="q148:SecurityUser" />
        <xs:element xmlns:q149="http://schemas.datacontract.org/2004/07/MDM.BusinessObjects" minOccurs="0" name="callerContext" nillable="true" type="q149:CallerContext" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="PerformBulkWorkflowOperationResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q150="http://mdmobjects.riversand.com/" minOccurs="0" name="PerformBulkWorkflowOperationResult" nillable="true" type="q150:EntityOperationResultCollection" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>