DataGovernanceStore/Libraries/MDMLibrarySolution/ServiceManager/MDM.Services.Client/Service References/EntityExportServiceClient/EntityExportService41.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://wcfservices.riversand.com" elementFormDefault="qualified" targetNamespace="http://wcfservices.riversand.com" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost/MainLine_WCFServices/EntityExportService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/MDM.BusinessObjects.Exports" />
  <xs:import schemaLocation="http://localhost/MainLine_WCFServices/EntityExportService.svc?xsd=xsd3" namespace="http://mdmobjects.riversand.com/" />
  <xs:element name="CreateEntityExportProfile">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/MDM.BusinessObjects.Exports" minOccurs="0" name="entityExportProfile" nillable="true" type="q1:EntityExportProfile" />
        <xs:element xmlns:q2="http://mdmobjects.riversand.com/" minOccurs="0" name="iCallerContext" nillable="true" type="q2:CallerContext" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CreateEntityExportProfileResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://mdmobjects.riversand.com/" minOccurs="0" name="CreateEntityExportProfileResult" nillable="true" type="q3:OperationResult" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteEntityExportProfile">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/MDM.BusinessObjects.Exports" minOccurs="0" name="entityExportProfile" nillable="true" type="q4:EntityExportProfile" />
        <xs:element xmlns:q5="http://mdmobjects.riversand.com/" minOccurs="0" name="iCallerContext" nillable="true" type="q5:CallerContext" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteEntityExportProfileResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://mdmobjects.riversand.com/" minOccurs="0" name="DeleteEntityExportProfileResult" nillable="true" type="q6:OperationResult" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateEntityExportProfile">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/MDM.BusinessObjects.Exports" minOccurs="0" name="entityExportProfile" nillable="true" type="q7:EntityExportProfile" />
        <xs:element xmlns:q8="http://mdmobjects.riversand.com/" minOccurs="0" name="iCallerContext" nillable="true" type="q8:CallerContext" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateEntityExportProfileResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q9="http://mdmobjects.riversand.com/" minOccurs="0" name="UpdateEntityExportProfileResult" nillable="true" type="q9:OperationResult" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetEntityExportProfileById">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="profileId" type="xs:int" />
        <xs:element xmlns:q10="http://mdmobjects.riversand.com/" minOccurs="0" name="callerContext" nillable="true" type="q10:CallerContext" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetEntityExportProfileByIdResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q11="http://schemas.datacontract.org/2004/07/MDM.BusinessObjects.Exports" minOccurs="0" name="GetEntityExportProfileByIdResult" nillable="true" type="q11:EntityExportProfile" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetEntityExportProfileByName">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="profileName" nillable="true" type="xs:string" />
        <xs:element xmlns:q12="http://mdmobjects.riversand.com/" minOccurs="0" name="callerContext" nillable="true" type="q12:CallerContext" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetEntityExportProfileByNameResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q13="http://schemas.datacontract.org/2004/07/MDM.BusinessObjects.Exports" minOccurs="0" name="GetEntityExportProfileByNameResult" nillable="true" type="q13:EntityExportProfile" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetEntityExportProfilesByType">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q14="http://mdmobjects.riversand.com/" minOccurs="0" name="profileType" type="q14:ExportProfileType" />
        <xs:element xmlns:q15="http://mdmobjects.riversand.com/" minOccurs="0" name="callerContext" nillable="true" type="q15:CallerContext" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetEntityExportProfilesByTypeResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q16="http://schemas.datacontract.org/2004/07/MDM.BusinessObjects.Exports" minOccurs="0" name="GetEntityExportProfilesByTypeResult" nillable="true" type="q16:EntityExportProfileCollection" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllEntityExportProfiles">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q17="http://mdmobjects.riversand.com/" minOccurs="0" name="callerContext" nillable="true" type="q17:CallerContext" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllEntityExportProfilesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q18="http://schemas.datacontract.org/2004/07/MDM.BusinessObjects.Exports" minOccurs="0" name="GetAllEntityExportProfilesResult" nillable="true" type="q18:EntityExportProfileCollection" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ExportToExcel">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q19="http://schemas.datacontract.org/2004/07/MDM.BusinessObjects.Exports" minOccurs="0" name="exportContext" nillable="true" type="q19:ExportContext" />
        <xs:element xmlns:q20="http://mdmobjects.riversand.com/" minOccurs="0" name="callerContext" nillable="true" type="q20:CallerContext" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ExportToExcelResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q21="http://mdmobjects.riversand.com/" minOccurs="0" name="ExportToExcelResult" nillable="true" type="q21:File" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>