DataGovernanceStore/Libraries/MDMLibrarySolution/ServiceManager/MDM.Services.Client/Service References/EntityExportServiceClient/EntityExportService26.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/MDM.BusinessObjects.Exports" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/MDM.BusinessObjects.Exports" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost/Development_WCFServices/EntityExportService.svc?xsd=xsd3" namespace="http://mdmobjects.riversand.com/" />
  <xs:import schemaLocation="http://localhost/Development_WCFServices/EntityExportService.svc?xsd=xsd4" namespace="http://schemas.datacontract.org/2004/07/MDM.Core" />
  <xs:import schemaLocation="http://localhost/Development_WCFServices/EntityExportService.svc?xsd=xsd5" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
  <xs:complexType name="EntityExportProfile">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:ExportProfile">
        <xs:sequence>
          <xs:element minOccurs="0" name="DataObject" nillable="true" type="tns:EntityExportProfileData" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="EntityExportProfile" nillable="true" type="tns:EntityExportProfile" />
  <xs:complexType name="ExportProfile">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q1="http://mdmobjects.riversand.com/" base="q1:BaseProfile">
        <xs:sequence>
          <xs:element minOccurs="0" name="ApplicationConfigId" type="xs:long" />
          <xs:element minOccurs="0" name="CreateUser" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="IsPublicProfile" type="xs:boolean" />
          <xs:element minOccurs="0" name="IsSystemProfile" type="xs:boolean" />
          <xs:element minOccurs="0" name="LegacyProfileId" type="xs:int" />
          <xs:element minOccurs="0" name="ProfileData" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="ProfileType" type="q1:ExportProfileType" />
          <xs:element minOccurs="0" name="TemplateId" type="xs:int" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="ExportProfile" nillable="true" type="tns:ExportProfile" />
  <xs:complexType name="EntityExportSyndicationProfileData">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:EntityExportProfileData">
        <xs:sequence>
          <xs:element minOccurs="0" name="ExecutionSpecification" nillable="true" type="tns:ExecutionSpecification" />
          <xs:element minOccurs="0" name="Notification" nillable="true" type="tns:Notification" />
          <xs:element minOccurs="0" name="OutputSpecification" nillable="true" type="tns:OutputSpecification" />
          <xs:element minOccurs="0" name="ProfileSettings" nillable="true" type="tns:ProfileSettingCollection" />
          <xs:element minOccurs="0" name="RuleSetId" type="xs:int" />
          <xs:element minOccurs="0" name="ScopeSpecification" nillable="true" type="tns:ScopeSpecification" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="EntityExportSyndicationProfileData" nillable="true" type="tns:EntityExportSyndicationProfileData" />
  <xs:complexType name="EntityExportProfileData">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q2="http://mdmobjects.riversand.com/" base="q2:MDMObject">
        <xs:sequence />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="EntityExportProfileData" nillable="true" type="tns:EntityExportProfileData" />
  <xs:complexType name="ProfileSettingCollection">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q3="http://schemas.datacontract.org/2004/07/MDM.Core" base="q3:InterfaceContractCollectionOfanyTypeProfileSettingkIZLKYdt">
        <xs:sequence />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="ProfileSettingCollection" nillable="true" type="tns:ProfileSettingCollection" />
  <xs:complexType name="ArrayOfProfileSetting">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ProfileSetting" nillable="true" type="tns:ProfileSetting" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfProfileSetting" nillable="true" type="tns:ArrayOfProfileSetting" />
  <xs:complexType name="ProfileSetting">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q4="http://mdmobjects.riversand.com/" base="q4:ObjectBase">
        <xs:sequence>
          <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="Value" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="ProfileSetting" nillable="true" type="tns:ProfileSetting" />
  <xs:complexType name="Notification">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q5="http://mdmobjects.riversand.com/" base="q5:MDMObject">
        <xs:sequence>
          <xs:element minOccurs="0" name="EmailNotifications" nillable="true" type="tns:EmailNotificationCollection" />
          <xs:element minOccurs="0" name="NotificationSettings" nillable="true" type="tns:NotificationSettingCollection" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="Notification" nillable="true" type="tns:Notification" />
  <xs:complexType name="EmailNotificationCollection">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q6="http://schemas.datacontract.org/2004/07/MDM.Core" base="q6:InterfaceContractCollectionOfanyTypeEmailNotificationkIZLKYdt">
        <xs:sequence />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="EmailNotificationCollection" nillable="true" type="tns:EmailNotificationCollection" />
  <xs:complexType name="ArrayOfEmailNotification">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="EmailNotification" nillable="true" type="tns:EmailNotification" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfEmailNotification" nillable="true" type="tns:ArrayOfEmailNotification" />
  <xs:complexType name="EmailNotification">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q7="http://mdmobjects.riversand.com/" base="q7:MDMObject">
        <xs:sequence>
          <xs:element minOccurs="0" name="Action" type="q7:ExportJobStatus" />
          <xs:element xmlns:q8="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="Emails" nillable="true" type="q8:ArrayOfstring" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="EmailNotification" nillable="true" type="tns:EmailNotification" />
  <xs:complexType name="NotificationSettingCollection">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q9="http://schemas.datacontract.org/2004/07/MDM.Core" base="q9:InterfaceContractCollectionOfanyTypeNotificationSettingkIZLKYdt">
        <xs:sequence />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="NotificationSettingCollection" nillable="true" type="tns:NotificationSettingCollection" />
  <xs:complexType name="ArrayOfNotificationSetting">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="NotificationSetting" nillable="true" type="tns:NotificationSetting" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfNotificationSetting" nillable="true" type="tns:ArrayOfNotificationSetting" />
  <xs:complexType name="NotificationSetting">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q10="http://mdmobjects.riversand.com/" base="q10:ObjectBase">
        <xs:sequence>
          <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="Value" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="NotificationSetting" nillable="true" type="tns:NotificationSetting" />
  <xs:complexType name="ScopeSpecification">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q11="http://mdmobjects.riversand.com/" base="q11:MDMObject">
        <xs:sequence>
          <xs:element minOccurs="0" name="ContentSettings" nillable="true" type="tns:ExportSettingCollection" />
          <xs:element minOccurs="0" name="EntityTypeMode" type="q11:EntityTypeMode" />
          <xs:element minOccurs="0" name="ExportScopes" nillable="true" type="tns:ExportScopeCollection" />
          <xs:element minOccurs="0" name="MDMObjectGroups" nillable="true" type="tns:MDMObjectGroupCollection" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="ScopeSpecification" nillable="true" type="tns:ScopeSpecification" />
  <xs:complexType name="ExportSettingCollection">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q12="http://schemas.datacontract.org/2004/07/MDM.Core" base="q12:InterfaceContractCollectionOfanyTypeExportSettingkIZLKYdt">
        <xs:sequence>
          <xs:element minOccurs="0" name="_exportSettingName" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="ExportSettingCollection" nillable="true" type="tns:ExportSettingCollection" />
  <xs:complexType name="ArrayOfExportSetting">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ExportSetting" nillable="true" type="tns:ExportSetting" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfExportSetting" nillable="true" type="tns:ArrayOfExportSetting" />
  <xs:complexType name="ExportSetting">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q13="http://mdmobjects.riversand.com/" base="q13:ObjectBase">
        <xs:sequence>
          <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="Value" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="_exportSettingName" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="ExportSetting" nillable="true" type="tns:ExportSetting" />
  <xs:complexType name="ExportScopeCollection">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q14="http://schemas.datacontract.org/2004/07/MDM.Core" base="q14:InterfaceContractCollectionOfanyTypeExportScopekIZLKYdt">
        <xs:sequence />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="ExportScopeCollection" nillable="true" type="tns:ExportScopeCollection" />
  <xs:complexType name="ArrayOfExportScope">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ExportScope" nillable="true" type="tns:ExportScope" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfExportScope" nillable="true" type="tns:ArrayOfExportScope" />
  <xs:complexType name="ExportScope">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q15="http://mdmobjects.riversand.com/" base="q15:MDMObject">
        <xs:sequence>
          <xs:element minOccurs="0" name="CategoryGroup" nillable="true" type="tns:CategoryGroup" />
          <xs:element minOccurs="0" name="ExportScopes" nillable="true" type="tns:ExportScopeCollection" />
          <xs:element minOccurs="0" name="Include" type="xs:boolean" />
          <xs:element minOccurs="0" name="IsRecursive" type="xs:boolean" />
          <xs:element minOccurs="0" name="MDMRuleGroup" nillable="true" type="q15:SearchMDMRuleRuleGroup" />
          <xs:element minOccurs="0" name="ObjectId" type="xs:long" />
          <xs:element minOccurs="0" name="ObjectName" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="ObjectType" type="q15:ObjectType" />
          <xs:element minOccurs="0" name="ObjectUniqueIdentifier" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="SearchAttributeRuleGroups" nillable="true" type="q15:SearchAttributeRuleGroupCollection" />
          <xs:element minOccurs="0" name="SearchValidationStatesRuleGroup" nillable="true" type="q15:SearchValidationStatesRuleGroup" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="ExportScope" nillable="true" type="tns:ExportScope" />
  <xs:complexType name="CategoryGroup">
    <xs:sequence>
      <xs:element xmlns:q16="http://mdmobjects.riversand.com/" minOccurs="0" name="Categories" nillable="true" type="q16:CategoryCollection" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="CategoryGroup" nillable="true" type="tns:CategoryGroup" />
  <xs:complexType name="MDMObjectGroupCollection">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q17="http://schemas.datacontract.org/2004/07/MDM.Core" base="q17:InterfaceContractCollectionOfanyTypeMDMObjectGroupkIZLKYdt">
        <xs:sequence />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="MDMObjectGroupCollection" nillable="true" type="tns:MDMObjectGroupCollection" />
  <xs:complexType name="ArrayOfMDMObjectGroup">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="MDMObjectGroup" nillable="true" type="tns:MDMObjectGroup" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfMDMObjectGroup" nillable="true" type="tns:ArrayOfMDMObjectGroup" />
  <xs:complexType name="MDMObjectGroup">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q18="http://mdmobjects.riversand.com/" base="q18:MDMObject">
        <xs:sequence>
          <xs:element minOccurs="0" name="IncludeAll" type="xs:boolean" />
          <xs:element minOccurs="0" name="IncludeEmpty" type="xs:boolean" />
          <xs:element minOccurs="0" name="MDMObjects" nillable="true" type="tns:MDMObjectCollection" />
          <xs:element minOccurs="0" name="ObjectType" type="q18:ObjectType" />
          <xs:element minOccurs="0" name="StartWith" type="xs:boolean" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="MDMObjectGroup" nillable="true" type="tns:MDMObjectGroup" />
  <xs:complexType name="MDMObjectCollection">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q19="http://schemas.datacontract.org/2004/07/MDM.Core" base="q19:InterfaceContractCollectionOfanyTypeMDMObject7cXCH591">
        <xs:sequence />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="MDMObjectCollection" nillable="true" type="tns:MDMObjectCollection" />
  <xs:complexType name="OutputSpecification">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q20="http://mdmobjects.riversand.com/" base="q20:MDMObject">
        <xs:sequence>
          <xs:element minOccurs="0" name="DataFormatter" nillable="true" type="tns:DataFormatter" />
          <xs:element minOccurs="0" name="DataSubscribers" nillable="true" type="tns:DataSubscriberCollection" />
          <xs:element minOccurs="0" name="ExportMasks" nillable="true" type="tns:LookupExportScopeCollection" />
          <xs:element minOccurs="0" name="OutputDataSpecification" nillable="true" type="tns:OutputDataSpecification" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="OutputSpecification" nillable="true" type="tns:OutputSpecification" />
  <xs:complexType name="DataFormatter">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q21="http://mdmobjects.riversand.com/" base="q21:MDMObject">
        <xs:sequence>
          <xs:element minOccurs="0" name="DataFormatterSettings" nillable="true" type="tns:DataFormatterSettingCollection" />
          <xs:element minOccurs="0" name="FileExtension" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="Type" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="DataFormatter" nillable="true" type="tns:DataFormatter" />
  <xs:complexType name="DataFormatterSettingCollection">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q22="http://schemas.datacontract.org/2004/07/MDM.Core" base="q22:InterfaceContractCollectionOfanyTypeDataFormatterSettingkIZLKYdt">
        <xs:sequence />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="DataFormatterSettingCollection" nillable="true" type="tns:DataFormatterSettingCollection" />
  <xs:complexType name="ArrayOfDataFormatterSetting">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="DataFormatterSetting" nillable="true" type="tns:DataFormatterSetting" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfDataFormatterSetting" nillable="true" type="tns:ArrayOfDataFormatterSetting" />
  <xs:complexType name="DataFormatterSetting">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q23="http://mdmobjects.riversand.com/" base="q23:ObjectBase">
        <xs:sequence>
          <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="Value" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="DataFormatterSetting" nillable="true" type="tns:DataFormatterSetting" />
  <xs:complexType name="DataSubscriberCollection">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q24="http://schemas.datacontract.org/2004/07/MDM.Core" base="q24:InterfaceContractCollectionOfanyTypeDataSubscriberkIZLKYdt">
        <xs:sequence />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="DataSubscriberCollection" nillable="true" type="tns:DataSubscriberCollection" />
  <xs:complexType name="ArrayOfDataSubscriber">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="DataSubscriber" nillable="true" type="tns:DataSubscriber" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfDataSubscriber" nillable="true" type="tns:ArrayOfDataSubscriber" />
  <xs:complexType name="DataSubscriber">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q25="http://mdmobjects.riversand.com/" base="q25:MDMObject">
        <xs:sequence>
          <xs:element minOccurs="0" name="FileName" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="Location" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="DataSubscriber" nillable="true" type="tns:DataSubscriber" />
  <xs:complexType name="LookupExportScopeCollection">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q26="http://schemas.datacontract.org/2004/07/MDM.Core" base="q26:InterfaceContractCollectionOfanyTypeLookupExportScopekIZLKYdt">
        <xs:sequence>
          <xs:element xmlns:q27="http://mdmobjects.riversand.com/" minOccurs="0" name="FileFormat" type="q27:LookupExportFileFormat" />
          <xs:element xmlns:q28="http://mdmobjects.riversand.com/" minOccurs="0" name="GroupBy" type="q28:LookupExportGroupOrder" />
          <xs:element minOccurs="0" name="IncludeAllLocale" type="xs:boolean" />
          <xs:element minOccurs="0" name="IncludeAllLookup" type="xs:boolean" />
          <xs:element xmlns:q29="http://mdmobjects.riversand.com/" minOccurs="0" name="Locales" nillable="true" type="q29:LocaleCollection" />
          <xs:element minOccurs="0" name="LookupExportScopes" nillable="true" type="tns:ArrayOfLookupExportScope" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="LookupExportScopeCollection" nillable="true" type="tns:LookupExportScopeCollection" />
  <xs:complexType name="ArrayOfLookupExportScope">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="LookupExportScope" nillable="true" type="tns:LookupExportScope" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfLookupExportScope" nillable="true" type="tns:ArrayOfLookupExportScope" />
  <xs:complexType name="LookupExportScope">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q30="http://mdmobjects.riversand.com/" base="q30:MDMObject">
        <xs:sequence>
          <xs:element minOccurs="0" name="ExportMask" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="LookupExportScope" nillable="true" type="tns:LookupExportScope" />
  <xs:complexType name="OutputDataSpecification">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q31="http://mdmobjects.riversand.com/" base="q31:MDMObject">
        <xs:sequence>
          <xs:element minOccurs="0" name="MDMObjectGroups" nillable="true" type="tns:MDMObjectGroupCollection" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="OutputDataSpecification" nillable="true" type="tns:OutputDataSpecification" />
  <xs:complexType name="ExecutionSpecification">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q32="http://mdmobjects.riversand.com/" base="q32:MDMObject">
        <xs:sequence>
          <xs:element minOccurs="0" name="ExecutionSettings" nillable="true" type="tns:ExecutionSettingCollection" />
          <xs:element minOccurs="0" name="TriggeringDataSpecification" nillable="true" type="tns:TriggeringDataSpecification" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="ExecutionSpecification" nillable="true" type="tns:ExecutionSpecification" />
  <xs:complexType name="ExecutionSettingCollection">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q33="http://schemas.datacontract.org/2004/07/MDM.Core" base="q33:InterfaceContractCollectionOfanyTypeExecutionSettingkIZLKYdt">
        <xs:sequence />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="ExecutionSettingCollection" nillable="true" type="tns:ExecutionSettingCollection" />
  <xs:complexType name="ArrayOfExecutionSetting">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ExecutionSetting" nillable="true" type="tns:ExecutionSetting" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfExecutionSetting" nillable="true" type="tns:ArrayOfExecutionSetting" />
  <xs:complexType name="ExecutionSetting">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q34="http://mdmobjects.riversand.com/" base="q34:ObjectBase">
        <xs:sequence>
          <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="Value" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="ExecutionSetting" nillable="true" type="tns:ExecutionSetting" />
  <xs:complexType name="TriggeringDataSpecification">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q35="http://mdmobjects.riversand.com/" base="q35:MDMObject">
        <xs:sequence>
          <xs:element minOccurs="0" name="MDMObjectGroups" nillable="true" type="tns:MDMObjectGroupCollection" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="TriggeringDataSpecification" nillable="true" type="tns:TriggeringDataSpecification" />
  <xs:complexType name="EntityExportUIProfileData">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:EntityExportProfileData">
        <xs:sequence>
          <xs:element minOccurs="0" name="CategoryAttributeIds" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="CommonAttributeIds" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="IncludeAllCategoryAttributeIds" type="xs:boolean" />
          <xs:element minOccurs="0" name="IncludeAllCommonAttributeIds" type="xs:boolean" />
          <xs:element minOccurs="0" name="IncludeAllRelationshipTypeIds" type="xs:boolean" />
          <xs:element minOccurs="0" name="LocaleIds" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="RelationshipTypeIds" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="EntityExportUIProfileData" nillable="true" type="tns:EntityExportUIProfileData" />
  <xs:complexType name="LookupExportProfile">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:ExportProfile">
        <xs:sequence>
          <xs:element minOccurs="0" name="LookupProfileData" nillable="true" type="tns:LookupExportProfileData" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="LookupExportProfile" nillable="true" type="tns:LookupExportProfile" />
  <xs:complexType name="LookupExportProfileData">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q36="http://mdmobjects.riversand.com/" base="q36:MDMObject">
        <xs:sequence />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="LookupExportProfileData" nillable="true" type="tns:LookupExportProfileData" />
  <xs:complexType name="LookupExportSyndicationProfileData">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:LookupExportProfileData">
        <xs:sequence>
          <xs:element minOccurs="0" name="ExecutionSpecification" nillable="true" type="tns:ExecutionSpecification" />
          <xs:element minOccurs="0" name="LookupExportScopes" nillable="true" type="tns:LookupExportScopeCollection" />
          <xs:element minOccurs="0" name="Notification" nillable="true" type="tns:Notification" />
          <xs:element minOccurs="0" name="OutputSpecification" nillable="true" type="tns:OutputSpecification" />
          <xs:element minOccurs="0" name="ProfileSettings" nillable="true" type="tns:ProfileSettingCollection" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="LookupExportSyndicationProfileData" nillable="true" type="tns:LookupExportSyndicationProfileData" />
  <xs:complexType name="TranslationExportProfile">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:ExportProfile">
        <xs:sequence>
          <xs:element minOccurs="0" name="DataObject" nillable="true" type="tns:TranslationExportProfileData" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="TranslationExportProfile" nillable="true" type="tns:TranslationExportProfile" />
  <xs:complexType name="TranslationExportProfileData">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q37="http://mdmobjects.riversand.com/" base="q37:MDMObject">
        <xs:sequence>
          <xs:element minOccurs="0" name="Notifications" nillable="true" type="tns:Notification" />
          <xs:element minOccurs="0" name="OutputSpecification" nillable="true" type="tns:OutputSpecification" />
          <xs:element minOccurs="0" name="ProfileSettings" nillable="true" type="tns:ProfileSettingCollection" />
          <xs:element minOccurs="0" name="ScopeSpecification" nillable="true" type="tns:ScopeSpecification" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="TranslationExportProfileData" nillable="true" type="tns:TranslationExportProfileData" />
  <xs:complexType name="EntityExportProfileCollection">
    <xs:sequence>
      <xs:element minOccurs="0" name="_profiles" nillable="true" type="tns:ArrayOfEntityExportProfile" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="EntityExportProfileCollection" nillable="true" type="tns:EntityExportProfileCollection" />
  <xs:complexType name="ArrayOfEntityExportProfile">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="EntityExportProfile" nillable="true" type="tns:EntityExportProfile" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfEntityExportProfile" nillable="true" type="tns:ArrayOfEntityExportProfile" />
  <xs:complexType name="ExportContext">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q38="http://mdmobjects.riversand.com/" base="q38:MDMObject">
        <xs:sequence>
          <xs:element xmlns:q39="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="AttributeIdList" nillable="true" type="q39:ArrayOfint" />
          <xs:element minOccurs="0" name="CatalogId" type="xs:int" />
          <xs:element xmlns:q40="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="EntityIdList" nillable="true" type="q40:ArrayOflong" />
          <xs:element minOccurs="0" name="ExportType" type="q38:ExportType" />
          <xs:element minOccurs="0" name="IncludeAllCategoryAttributeIds" type="xs:boolean" />
          <xs:element minOccurs="0" name="IncludeAllCommonAttributeIds" type="xs:boolean" />
          <xs:element minOccurs="0" name="IncludeAllRelationshipTypeIds" type="xs:boolean" />
          <xs:element minOccurs="0" name="LocaleIdList" nillable="true" type="q38:ArrayOfLocaleEnum" />
          <xs:element minOccurs="0" name="PageSource" type="q38:PageSource" />
          <xs:element xmlns:q41="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="RelationshipIdList" nillable="true" type="q41:ArrayOflong" />
          <xs:element xmlns:q42="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="RelationshipTypeIdList" nillable="true" type="q42:ArrayOfint" />
          <xs:element minOccurs="0" name="SearchCriteria" nillable="true" type="q38:SearchCriteria" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="ExportContext" nillable="true" type="tns:ExportContext" />
</xs:schema>