DataGovernanceStore/Libraries/MDMLibrarySolution/ServiceManager/MDM.Services.Client/Service References/MessageServiceClient/MessageService16.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/MDM.Core" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/MDM.Core" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:simpleType name="MessageType">
    <xs:restriction base="xs:string">
      <xs:enumeration value="Info" />
      <xs:enumeration value="Alert" />
      <xs:enumeration value="Workflow" />
      <xs:enumeration value="Custom" />
      <xs:enumeration value="Security" />
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="MessageType" nillable="true" type="tns:MessageType" />
  <xs:simpleType name="MessageFlag">
    <xs:restriction base="xs:string">
      <xs:enumeration value="Processed" />
      <xs:enumeration value="Pending" />
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="MessageFlag" nillable="true" type="tns:MessageFlag" />
  <xs:simpleType name="MessageState">
    <xs:restriction base="xs:string">
      <xs:enumeration value="Pending" />
      <xs:enumeration value="Complete" />
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="MessageState" nillable="true" type="tns:MessageState" />
</xs:schema>