DataGovernanceStore/Libraries/MDMLibrarySolution/ServiceManager/MDM.Services.Client/Service References/MessageServiceClient/MessageService8.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/MDM.BusinessObjects.Workflow" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/MDM.BusinessObjects.Workflow" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost/Development_WCFServices/MessageService.svc?xsd=xsd4" namespace="http://mdmobjects.riversand.com/" />
  <xs:complexType name="ArrayOfWorkflowMDMObject">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="WorkflowMDMObject" nillable="true" type="tns:WorkflowMDMObject" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfWorkflowMDMObject" nillable="true" type="tns:ArrayOfWorkflowMDMObject" />
  <xs:complexType name="WorkflowMDMObject">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q1="http://mdmobjects.riversand.com/" base="q1:MDMObject">
        <xs:sequence>
          <xs:element minOccurs="0" name="MDMObjectId" type="xs:long" />
          <xs:element minOccurs="0" name="MDMObjectType" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="WorkflowMDMObject" nillable="true" type="tns:WorkflowMDMObject" />
  <xs:complexType name="ArrayOfWorkflowInstance">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="WorkflowInstance" nillable="true" type="tns:WorkflowInstance" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfWorkflowInstance" nillable="true" type="tns:ArrayOfWorkflowInstance" />
  <xs:complexType name="WorkflowInstance">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q2="http://mdmobjects.riversand.com/" base="q2:MDMObject">
        <xs:sequence>
          <xs:element minOccurs="0" name="ActingUser" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="GroupId" type="xs:int" />
          <xs:element minOccurs="0" name="HasEscalation" type="xs:boolean" />
          <xs:element minOccurs="0" name="IsOnEscalation" type="xs:boolean" />
          <xs:element minOccurs="0" name="IsReadyForAction" type="xs:boolean" />
          <xs:element minOccurs="0" name="LastUpdatedDate" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="RuntimeInstanceId" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="ServiceId" type="xs:int" />
          <xs:element minOccurs="0" name="ServiceType" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="StartDate" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="Status" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="WorkflowComments" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="WorkflowId" type="xs:int" />
          <xs:element minOccurs="0" name="WorkflowMDMObjects" nillable="true" type="tns:WorkflowMDMObjectCollection" />
          <xs:element minOccurs="0" name="WorkflowName" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="WorkflowType" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="WorkflowVersionId" type="xs:int" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="WorkflowInstance" nillable="true" type="tns:WorkflowInstance" />
  <xs:complexType name="WorkflowMDMObjectCollection">
    <xs:sequence>
      <xs:element minOccurs="0" name="WorkflowMDMObjects" nillable="true" type="tns:ArrayOfWorkflowMDMObject" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="WorkflowMDMObjectCollection" nillable="true" type="tns:WorkflowMDMObjectCollection" />
  <xs:complexType name="ArrayOfEscalation">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Escalation" nillable="true" type="tns:Escalation" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfEscalation" nillable="true" type="tns:ArrayOfEscalation" />
  <xs:complexType name="Escalation">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q3="http://mdmobjects.riversand.com/" base="q3:MDMObject">
        <xs:sequence>
          <xs:element minOccurs="0" name="ActivityLongName" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="ActivityShortName" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="EscalatedFrom" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="EscalatedTo" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="EscalationLevel" type="tns:EscalationLevel" />
          <xs:element minOccurs="0" name="IsActive" type="xs:boolean" />
          <xs:element minOccurs="0" name="RuntimeInstanceId" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="WorkflowActivityId" type="xs:int" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="Escalation" nillable="true" type="tns:Escalation" />
  <xs:simpleType name="EscalationLevel">
    <xs:restriction base="xs:string">
      <xs:enumeration value="AlertUser" />
      <xs:enumeration value="EscalateToManager" />
      <xs:enumeration value="RemoveFromQueue" />
      <xs:enumeration value="None" />
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="EscalationLevel" nillable="true" type="tns:EscalationLevel" />
  <xs:complexType name="WorkflowBusinessRuleContext">
    <xs:sequence>
      <xs:element minOccurs="0" name="CurrentActivityLongName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CurrentActivityName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PreviousActivityActionContext" nillable="true" type="tns:WorkflowActionContext" />
      <xs:element minOccurs="0" name="WorkflowDataContext" nillable="true" type="tns:WorkflowDataContext" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="WorkflowBusinessRuleContext" nillable="true" type="tns:WorkflowBusinessRuleContext" />
  <xs:complexType name="WorkflowActionContext">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q4="http://mdmobjects.riversand.com/" base="q4:MDMObject">
        <xs:sequence>
          <xs:element minOccurs="0" name="ActingUserId" type="xs:int" />
          <xs:element minOccurs="0" name="ActingUserName" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="Comments" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="CurrentActivityLongName" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="CurrentActivityName" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="ExtendedProperties" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="NewlyAssignedUserId" type="xs:int" />
          <xs:element minOccurs="0" name="NewlyAssignedUserName" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="PreviousAssignedUserId" type="xs:int" />
          <xs:element minOccurs="0" name="PreviousAssignedUserName" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="UserAction" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="WorkflowLongName" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="WorkflowName" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="WorkflowActionContext" nillable="true" type="tns:WorkflowActionContext" />
  <xs:complexType name="WorkflowDataContext">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q5="http://mdmobjects.riversand.com/" base="q5:MDMObject">
        <xs:sequence>
          <xs:element minOccurs="0" name="Application" type="q5:MDMCenterApplication" />
          <xs:element minOccurs="0" name="ExtendedProperties" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="MDMObjectCollection" nillable="true" type="tns:WorkflowMDMObjectCollection" />
          <xs:element minOccurs="0" name="Module" type="q5:MDMCenterModules" />
          <xs:element minOccurs="0" name="WorkflowComments" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="WorkflowLongName" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="WorkflowName" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="WorkflowVersionId" type="xs:int" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="WorkflowDataContext" nillable="true" type="tns:WorkflowDataContext" />
</xs:schema>