DataGovernanceStore/Libraries/MDMLibrarySolution/ServiceManager/MDM.Services.Client/Service References/KnowledgeBaseServiceClient/KnowledgeBaseService5.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://wcfservices.riversand.com" elementFormDefault="qualified" targetNamespace="http://wcfservices.riversand.com" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost/MainLine_WCFServices/KnowledgeBaseService.svc?xsd=xsd2" namespace="http://mdmobjects.riversand.com/" />
  <xs:import schemaLocation="http://localhost/MainLine_WCFServices/KnowledgeBaseService.svc?xsd=xsd3" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
  <xs:element name="GetLocale">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="localeId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetLocaleResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://mdmobjects.riversand.com/" minOccurs="0" name="GetLocaleResult" nillable="true" type="q1:Locale" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAvailableLocales">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAvailableLocalesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://mdmobjects.riversand.com/" minOccurs="0" name="GetAvailableLocalesResult" nillable="true" type="q2:LocaleCollection" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetByOrg">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="orgId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetByOrgResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://mdmobjects.riversand.com/" minOccurs="0" name="GetByOrgResult" nillable="true" type="q3:LocaleCollection" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllLookupTableNames">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://mdmobjects.riversand.com/" minOccurs="0" name="callerContext" nillable="true" type="q4:CallerContext" />
        <xs:element xmlns:q5="http://mdmobjects.riversand.com/" minOccurs="0" name="lookupContext" nillable="true" type="q5:LookupContext" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllLookupTableNamesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="GetAllLookupTableNamesResult" nillable="true" type="q6:ArrayOfstring" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>