DataGovernanceStore/Libraries/MDMLibrarySolution/ServiceManager/MDM.Services.Client/Service References/KnowledgeBaseServiceClient/KnowledgeBaseService45.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://wcfservices.riversand.com" elementFormDefault="qualified" targetNamespace="http://wcfservices.riversand.com" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost/MainLine_WCFServices/KnowledgeBaseService.svc?xsd=xsd2" namespace="http://mdmobjects.riversand.com/" />
  <xs:element name="GetLocale">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="localeId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetLocaleResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://mdmobjects.riversand.com/" minOccurs="0" name="GetLocaleResult" nillable="true" type="q1:Locale" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>